{% extends "layout.html" %}

{% block content %}
  <main id="content" role="main">
    {% include "includes/main_nav.html" %}

    <div class="main-content">  
      <h1 class="heading-large">Settings - Caseload transfer</h1>

      {% set currentSettingsPage = 'bulkTransfer' %}
      {% include "includes/settings_menu.html" %}

      <p>Please select the cases from <span class="bold">Alice's</span> caseload to transfer to <span class="bold">Bob</span>.</p>

      <div class="grid-row">
        <div class="column-full">
          <form action="/latest/bulk_transfer_confirmation">      
            <div class="form-group">   
              <table>
                <thead>
                  <tr>
                    <th><input id="select-all" type="checkbox" name="select-all" value="true"/>All</th>
                    <th>NINo</th>
                    <th>Name</th>
                    <th>Benefit</th>
                    <th>Level of work coach support needed</th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in range(0, getData.resultsNumber | default(15)) %}
                    <tr>
                      <td>
                          <input type="checkbox" name="claimants_{{i}}" value=""/>
                      </td>
                      <td>AB123456</td>
                      <td>Boyle</td>
                      <td>JSA</td>
                      <td>Light touch</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

            <div class="form-group">
              <button class="button" id="continue-button" class="disabled" disabled="disabled">Continue</button>
              <a href="bulk_transfer" class="clear">Back</a>
            </div>
          </form>
        </div>  
      </div>        
    </div>
  </main>
{% endblock %}


{% block page_scripts%}
  <script src="/public/javascripts/bulkTransfer.js"></script>
{% endblock %}
