{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototyping kit
{% endblock %}

{% block propositionHeader %}
  {% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block content %}


<main id="content" role="main">
  <div class="grid-row">  
    {% include "includes/left_nav_settings.html" %}
    
    <!-- Start three quarters container for main content columns -->
    <div class="column-three-quarters">
      <h1 class="heading-large">&nbsp;&nbsp;Settings - Maintain record</h1>
      {% set currentSettingsPage = 'maintainRecord' %}
      {% include "includes/settings_menu.html" %}  

      <div class="column">
        <div class="column-half delete_record">   
          <div class="searchfield">
            <form action="delete_record_view" method="get" class="form">
              <label class="form-hint" for="nino">Enter a National Insurance or 12-digit reference number</label>
              <input type="search" id="nino" autocomplete="off" name="nino" autofocus="autofocus" class="js-search-focus">
              <a href="delete_record_view">
                <button id="search-submit" input="" type="submit" class="search-submit">Search</button>
              </a>
            </form>  
          </div>
        </div> 
      </div>    
    </div>
</main>
{% endblock %}



