{% extends "layout.html" %}
{% import "macros/forms.html" as forms %}

{% block content %}
<main id="content" role="main">
    {% set currentPage = 'whpSelection' %}
    {% include "includes/main_nav.html" %}

    <div class="main-content">
        <h1 class="heading-large">My Claimant Commitment</h1>

        {% set currentClaimantPage = 'commitment' %}

        <div>
            <span class="font-medium">
                Name : &nbsp; &nbsp; {{ sessionData.commitment.clientName }}
            </span>
        </div>
        <br>

        <div>
            <span class="font-medium">
                National Insurance Number : &nbsp; &nbsp; {{ sessionData.commitment.clientNino }}
            </span>
        </div>
        <br>
        <div>
            <span class="font-medium">
                Date of commitment : &nbsp; &nbsp; {{ sessionData.commitment.commitmentDate }}
            </span>
        </div>
        <br>

        <div>
            <span class="font-medium">
                Work capability assessment status : &nbsp; &nbsp; Post-WCA
            </span>
        </div>
        <br>
        <div>
            <span class="heading-medium">
                My commitment
            </span>
        </div>
        <br>

        <div>
            <p>My commitment is made up of actions I must do and voluntary actions.</p>
            <p class="heading-small">What I must do</p>
            <p>I must tell Jobcentre Plus (JCP) straight away about any change in my circumstances that could affect my claim. <br>
                I can do this by phoning 0345 608 8545 and select option 3 for Employment and Support Allowance. <br>
                I must go to and take part in work-focused interviews with my work coach if I am asked to. <br>
                I must do the things that I agree to do in my claimant commitment. <br>
                &nbsp; &nbsp; - &nbsp; &nbsp;Find out about changes JCP need to know about on gov.uk and search for ESA40. <br> </p>
            <p class="heading-small">Voluntary actions</p>
            <p>This means I don’t need to do them however, this a good chance for me to learn new skills, build my confidence <br>
                and increase my experience which can help me move closer to work when I’m able to.</p>

            <p class="heading-small">Attending work-focussed interviews</p>
            <p>I will go to and take part in interviews with my work coach if I’m asked to.  If I don’t go to and take part in my <br>
                work-focussed interviews my work coach and I will: <br>
                &nbsp; &nbsp;. &nbsp; &nbsp;agree if I <b>had a good reason</b>. This means I’ll keep getting my full ESA payments <br>
                &nbsp; &nbsp;. &nbsp; &nbsp;agree I <b>didn’t have a good reason</b>.  This means my benefit could be reduced.  We call this a sanction. <br><br>

                &nbsp; &nbsp; - &nbsp; &nbsp;I can find more information about sanctions on gov.uk and search for ESA sanctions. <br></p>

            <p class="heading-medium">Action Plan</p>
            <p class="heading-small">Voluntary actions</p>
            <p>We’ve filled in my with the actions we both agreed I <b>could</b> do.  I don’t have to do these actions, but they may <br>
                help me get into work when I’m able to in the future.</p>

            <p class="heading-small">What I must do</p>
            <p>We’ve filled in my plan with the actions we both agreed I must do.</p>
            <br>
            <table>
                <thead>
                    <tr>
                        <th class="bold column-one-quarter">Action</th>
                        <th class="bold column-one-quarter">How will I do this?</th>
                        <th class="bold column-one-quarter">When could I do this by?</th>
                        <th class="bold column-one-quarter">Is this a voluntary action or one I must do?</th>
                    </tr>
                </thead>
                <tbody>

                {% for action in sessionData.commitment.actionData %}
                    <tr>
                        <td class="column-one-quarter">{{ action.action }}</td>
                        <td class="column-one-quarter">{{ action.how }}</td>
                        <td class="column-one-quarter">{{ action.byWhen }}</td>
                        <td class="column-one-quarter">{{ action.volOrMand }}</td>
                    </tr>

                {% endfor %}

                </tbody>
            </table>

            <br>

            <p class="heading-small">Meeting my commitment</p>
            <p>1.&nbsp; &nbsp;  If my circumstances change and I don’t tell Jobcentre Plus straight away, I understand I could be paid the wrong amount of ESA. I may have: <br>
                &nbsp; &nbsp; .&nbsp; &nbsp; to pay back pay back any money I’ve been overpaid <br>
                &nbsp; &nbsp; .&nbsp; &nbsp; pay a financial penalty <br>
                &nbsp; &nbsp; .&nbsp; &nbsp; go to court.<br>
               2.&nbsp; &nbsp; I understand I can be sanctioned if I don’t go to or take part in my work-focussed interviews without a good reason.<br>
               3.&nbsp; &nbsp; I understand if I don’t agree to my claimant commitment my ESA payments could be stopped.<br>
               4.&nbsp; &nbsp; I accept and agree the content of my Claimant Commitment. <br>



            <div class="grid-row">
                <div class="column-full">
                    <a href="/latest/esa_claimant/viewCommitmentsSummary"><button class="button">View commitments summary</button></a>
                </div>
            </div>


    </div>
</main>
{% endblock %}






