{% extends "layout.html" %}
{% import "macros/forms.html" as forms %}

{% block content %}
<main id="content" role="main">
    {% set currentPage = 'whpSelection' %}
    {% include "includes/main_nav.html" %}

    <div class="main-content">
        <h1 class="heading-large">Create ESA Claimant Commitment - {{ data.commitment.clientName}}</h1>

        {% set currentClaimantPage = 'commitment' %}
        {% include "includes/summary_nav.html" %}

        <form class="form" method="post" action="/latest/esa_claimant/addCommitment">
            <div class="form-group">
                <label class="form-label">
                    <span class="heading-medium bold">
                     Have you had a work capability assessment (WCA)?
                    </span>
                </label>
                <div class="multiple-choice">
                    <input id="pre-wca" type="radio" name="wca" value="No">
                    <label for="pre-wca">No - I have not yet had a WCA</label>
                </div>
                <div class="multiple-choice">
                    <input id="post-wca" type="radio" name="wca" value="Yes">
                    <label for="post-wca">Yes - I have had a WCA</label>
                </div>
            </div>

            <div class="form-group">
                <label class="form-label">
                    <span class="heading-medium bold">
                     What actions can you commit to?
                    </span>
                </label>
            </div>

            {% set actionNum = 0 %}
            {% for actionNum in range(1, 11) -%}

                <div class="grid-row {{ '' if actionNum == 1 else 'js-hidden' }}">
                    <div class="form-group-compound list-item-wrapper">
                        <h2 class="heading-small">Commitment {{actionNum}}</h2>

                        <fieldset>
                            <div class="column-full no-padding">
                                <div class="form-group list-item">
                                    <label class="form-label" for="action-{{actionNum}}">
                                        Action
                                    </label>
                                    <textarea class="form-control" id="action-{{actionNum}}" name="action-{{actionNum}}" maxlength="500"></textarea>
                                    <!--<input type="text" class="form-control" id="action-{{actionNum}}" name="action-{{actionNum}}">-->
                                </div>
                            </div>

                            <div class="column-full no-padding">
                                <div class="form-group list-item">
                                    <label class="form-label" for="how-{{actionNum}}">
                                        How will I do this?
                                    </label>
                                    <textarea class="form-control" id="how-{{actionNum}}" name="how-{{actionNum}}" maxlength="500"></textarea>
                                    <!--<input type="text" class="form-control" id="how-{{actionNum}}" name="how-{{actionNum}}">-->
                                </div>
                            </div>

                            <div class="form-group list-item no-padding">
                                <fieldset>
                                        <span class="form-label">
                                        By when will I do this?
                                        </span>
                                        <span class="form-hint">
                                            e.g. by what date will you complete this action
                                        </span>
                                        <div class="form-date" id="when-{{actionNum}}">
                                            <div class="form-group form-group-day">
                                                <label class="form-label" for="whenDay-{{actionNum}}">Day</label>
                                                <input class="form-control" id="whenDay-{{actionNum}}" name="whenDay-{{actionNum}}" pattern="[0-9]*" min="0" max="31" type="number">
                                            </div>
                                            <div class="form-group form-group-month">
                                                <label class="form-label" for="whenMonth-{{actionNum}}">Month</label>
                                                <input class="form-control" id="whenMonth-{{actionNum}}" name="whenMonth-{{actionNum}}" pattern="[0-9]*" min="0" max="12" type="number">
                                            </div>
                                            <div class="form-group form-group-year">
                                                <label class="form-label" for="whenYear-{{actionNum}}">Year</label>
                                                <input class="form-control" id="whenYear-{{actionNum}}" name="whenYear-{{actionNum}}" pattern="[0-9]*" min="0" max="2025" type="number">
                                            </div>
                                        </div>
                                </fieldset>
                            </div>

                            <div class="column-full no-padding" id="volOrMandOptions-{{actionNum}}">
                                <div class="form-group">
                                    <label class="form-label"><span><br></span>
                                        Is this action voluntary or mandatory?
                                    </label>
                                    <div class="multiple-choice">
                                        <input id="vol-{{actionNum}}" type="radio" name="volOrMand-{{actionNum}}" value="Voluntary">
                                        <label for="vol-{{actionNum}}">I might do this (voluntary)</label>
                                    </div>
                                    <div class="multiple-choice">
                                        <input id="mand-{{actionNum}}" type="radio" name="volOrMand-{{actionNum}}" value="Mandatory">
                                        <label for="mand-{{actionNum}}">I must do this (mandatory)</label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>

            {%- endfor %}

            <div class="grid-row">
                <div class="column-two-thirds">
                    <div class="form-group">
                        <button id="add-button" class="button button-add-another">Add another commitment</button>
                    </div>
                </div>
            </div>

            <div class="grid-row">
                <div class="column-two-thirds">
                    <button class="button">Confirm and continue</button></a>
                </div>
            </div>
        </form>
    </div>
</main>
{% endblock %}

{% block page_scripts %}
<script src="/public/javascripts/esa-claimant.js"></script>
{% endblock %}





