{% extends "layout.html" %}

{% block content %}
  <main id="content" role="main">
    
    {% include "includes/main_nav.html" %}
    
    <div class="main-content">
      <h1 class="heading-large">WHP Selection -  Mr J Smith - {{ questionTitle }}</h1>     

      <div class="grid-row">
        {% set currentClaimantPage = 'selectionTool' %}
        {% include "includes/summary_nav.html" %}
      </div>
      
      <div class="grid-row">
        <div class="column-half">
          <h2 class="heading-small">WHP referral outcome</h2>

          <div class="panel panel-border-wide alert-warning">
            <p>Mr J Smith is not eligible to take part in the Work and Health Programme</p>
          </div>

          <h2 class="heading-small">This is because:</h2>
          <ul class="list list-bullet">
            <li>Individual has not self-declared a disability as defined in the Equality Act 2010</li>
            <li>Individual is in paid employment</li>
            <li>Individual has previously been on the Work and Health programme</li>
            <li>Individual has a basic skills need that can be met by the JCP offer</li>
            <li>Individual has not already benefited from the JCP offer</li>
            <li>Individual is expected to find work in the next 12 months with support of JCP offer</li>
            <li>Individual is unlikely to find employment in the next 12 months</li>
            <li>Individual does not have a realistic job goal</li>
            <li>Other provision available that is more suited to supporting the individual into work</li>
          </ul>

          <h2 class="heading-small">Next steps</h2>
          <p>Please continue to provide work coach support</p>

          <a href="/latest/job_record_confirm?whpStatus=Not eligible - 16 May 2017"" class="button">Continue</a>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
