{% extends "layout.html" %}

{% block content %}
  <main id="content" role="main">
    
    {% include "includes/main_nav.html" %}
    
    <div class="main-content">
      <h1 class="heading-large">WHP Selection -  Mr J Smith - {{ questionTitle }}</h1>     

      <div class="grid-row">
        {% set currentClaimantPage = 'selectionTool' %}
        {% include "includes/summary_nav.html" %}
      </div>
      
      <div class="grid-row">
        <div class="column-half">
          <h2 class="heading-small">WHP referral outcome</h2>

          <div class="panel panel-border-wide alert-warning">
            <p>Mr J Smith is not eligible to take part in the Work and Health Programme</p>
          </div>

          <h2 class="heading-small">This is because:</h2>
          <p>This customer has previously completed the Work and Health Programme</p>

          <h2 class="heading-small">Next steps</h2>
          <p>Please continue to provide work coach support</p>

          <a href="/latest/job_record_confirm" class="button">Continue</a>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
