{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototyping kit
{% endblock %}

{% block propositionHeader %}
  {% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/main_nav.html" %}

  <div class="main-content">     
    <h1 class="heading-large">Summary -  Mr J Smith</h1>   

    <div class="grid-row">
      {% set currentClaimantPage = 'summary' %}
      {% include "includes/summary_nav.html" %} 

      {% set appointmentSet = true %}
      {% include "includes/summary_table.html" %}
    </div>
  </div>
</main>
{% endblock %}



