{{<layout}}

{{$pageTitle}}
  GOV.UK prototyping kit
{{/pageTitle}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$content}}


<main id="content" role="main">

 <div class="grid-row">        

        <div class="column-quarter grid-col" style="padding-bottom:90px; padding-top:30px; margin-left:-40px">
              <ul class="main-nav">
                <li id="nav-home"><a href="job">Search</a></li>
                <li id="nav-job"><a href="job_new">Create record</a></li>
                <li id="nav-perf"><a href="performance">Caseload</a></li>
              </ul>
          </div> 

  <!-- Start three quarters container for main content columns -->
  <div class="column-three-quarters">

         <h1 class="heading-large">&nbsp;&nbsp;Edit claimant - day one</h1>

      <div class="column">   


        <!-- 3rd level nav buttons -->
            <div id="id-claimant-actions" class="grid-wrapper gutter-half-top">

              <div class="grid grid-1-5">
                  <div class="inner-block left">
                    <a id="view_record" href="job_record_confirm" class="menu-item">
                      <strong>View record</strong>
                    </a>
                  </div>
                </div>

                <div class="grid grid-1-5">
                  <div class="inner-block left">
                    <a id="edit_record" href="job_edit" class="menu-item selected">
                      <strong>Claimant</strong>
                    </a>
                  </div>
                </div>

               <div class="grid grid-1-5">
                  <div class="inner-block left">
                    <a id="appointments" href="job_next_new" class="menu-item">
                      <strong>Appointment</strong>
                    </a>
                  </div>
                </div>

                <div class="grid grid-1-5">
                  <div class="inner-block left">
                    <a id="claim_active" href="job_claim_active" class="menu-item">
                      <strong>Claim</strong>
                    </a>
                  </div>
                </div>

             </div> 

     </div>   

            <div class="column">
                <ul class="tabs" id="claimant_details">
                    <li><a href="job_edit">Basic record</a></li>
                    <li><a href="job_edit_details">Barriers</a></li>
                    <li><a href="job_edit_disability">Disability</a></li>
                    <li><a href="job_sector">Sector</a></li>
                    <li  class="selected"><a href="job_day_one">Day one</a></li>
                </ul> 
            </div>



    <div class="column-half">    

        <form method="post" class="group" id="form" data-parsley-validate>

             <div class="example">
                  <form>
                    <fieldset>
                    <legend class="form-label">Day one conditionality</legend>
                      <div class="form-group form-group-compound">
                        <!--  <label class="block-label" for="radio-indent-1">
                            <input id="radio-indent-1" type="radio" name="radio-indent-group" value="Yes">
                             Employer
                          </label> -->
                          <label class="block-label" for="radio-indent-2">
                            <input id="radio-indent-2" type="radio" name="radio-indent-group" value="No" checked>
                              Yes
                          </label>
                            <label class="block-label" data-target="example-ni-number" for="radio-indent-3">
                            <input id="radio-indent-3" type="radio" name="radio-indent-group" value="No" aria-controls="example-ni-number">
                              No
                          </label>
                        </div>
                      </fieldset>
                    </form>
                </div>

                <div class="panel-indent js-hidden" id="example-ni-number">    
                      <div class="form-group">
                         <p>Select all that apply</p>
                            <form>
                              <fieldset>
                                <legend class="visuallyhidden">Day one conditionality</legend>
                                  <label class="block-label" for="dis-1">
                                    <input id="dis-1" name="dis-1" type="checkbox" value="CV">
                                    CV
                                  </label>
                                     <label class="block-label" for="dis-2">
                                    <input id="dis-2" name="dis-2" type="checkbox" value="Email address">
                                    Email address
                                  </label>
                                     <label class="block-label" for="dis-3">
                                    <input id="dis-3" name="dis-3" type="checkbox" value="Universal Jobmatch">
                                    Universal Jobmatch
                                  </label>
                              </fieldset>
                            </form>
                        </div>
                                <div class="form-group" id="save">
                                  <a href="job_record_confirm" class="button" value="Save">Save</a>
                                </div>
                 </div>       

      </div>
      <!-- End col -->

      <!-- Start col -->      
      <div class="column-half">    



       <!-- End column-->       
       </div>

                <!-- <div class="column">
                  <div class="form-group" id="get-started">
                     <a href="job_record_confirm" class="button" value="Save">Save</a>
                  </div>
                </div> -->

          </form>      

  <!-- End three quarters column-->       
   </div>  

 

    <!-- End row-->       
      </div>


</main>

<script src="/public/javascripts/jquery-1.11.0.min.js"></script> 

{{/content}}

{{/layout}}

