{% extends "layout.html" %}

{% block propositionHeader %}
  {% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% include "includes/main_nav.html" %}   

    <div class="main-content">
      <h1 class="heading-large">Update appointment - Mr J Smith</h1>  
      
      <div class="grid-row">

        {% set currentClaimantPage = 'appointments' %}
        {% include "includes/summary_nav.html" %}  

        <div class="column-half">   
          <div class="form-group">
            <table>
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Update</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>23/10/15</td>
                  <td>11:45</td>
                  <td>
                    <select class="select form-control" id="update">
                      <option value="Select">Select</option>
                      <option value="Failed to attend">Failed to attend</option>
                      <option value="Attended">Attended</option>
                      <option value="Immediate">Immediate</option>
                      <option value="Rebook">Rebook</option>
                    </select>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>    

          <div class="form-group">
            <a href="job_next_new" class="button" value="Submit">Save</a>
          </div>
        </div>
      </div>      
    </div>
  </main>
{% endblock %}



