{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototyping kit
{% endblock %}

{% block propositionHeader %}
  {% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">
    
  {% set currentPage = 'createNew' %}
  {% include "includes/main_nav.html" %}

  <div class="main-content">
    <h1 class="heading-large">Create claimant - page 1 of 3</h1>

    <form>
      <div class="grid-row">
        <div class="column-one-third">
          <div class="form-group">
            <label class="form-label" for="nino">National Insurance number</label>
            <input class="form-control" id="nino" type="text">
          </div>

          <div class="form-group">
            <label class="form-label" for="inital">Initial</label>
            <input class="form-control" id="inital" type="text">
          </div> 

          <div class="form-group">
            <label class="form-label" for="Surname">Surname</label>
            <input class="form-control" id="Surname" type="text">
          </div>  
        
          <div class="form-group">
            <fieldset>
              <legend>
                <span class="form-label">Date of birth</span>
              </legend>
              <div class="form-date">
                <p class="form-hint">For example, 03 1980</p>

                <div class="form-group form-group-month">
                  <label for="dob-month">Month</label>
                  <input class="form-control" id="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
                </div>

                <div class="form-group form-group-year">
                  <label for="dob-year">Year</label>
                  <input class="form-control" id="dob-year" type="number" pattern="[0-9]*" min="0" max="2014">
                </div>
              </div>
            </fieldset>
          </div>
        </div>

        <div class="column-one-third">    

          <div class="form-group-related">
            <label class="form-label" for="email">Email address</label>
            <input class="form-control" id="email" type="text"><br>
          </div>
          <div class="form-group">
            <label class="block-label selection-button-radio" for="contact">
              <input id="contact" name="contact" type="checkbox" value="Do not contact">
              Do not contact
            </label>            
          </div>  

          <div class="form-group-related">
            <label class="form-label" for="mobile">Mobile number</label>
            <input class="form-control" id="mobile" type="text"><br>
          </div>
          <div class="form-group">
            <label class="block-label selection-button-radio" for="contact1">
              <input id="contact1" name="contact1" type="checkbox" value="Do not contact">
              Do not contact
            </label>               
          </div>   

          <div class="form-group">
            <fieldset>
              <legend><span class="form-label">Postcode</span>
              </legend>
              
              <div class="form-postcode">
                <p class="form-hint">For example, WR1&nbsp;&nbsp;5</p>
                <div class="form-group form-group-area">
                  <input class="form-control" id="area">
                </div>
                <div class="form-group form-group-local">
                  <input class="form-control" id="local">
                </div>
              </div>
            </fieldset>
          </div>

          <div class="form-group">
            <label class="form-label" for="mobile">Prefers communications in Welsh</label>
            <fieldset class="inline">
              <label class="block-label selection-button-radio" for="yes">
                <input id="yes" name="yes" type="radio" value="yes">
                Yes
              </label>
              <label class="block-label selection-button-radio" for="no">
                <input id="no" name="no" type="radio" value="no">
                No
              </label>
            </fieldset>
          </div>   
        </div>       
      </div>

      <div class="grid-row">
        <div class="column-full">
          <div class="form-group" id="continue">
            <a href="job_new_step2" class="button" value="Continue">Continue</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</main>
{% endblock %}



