{{<layout}}

{{$pageTitle}}
  GOV.UK prototyping kit
{{/pageTitle}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$content}}


<main id="content" role="main">

 <div class="grid-row">        

        <div class="column-quarter grid-col" style="padding-bottom:90px; padding-top:30px; margin-left:-40px">
              <ul class="main-nav">
                <li id="nav-home"><a href="job">Search</a></li>
                <li id="nav-job"><a href="job_new">Create record</a></li>
                <li id="nav-perf"><a href="performance">Caseload</a></li>
              </ul>
          </div> 

  <!-- Start three quarters container for main content columns -->
  <div class="column-three-quarters">

         <h1 class="heading-large">&nbsp;&nbsp;Edit sector preference</h1>

      <div class="column">   


        <!-- 3rd level nav buttons -->
            <div id="id-claimant-actions" class="grid-wrapper gutter-half-top">

              <div class="grid grid-1-5">
                  <div class="inner-block left">
                    <a id="view_record" href="job_record_confirm" class="menu-item">
                      <strong>View record</strong>
                    </a>
                  </div>
                </div>

                <div class="grid grid-1-5">
                  <div class="inner-block left">
                    <a id="edit_record" href="job_edit" class="menu-item selected">
                      <strong>Claimant</strong>
                    </a>
                  </div>
                </div>

               <div class="grid grid-1-5">
                  <div class="inner-block left">
                    <a id="appointments" href="job_next_new" class="menu-item">
                      <strong>Appointment</strong>
                    </a>
                  </div>
                </div>

                <div class="grid grid-1-5">
                  <div class="inner-block left">
                    <a id="claim_active" href="job_claim_active" class="menu-item">
                      <strong>Claim</strong>
                    </a>
                  </div>
                </div>

             </div> 

     </div>   

            <div class="column">
                <ul class="tabs" id="claimant_details">
                    <li><a href="job_edit_confirm">View record</a></li>
                    <li><a href="job_edit">Edit record</a></li>                    
                    <li><a href="job_edit_details">Barriers</a></li>
                    <li><a href="job_edit_disability">Disability</a></li>
                    <li class="selected"><a href="job_sector">Sector</a></li>
                    <li><a href="job_day_one">Day one</a></li>
                    <li><a href="job_prog">Programmes</a></li>
  <!--   <li><a href="job_exp">Experience</a></li>   
                    <li><a href="job_vol">Voluntary</a></li>   -->                
                </ul> 
            </div>

    <div class="column-half">    

        <form method="post" class="group" id="form" data-parsley-validate>
  
                  <div class="form-group">
                <!--    <p>Select enter an industry sector</p> -->

                          <form>

                             <div class="form-group">
                             <label class="form-label" for="jobcentre">Industry sector</label>
                              <select class="select form-control">
                                  <option value="Select">Select</option>
                                  <option value="Accounting/finance">Accounting/finance</option>
                                  <option value="Administrative/clerical">Administrative/clerical</option>
                                  <option value="Building construction/skilled trades">Building construction/skilled trades</option>
                                  <option value="Business/strategic management">Business/strategic management</option>
                                  <option value="Creative/design">Creative/design</option>
                                  <option value="Customer support/client care">Customer support/client care</option>
                                  <option value="Editorial/writing">Editorial/writing</option>    
                                  <option value="Engineering">Engineering</option> 
                                  <option value="Food services/hospitality">Food services/hospitality</option>
                                  <option value="Human resources">Human resources</option>
                                  <option value="Installation/maintenance/repair">Installation/maintenance/repair</option>
                                  <option value="Legal">Logistics/transportation</option>
                                  <option value="Logistics/transportation">Logistics/transportation</option>
                                  <option value="Marketing/product">Marketing/product</option>
                                  <option value="Medical/health">Medical/health</option>    
                                  <option value="Other">Other</option>   
                                  <option value="Production/operations">Production/operations</option>
                                  <option value="Project/program management">Project/program management</option>   
                                  <option value="Quality assurance/safety">Quality assurance/safety</option>   
                                  <option value="R&D/science">R&amp;D/science</option>   
                                  <option value="Sales/business development">Sales/business development</option>   
                                  <option value="Security/protective services">Security/protective services</option>   
                                  <option value="Training/instruction">Training/instruction</option>   
                                </select>     

                    </div>

                         <!--     <div class="form-group">
                                <label class="form-label" for="nino">Notes</label>
                                <textarea class="form-control" id="textarea" rows="10"></textarea>
                              </div> -->

                                <div class="form-group" id="save">
                                  <a href="job_edit_confirm" class="button" value="Save">Save</a>
                                </div>

                            </form>

              </div>    



      </div>
      <!-- End col -->

      <!-- Start col -->      
      <div class="column-half">    



       <!-- End column-->       
       </div>

           <!--     <div class="column">
                  <div class="form-group" id="get-started">
                     <a href="job_record_confirm" class="button" value="Save">Save</a>
                  </div>
                </div> -->

          </form>      

  <!-- End three quarters column-->       
   </div>  

 

    <!-- End row-->       
      </div>


</main>

<script src="/public/javascripts/jquery-1.11.0.min.js"></script> 

{{/content}}

{{/layout}}

