{{<layout}}

{{$pageTitle}}Admin screen{{/pageTitle}}


{{$content}}

<main id="content" role="main">


   <h1 class="heading-large">Password confirmation</h1>

   <div class="grid-row">

    <div class="column-three-quarters">

     <div class="form-group">
         <p>Please click inside the box below.<br>
          Then copy and paste this password into an email to your manager.</p>
        
    <!--   <p class="bold login_pass">****************************************************************</p> -->
      
       <form name="select_all">
          <textarea name="text_area" class="login_pass" onClick="javascript:this.form.text_area.focus();this.form.text_area.select();">****************************************************************</textarea>
      </form> 

      <br>

      <details>
        <summary role="button"><span class="summary">Instructions</span></summary>
        <div class="panel-indent">
          <ol class="list-number">
              <li>Click inside the box. The whole password should automatically be highlighted.</li>
              <li>Copy the highlighted password ('right click + Copy' using your mouse, or 'Ctrl + c' on your keyboard).</li>
              <li>Paste the copied password ('right click + Paste' using your mouse, or 'Ctrl + v' on your keyboard) into an email.</li>
              <li>Send the email, with the pasted password, to your manager.</li>
           </ol>  
        </div>
      </details>

  <details>
    <summary><span class="summary">Help with pension types</span></summary>
    <div class="panel-indent">
     <ul class="list-bullet">
        <li>A personal pension is a way of saving for retirement that is independent of an employer</li>
        <li>A workplace pension is a way of saving for retirement that’s arranged by an employer.<br>
        Some are called ‘occupational’, ‘works’, ‘company’ or ‘work-based’ pensions.</li>
     </ul>
     <p>Further information is available <a rel="external" target="_blank" href="https://www.gov.uk/plan-retirement-income/private-pensions" title="Further information link">on this page</a></p>   
    </div>
  </details>

    </div> 

      <div class="form-group">
         <a href="login" class="button" value="Done">Done</a>
      </div>   

    </div>
    <!-- End column -->

  </div>
  <!-- End row -->


</main>
{{/content}}

{{/layout}}

