{% extends "layout.html" %}

{% block page_title %}Admin screen{% endblock %}

{% block content %}
<main id="content" role="main">


  <h1 class="heading-large">Sign in</h1>

  <div class="grid-row">

    <div class="column-half">

            <div class="form-group">
                <label class="form-label" for="ni-number">Username</label>
                <input class="form-control" id="ni-number" type="text">
             </div>     

            <div class="form-group">
              <label class="form-label" for="middle-name">Password</label>
              <input class="form-control" id="middle-name" type="text">
            </div>  

            <div class="form-group">
                <a href="job" class="button button-get-started" value="Login">
                Login</a>
            </div>

            <p><a href="new_password">New user or forgotten password?</a></p>

     </div>   

    </div>

  </div>



</main>
{% endblock %}



