<div class="grid-row">
  <div class="column-quarter">
    <div class="form-group">
      <label class="form-label" for="jobcentre">Jobcentre</label>
      <select class="select form-control">
        <option value="Select">Select</option>
        <option value="Bradford">Bradford</option>
        <option value="Derby">Derby</option>
        <option value="Liverpool">Liverpool</option>
        <option value="Manchester">Manchester</option>
        <option value="Portsmouth">Portsmouth</option>
        <option value="Southampton">Southampton</option>
        <option value="Wolverhampton">Wolverhampton</option>    
        <option value="Worcester">Worcester</option>                     
      </select>     
    </div>
  </div>

  <div class="column-quarter">
    <div class="form-group">
      <label class="form-label" for="Work coach">{% if getData.performanceReportType === 'team' %}Team{%else%}Work coach{%endif%}</label>

      <div class="filter checkbox-filter js-openable-filter" tabindex="0">                       
        <div class="checkbox-container" id="organisations-filter">
          <label for="All">
              <input id="All" name="All" type="checkbox" value="All">
              All
          </label>
          {% if getData.performanceReportType === 'team' %}
            {% for team in sessionData.teams%}
              <label for="{{team.name}}">
                <input id="{{team.name}}" name="{{team.name}}" type="checkbox" value="{{team.name}}"/>
                {{team.name}}
              </label>
            {% endfor %}
          {% else %}
            {% for workcoach in sessionData.workcoaches%}
              <label for="{{workcoach}}">
                <input id="{{workcoach}}" name="{{workcoach}}" type="checkbox" value="{{workcoach}}"/>
                {{workcoach}}
              </label>
            {% endfor %}
          {% endif %}  
        </div>
      </div>
    </div>
  </div>

  <div class="column-quarter filter-fields">
    <div class="form-group">
      <label class="form-label" for="benefit">Benefit type</label>
      <div class="dropdown">
        <select name="select" class="form-control dropdown-list" id="benefit">
          <option value="Select">Select</option>
          <option data-number-of-cohorts="17" value="Jobseekers Allowance">Jobseekers Allowance</option> 
          <option data-number-of-cohorts="18" value="Employment Support Allowance - all">Employment Support Allowance - All</option>
          <option data-number-of-cohorts="18" value="Employment Support Allowance - work group">Employment Support Allowance - Work Related Activity Group</option>
          <option data-number-of-cohorts="18" value="Employment Support Allowance - support group">Employment Support Allowance - Support Group</option>
          <option data-number-of-cohorts="18" value="Employment Support Allowance - pre-assessment">Employment Support Allowance - Pre-assessment</option>
          <option data-number-of-cohorts="17" value="Income Support - all">Income Support - All</option>
          <option data-number-of-cohorts="17" value="Income Support - lone parent">Income Support - Lone parent</option>
          <option data-number-of-cohorts="17" value="Income Support - carer">Income Support - Carer</option>
          <option data-number-of-cohorts="17" value="Income Support- pregnant">Income Support - Pregnant</option>
          <option data-number-of-cohorts="17" value="Income Support- student">Income Support - Student</option>
        </select>
      </div>
    </div>
  </div>
      
  <div class="column-quarter filter-fields">
    <div class="form-group">
      <label class="form-label" for="full-name">Age group</label>
      <div class="dropdown">
        <select name="select" class="form-control dropdown-list" id="full-name">
          <option value="Select">Select</option>   
          <option value="All" selected="">All</option>
          <option value="18-24">18-24</option> 
          <option value="24-49">25+</option>
          <option value="50+">50+</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="grid-row">
  <div class="column-quarter" id="cohortMonthSinglePrevious17" 
    data-type="cohortInput" data-selection-type="single" data-number-of-cohorts="17" >
    <div class="form-group">
      <label class="form-label" for="months">Cohort month</label>
      <div class="dropdown">
        <select name="cohortMonthSinglePrevious17" class="form-control dropdown-list" id="months">
          <option value="Select">Select</option>   
          <option value="March 2016">March 2016 (Current)</option>                   
          <option value="February 2016">February 2016 (17)</option>                   
          <option value="January 2016">January 2016 (16)</option>                               
          <option value="December 2015">December 2015 (15)</option>   
          <option value="November 2015">November 2015 (14)</option>
          <option value="October 2015">October 2015 (13)</option>
          <option value="September 2015">September 2015 (12)</option>
          <option value="August 2015">August 2015 (11)</option>
          <option value="July 2015">July 2015 (10)</option>
          <option value="June 2015">June 2015 (9)</option>
          <option value="May 2015">May 2015 (8)</option>
          <option value="April 2015">April 2015 (7)</option>
          <option value="March 2015">March 2015 (6)</option>
          <option value="March 2015">February 2015 (5)</option>
          <option value="March 2015">January 2015 (4)</option>
          <option value="March 2015">December 2014 (3)</option>
          <option value="March 2015">November 2014 (2)</option>
          <option value="March 2015">October 2014 (1)</option>                   
        </select>
      </div>
    </div>
  </div>

  <div class="column-quarter" id="cohortMonthMultiPrevious17" 
    data-type="cohortInput" data-selection-type="multi" data-number-of-cohorts="17">
    <div class="form-group">
      <label class="form-label" for="months">Cohort month</label>
      
      <div class="filter checkbox-filter js-openable-filter" tabindex="0">                       
        <div class="checkbox-container">
          <label for="All">
              <input id="All" name="All" type="checkbox" value="All">
              All
          </label>
          <label for="March2016">
              <input id="March2016" name="cohortMonthMultiPrevious17" type="checkbox" value="March2106">
              March 2016 (Current)
          </label>
          <label for="February2016">
              <input id="January2016" name="cohortMonthMultiPrevious17" type="checkbox" value="john.smith2">
              February 2016 (17)
          </label>
          <label for="January2016">
              <input id="January2016" name="cohortMonthMultiPrevious17" type="checkbox" value="January2016">
              January 2016 (16)
          </label>
          <label for="December2016">
              <input id="December2016" name="cohortMonthMultiPrevious17" type="checkbox" value="December2016">
              December 2015 (15)
          </label>
          <label for="November2015">
              <input id="November2015" name="cohortMonthMultiPrevious17" type="checkbox" value="November2015">
              November 2015 (14)
          </label>
          <label for="October2015">
              <input id="October2015" name="cohortMonthMultiPrevious17" type="checkbox" value="October2015">
              October 2015 (13)
          </label>
          <label for="September2015">
              <input id="September2015" name="cohortMonthMultiPrevious17" type="checkbox" value="September2015">
              September 2015 (12)
          </label>
          <label for="August2015">
              <input id="August2015" name="cohortMonthMultiPrevious17" type="checkbox" value="August2015">
              August 2015 (11)
          </label>
          <label for="July2015">
              <input id="July2015" name="cohortMonthMultiPrevious17" type="checkbox" value="July2015">
              July 2015 (10)
          </label>
          <label for="June2015">
              <input id="June2015" name="cohortMonthMultiPrevious17" type="checkbox" value="June2015">
              June 2015 (9)
          </label>
          <label for="May2015">
              <input id="May2015" name="cohortMonthMultiPrevious17" type="checkbox" value="May2015">
              May 2015 (8)
          </label>
          <label for="April2015">
              <input id="April2015" name="cohortMonthMultiPrevious17" type="checkbox" value="April2015">
              April 2015 (7)
          </label>
          <label for="March2015">
              <input id="March2015" name="cohortMonthMultiPrevious17" type="checkbox" value="March2015">
              March 2015 (6)
          </label>
          <label for="February2015">
              <input id="February2015" name="cohortMonthMultiPrevious17" type="checkbox" value="February2015">
              February 2015 (5)
          </label>
          <label for="January2015">
              <input id="January2015" name="cohortMonthMultiPrevious17" type="checkbox" value="January2015">
              January 2015 (4)
          </label>
          <label for="December2014">
              <input id="December2014" name="cohortMonthMultiPrevious17" type="checkbox" value="December2014">
              December 2014 (3)
          </label>
          <label for="November2014">
              <input id="November2014" name="cohortMonthMultiPrevious17" type="checkbox" value="November2014">
              November 2014 (2)
          </label>
          <label for="October2014">
              <input id="October2014" name="cohortMonthMultiPrevious17" type="checkbox" value="October2014">
              October 2014 (1)
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="column-quarter" id="cohortMonthSinglePrevious18" 
    data-type="cohortInput" data-selection-type="single" data-number-of-cohorts="18">
    <div class="form-group">
      <label class="form-label" for="months">Cohort month</label>
      <div class="dropdown">
        <select name="cohortMonthSinglePrevious18" class="form-control dropdown-list" id="months">
          <option value="Select">Select</option>   
          <option value="March 2016">March 2016 (Current)</option>                   
          <option value="February 2016">February 2016 (18)</option>                   
          <option value="January 2016">January 2016 (17)</option>                               
          <option value="December 2015">December 2015 (16)</option>   
          <option value="November 2015">November 2015 (15)</option>
          <option value="October 2015">October 2015 (14)</option>
          <option value="September 2015">September 2015 (13)</option>
          <option value="August 2015">August 2015 (12)</option>
          <option value="July 2015">July 2015 (11)</option>
          <option value="June 2015">June 2015 (10)</option>
          <option value="May 2015">May 2015 (9)</option>
          <option value="April 2015">April 2015 (8)</option>
          <option value="March 2015">March 2015 (7)</option>
          <option value="March 2015">February 2015 (6)</option>
          <option value="March 2015">January 2015 (5)</option>
          <option value="March 2015">December 2014 (4)</option>
          <option value="March 2015">November 2014 (3)</option>
          <option value="March 2015">October 2014 (2)</option>  
          <option value="March 2015">September 2014 (1)</option>              
        </select>
      </div>
    </div>
  </div>

  <div class="column-quarter" id="cohortMonthMultiPrevious18" 
    data-type="cohortInput" data-selection-type="multi" data-number-of-cohorts="18">
    <div class="form-group">
      <label class="form-label" for="months">Cohort month</label>
      
      <div class="filter checkbox-filter js-openable-filter" tabindex="0">                       
        <div class="checkbox-container">
          <label for="All">
              <input id="All" name="All" type="checkbox" value="All">
              All
          </label>
          <label for="March2016">
              <input id="March2016" name="cohortMonthMultiPrevious18" type="checkbox" value="March2106">
              March 2016 (Current)
          </label>
          <label for="February2016">
              <input id="January2016" name="cohortMonthMultiPrevious18" type="checkbox" value="john.smith2">
              February 2016 (18)
          </label>
          <label for="January2016">
              <input id="January2016" name="cohortMonthMultiPrevious18" type="checkbox" value="January2016">
              January 2016 (17)
          </label>
          <label for="December2016">
              <input id="December2016" name="cohortMonthMultiPrevious18" type="checkbox" value="December2016">
              December 2015 (16)
          </label>
          <label for="November2015">
              <input id="November2015" name="cohortMonthMultiPrevious18" type="checkbox" value="November2015">
              November 2015 (15)
          </label>
          <label for="October2015">
              <input id="October2015" name="cohortMonthMultiPrevious18" type="checkbox" value="October2015">
              October 2015 (14)
          </label>
          <label for="September2015">
              <input id="September2015" name="cohortMonthMultiPrevious18" type="checkbox" value="September2015">
              September 2015 (13)
          </label>
          <label for="August2015">
              <input id="August2015" name="cohortMonthMultiPrevious18" type="checkbox" value="August2015">
              August 2015 (12)
          </label>
          <label for="July2015">
              <input id="July2015" name="cohortMonthMultiPrevious18" type="checkbox" value="July2015">
              July 2015 (11)
          </label>
          <label for="June2015">
              <input id="June2015" name="cohortMonthMultiPrevious18" type="checkbox" value="June2015">
              June 2015 (10)
          </label>
          <label for="May2015">
              <input id="May2015" name="cohortMonthMultiPrevious18" type="checkbox" value="May2015">
              May 2015 (9)
          </label>
          <label for="April2015">
              <input id="April2015" name="cohortMonthMultiPrevious18" type="checkbox" value="April2015">
              April 2015 (8)
          </label>
          <label for="March2015">
              <input id="March2015" name="cohortMonthMultiPrevious18" type="checkbox" value="March2015">
              March 2015 (7)
          </label>
          <label for="February2015">
              <input id="February2015" name="cohortMonthMultiPrevious18" type="checkbox" value="February2015">
              February 2015 (6)
          </label>
          <label for="January2015">
              <input id="January2015" name="cohortMonthMultiPrevious18" type="checkbox" value="January2015">
              January 2015 (5)
          </label>
          <label for="December2014">
              <input id="December2014" name="cohortMonthMultiPrevious18" type="checkbox" value="December2014">
              December 2014 (4)
          </label>
          <label for="November2014">
              <input id="November2014" name="cohortMonthMultiPrevious18" type="checkbox" value="November2014">
              November 2014 (3)
          </label>
          <label for="October2014">
              <input id="October2014" name="cohortMonthMultiPrevious18" type="checkbox" value="October2014">
              October 2014 (2)
          </label>
          <label for="September2014">
              <input id="September2014" name="cohortMonthMultiPrevious18" type="checkbox" value="September2014">
              September 2014 (1)
          </label>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="grid-row">
  <div class="column-quarter">
    <div class="form-group filter-button">
      <button id="searchButton" class="button">Search</button>
    </div>
    <div class="form-group filter-button">
      <a id="clearFilter" class="clear" href="#">Clear filter</a>
    </div>
  </div>
</div>

<input type="hidden" id="performance-report-type" value="{{getData.performanceReportType}}" />