{% extends "layout.html" %}

{% block content %}
  <main id="content" role="main">
    {% set currentPage = 'mangerView' %}
    {% include "includes/main_nav.html" %}

    <div class="main-content">  
      {% include "latest/manager_performance_nav.html" %}

      <h1 class="heading-large">{% if getData.performanceReportType === 'team' %}Team{%else%}Work coach{%endif%} performance</h1>

      {% include "latest/manager_view_filter_partial.html" %}
    </div>  
  </main>
{% endblock %}

{% block page_scripts%}
  <script src="/public/javascripts/workcoachPerformance.js"></script>
{% endblock %}
