{% extends "layout.html" %}

{% block content %}
  <main id="content" role="main">
    {% set currentPage = 'mangerView' %}
    {% include "includes/main_nav.html" %}

    <div class="main-content">
      {% include "latest/manager_performance_nav.html" %}  
      
      <h1 class="heading-large">{% if getData.performanceReportType === 'team' %}Yellow team{%else%}William Conroy{%endif%} performance - Jobseeker's Allowance</h1>   

      <details>
        <summary><span class="summary">Show/hide filters</span></summary>

        <div>
          {% include "latest/manager_view_filter_partial.html" %}
        </div>
      </details>

      <div class="grid-row">
        <div class="column-full">   
          <table class="dataTable">
            <thead>
              <tr>
                <th>&nbsp;</th>
                <th class="nino no-sort">Claims opened</th>
                <th class="nino no-sort">Claims closed</th>
                <th class="nino no-sort">&#37; achieved</th>  
                <th class="nino no-sort">&#37; into work</th>      
                <th class="nino no-sort">Claim closures required to reach standard</th>                  
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>April</td>
                <td>6</td>
                <td>3</td>
                <td>50</td>
                <td>50</td>
                <td><a href="/latest/performance_jsa">5 (13 weeks)</a></td>
              </tr>
              <tr>
                <td>May</td>
                <td>5</td>
                <td>2</td>
                <td>40</td>
                <td>40</td>
                <td><a href="/latest/performance_jsa">4 (52 weeks)</a></td>
              </tr>
              <tr>
                <td>June</td>
                <td>7</td>
                <td>3</td>
                <td>42.85</td>
                <td>42.85</td>
                <td><a href="/latest/performance_jsa">3 (26 weeks)</a></td>
              </tr>
              <tr>
                <td class="year_date">Total</td>
                <td class="year_date">70</td>
                <td class="year_date">35</td>
                <td class="year_date">45</td>
                <td class="year_date">45</td>
                <td class="year_date">36</td>
              </tr>
            </tbody>
          </table>
        </div> 
      </div>  
    </div>
  </main>
{% endblock %}

{% block page_scripts %}
  <script src="/public/javascripts/workcoachPerformance.js"></script>
{% endblock %}


