{% extends "layout.html" %}

{% block propositionHeader %}
  {% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% set currentPage = 'dashboard' %}
    {% include "includes/main_nav.html" %}

    <div class="main-content"> 
      <h1 class="heading-large">Liverpool - March 2016 reporting month (29/04 - 26/05)</h1>  

      <div class="grid-row">
        <div class="column-third dash">
          <div class="form-group">
            <label class="form-label" for="jobcentre">Jobcentre</label>
            <select class="select form-control">
              <option value="Select">Select</option>
              <option value="Bradford">Bradford</option>
              <option value="Derby">Derby</option>
              <option value="Liverpool" selected>Liverpool</option>
              <option value="Manchester">Manchester</option>
              <option value="Portsmouth">Portsmouth</option>
              <option value="Southampton">Southampton</option>
              <option value="Wolverhampton">Wolverhampton</option>    
              <option value="Worcester">Worcester</option>                     
            </select>  
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="performance_dash" class="button" value="Filter">Filter</a>
          </div>
        </div>
      </div>

      <div class="grid-row">
        <div class="column-third">    
          <div class="stat-over-first"> 
            <h2 class="heading-medium">Jobseekers Allowance</h2>
            <table>
              <thead> 
                <tr>
                  <td class="bold">Weeks</td>
                  <td class="bold">Off-flow</td>
                  <td class="bold">To target</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>13</td>
                  <td>75%</td>
                  <td>8</td>
                </tr>
                <tr>
                  <td>26</td>
                  <td>83%</td>
                  <td>7</td>
                </tr>
                <tr>
                  <td>39</td>
                  <td>88%</td>
                  <td>2</td>
                </tr>
                <tr>
                  <td>52</td>
                  <td>90%</td>
                  <td>5</td>
                </tr>
              </tbody> 
            </table>  
          </div>    
        </div>

        <div class="column-third">    
          <div class="stat-over-first"> 
            <h2 class="heading-medium">Employment Support Allowance</h2>                          
            <table>
              <thead> 
                <tr>
                  <td class="bold">Weeks</td>
                  <td class="bold">Off-flow</td>
                  <td class="bold">To target</td>
                </tr>
                </thead>
              <tbody>
                <tr>
                  <td>65</td>
                  <td>75%</td>
                  <td>8</td>
                </tr>
              </tbody> 
            </table>  
          </div>    
        </div>
        
        <div class="column-third">    
          <div class="stat-over-first"> 
            <h2 class="heading-medium">Income Support</h2>
            <table>
              <thead> 
                <tr>
                  <td class="bold">Weeks</td>
                  <td class="bold">Off-flow</td>
                  <td class="bold">To target</td>
                </tr>
              </thead>
              <tbody>
                  <td>52</td>
                  <td>90%</td>
                  <td>5</td>
                </tr>
              </tbody> 
            </table>  
          </div>    
        </div>
      </div>

      <div class="grid-row">
        <div class="column-third">    
          <div class="stat-over-first"> 
            <h2 class="heading-medium">Live load</h2>
            <p class="stat">2100 claimants</p>
            <table>
              <thead> 
                <tr>
                  <td class="bold">Benefit</td>
                  <td class="bold">&nbsp;</td>
                  <td class="bold">Claimants</td> 
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="2">Jobseekers Allowance</td>
                  <td>1600</td>
                </tr>
                <tr>
                  <td colspan="2">Employment Support Allowance</td>
                  <td>300</td>
                </tr>
                  <td colspan="2">Income support</td>
                  <td>200</td>
                </tr>   
              </tbody> 
            </table>  
          </div>    
        </div>

        <div class="column-third">    
          <div class="stat-over-first"> 
            <h2 class="heading-medium">Off-flow into work</h2>
            <p class="stat">46&#37; this year</p>
            <table>
              <thead> 
                <tr>
                  <td class="bold">Benefit</td>
                  <td class="bold">&nbsp;</td>
                  <td class="bold">Claimants &#37;</td> 
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="2">Jobseekers Allowance</td>
                  <td>65&#37;</td>
                </tr>
                <tr>
                  <td colspan="2">Employment Support Allowance</td>
                  <td>56&#37;</td>
                </tr>
                  <td colspan="2">Income support</td>
                  <td>36&#37;</td>
                </tr>   
              </tbody> 
            </table>      
          </div>       
        </div> 
        
        <div class="column-third">    
          <div class="stat-over-first"> 
            <h2 class="heading-medium">Day 1 conditionality</h2>
            <p class="stat">30&#37; met on Day 1</p>
            <table>
              <thead> 
                <tr>
                  <td class="bold">Current evidence missing</td>
                  <td class="bold">&nbsp;</td>
                  <td class="bold">Claimants</td> 
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="2">CV</td>
                  <td>19</td>
                </tr>
                <tr>
                  <td colspan="2">Email address</td>
                  <td>100</td>
                </tr>
                  <td colspan="2">Universal Jobmatch</td>
                  <td>81</td>
                </tr>   
              </tbody> 
            </table>  
          </div>      
        </div>
      </div>
    </div>  
  </main>
{% endblock %}