{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototyping kit
{% endblock %}

{% block propositionHeader %}
  {% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block content %}


<main id="content" role="main">

 <div class="grid-row">        

        <div class="column-quarter grid-col" style="padding-bottom:90px; padding-top:30px; margin-left:-40px">
              <ul class="main-nav">
                <li id="nav-home"><a href="job">Search</a></li>
                <li id="nav-job"><a href="job_new">Create record</a></li>
                <li id="nav-perf" class="selected"><a href="performance">Performance</a></li>
              </ul>
          </div> 


    <!-- Start three quarters container for main content columns -->
    <div class="column-three-quarters">
    <br>

         <h1 class="heading-large">&nbsp;&nbsp;Manager dashboard - January 2016</h1>

  <!--       <div class="column">   

        <br>

                <div id="id-claimant-actions" class="grid-wrapper gutter-half-top">

                    <div class="grid grid-1-5">
                      <div class="inner-block left">
                        <a id="perf-work" href="perf-work" class="menu-item action">
                          <strong>Workcoach</strong>
                        </a>
                      </div>
                    </div>

                    <div class="grid grid-1-5">
                      <div class="inner-block left">
                        <a id="perf-office" href="perf-office" class="menu-item action">
                          <strong>Office</strong>
                        </a>
                      </div>
                    </div>            

                 </div> 

            </div>    -->
    
          
            <div class="column"> 

                  <div class="column-third">    

                      <div class="stat-over-first"> 
                        <h2 class="heading-medium">Jobseekers Allowance</h2>
                            <p class="stat"><a href="performance_jsa">22 to target</a></p>
                                <table>
                                   <thead> 
                                    <tr>
                                        <td class="bold">Weeks</td>
                                        <td class="bold">Off-flow</td>
                                        <td class="bold">To target</td>
                                     </tr>
                                   </thead>
                                   <tbody>
                                    <tr>
                                        <td>13</td>
                                        <td>75%</td>
                                        <td>8</td>
                                     </tr>
                                     <tr>
                                        <td>26</td>
                                        <td>83%</td>
                                        <td>7</td>
                                     </tr>
                                     <tr>
                                        <td>39</td>
                                        <td>88%</td>
                                        <td>2</td>
                                     </tr>
                                     <tr>
                                        <td>52</td>
                                        <td>90%</td>
                                        <td>5</td>
                                     </tr>
                                   </tbody> 
                                </table>  
                                        
                        <!-- <span class="stat-up">-2.65%
                              <span class="bold">&uarr;</span>  
                              </span>
                              &nbsp;
                              <span class="stat-detail">Oct 2015</span>
                              <br>
                              <br> -->
                        </div>    

                  </div>
                  <!-- End col third -->

                  <!-- Start col -->      
                  <div class="column-third">    
                      
                      <div class="stat-over-both"> 
                        <h2 class="heading-medium">Work programme</h2>
                            <p class="stat">19 claimants</p>
                         <!--    <span class="stat-down">+2.65%
                            </span>
                            &nbsp;
                            <span class="stat-detail">Oct 2015</span>
                            <br>
                            <br> -->
                                <table>
                                   <thead> 
                                    <tr>
                                        <td class="bold">Status</td>
                                        <td class="bold">&nbsp;</td>
                                        <td class="bold">Claimants</td> 
                                     </tr>
                                   </thead>
                                   <tbody>
                                    <tr>
                                        <td colspan="2">Pre-work programme</td>
                                        <td>19</td>
                                     </tr>
                                     <tr>
                                        <td colspan="2">Work programme</td>
                                        <td>100</td>
                                     </tr>
                                        <td colspan="2">work programme completer</td>
                                        <td>81</td>
                                     </tr>   
                                   </tbody> 
                                </table>      
                       </div>     

                   <!-- End col third-->       
                   </div>

                          <!-- Start col -->      
                  <div class="column-third">    
                      
                     <div class="stat-over-both"> 
                       <h2 class="heading-medium">Day 1 conditionality</h2>
                            <p class="stat">30&#37; of claimants</p>
                           <!-- <span class="stat-down">+15%&nbsp;&nbsp;</span>
                            <span class="stat-detail">Oct 2015</span>
                            <br>
                            <br> -->
                                <table>
                                   <thead> 
                                    <tr>
                                        <td class="bold">Evidence missing</td>
                                        <td class="bold">&nbsp;</td>
                                        <td class="bold">Claimants</td> 
                                     </tr>
                                   </thead>
                                   <tbody>
                                    <tr>
                                        <td colspan="2">CV</td>
                                        <td>19</td>
                                     </tr>
                                     <tr>
                                        <td colspan="2">Email address</td>
                                        <td>100</td>
                                     </tr>
                                        <td colspan="2">Universal Jobmatch</td>
                                        <td>81</td>
                                     </tr>   
                                   </tbody> 
                                </table>  
                      </div>      

                   <!-- End col third-->       
                   </div>


                   <!-- Start 2nd row dashboard -->

                  <!-- Start col -->      
                  <div class="column-third">    
                    <div class="stat-over-both-first"> 
                        <h2 class="heading-medium">Live load</h2>
                            <p class="stat">2100 claimants</p>
                              <!--  <table>
                                   <thead> 
                                    <tr>
                                        <td class="bold">Cohort</td>
                                        <td class="bold">Off-flow</td>
                                        <td class="bold">To target</td>
                                     </tr>
                                   </thead>
                                   <tbody>
                                    <tr>
                                        <td>13</td>
                                        <td>75%</td>
                                        <td>8</td>
                                     </tr>
                                     <tr>
                                        <td>26</td>
                                        <td>83%</td>
                                        <td>7</td>
                                     </tr>
                                     <tr>
                                        <td>39</td>
                                        <td>88%</td>
                                        <td>2</td>
                                     </tr>
                                     <tr>
                                        <td>52</td>
                                        <td>90%</td>
                                        <td>5</td>
                                     </tr>
                                   </tbody> 
                                </table>  
                                        
                              <span class="stat-up">-2.65%
                              <span class="bold">&uarr;</span>  
                              </span>
                              &nbsp;
                              <span class="stat-detail">Oct 2015</span>
                              <br>
                              <br> -->
                        </div>    
                  </div>
                  <!-- End col third -->

                  <!-- Start col -->      
                  <div class="column-third">    
                      <div class="stat-over-both"> 
                        <h2 class="heading-medium">Off-flow to work</h2>
                            <p class="stat">JSA - 70&#37;</p>
                         <!--    <span class="stat-down">+2.65%
                            </span>
                            &nbsp;
                            <span class="stat-detail">Oct 2015</span>
                            <br>
                            <br> -->
                                <table>
                                   <thead> 
                                    <tr>
                                        <td class="bold">Benefit</td>
                                        <td class="bold">&nbsp;</td>
                                        <td class="bold">&#37; Claimants</td> 
                                     </tr>
                                   </thead>
                                   <tbody>
                                    <tr>
                                        <td colspan="2">Jobseekers Allowance</td>
                                        <td>70</td>
                                     </tr>
                                     <tr>
                                        <td colspan="2">Employment Support Allowance</td>
                                        <td>30</td>
                                     </tr>
                                        <td colspan="2">Income support</td>
                                        <td>10</td>
                                     </tr>   
                                   </tbody> 
                                </table>      
                       </div>     
                   <!-- End col third-->       
                   </div>

                          <!-- Start col -->      
                  <div class="column-third">    
                     <div class="stat-over"> 
                       <h2 class="heading-medium">Disadvantage markers</h2>
                            <p class="stat">ESOL - 89</p>
                           <!-- <span class="stat-down">+15%&nbsp;&nbsp;</span>
                            <span class="stat-detail">Oct 2015</span>
                            <br>
                            <br> -->
                                <table>
                                   <thead> 
                                    <tr>
                                        <td class="bold">Marker</td>
                                        <td class="bold">&nbsp;</td>
                                        <td class="bold">Claimants</td> 
                                     </tr>
                                   </thead>
                                   <tbody>
                                    <tr>
                                        <td colspan="2">English as second language</td>
                                        <td>89</td>
                                     </tr>
                                     <tr>
                                        <td colspan="2">Ex-offender</td>
                                        <td>100</td>
                                     </tr>
                                        <td colspan="2">Homeless</td>
                                        <td>81</td>
                                     </tr>  
                                     </tr>
                                        <td colspan="2">Literacy/numeracy</td>
                                        <td>81</td>
                                     </tr>   
                                   </tbody> 
                                </table>  
                      </div>      
                   <!-- End col third-->       
                   </div>

                   <!-- End 2nd row dashboard -->

            </div>
            <!-- End full column -->




  <!-- End three quarters column-->       
   </div>  

 

    <!-- End row-->       
      </div>


</main>
{% endblock %}



