{% extends "layout.html" %}

{% block propositionHeader %}
  {% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% set currentPage = 'workcoachView' %}
    {% include "includes/main_nav.html" %}

    <div class="main-content">
      {% set currentPerformancePage = 'jobcentre' %}
      {% include "latest/manager_performance_nav.html" %}
      
      <h1 class="heading-large">Cohort month October 2015 - off-flows required to reach standard</h1>

      <div class="grid-row">
        <div class="column-full">
          <details>
            <summary><span class="summary">Show/hide filters</span></summary>
            
            {% include "latest/performance_filters.html" %} 
          </details>
        </div>
        <div class="column-full">
          <p class="search_string">You searched: Coventry, Worcester > JSA > Cohort month October 2015
            <br>
            <br>
            <span class="passed"><i class="fa fa-stop"></i> Previous standard</span>
            <br>
            <span class="current"><i class="fa fa-stop"></i> Next standard</span>
          </p>
          <table class="display" id="example" border="0" cellpadding="0" cellspacing="0" border-spacing="0">
            <thead>
              <tr>
                <th colspan="5" class="nino no-sort">&nbsp;</th>
                <th colspan="5" class="nino no-sort target-title">Sign offs required to reach standard</th>
              </tr>
              <tr>
                <th class="nino no-sort">Site</th>
                <th class="nino no-sort">Claims opened</th>
                <th class="nino no-sort">Claims closed</th>
                <th class="nino no-sort">Achieved &#37;</th>
                <th class="nino no-sort">Into work &#37;</th>
                <th class="nino no-sort gone target-title">JSA 13</th>
                <th class="nino no-sort target target-title">JSA 26</th>
                <th class="nino no-sort target-title">JSA 39</th>
                <th class="nino no-sort target-title">JSA 52</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Coventry</td>
                <td>200</td>
                <td>120</td>
                <td>60</td>
                <td>70</td>
                <td class="gone_figure">10</td>
                <td class="bold">42</td>
                <td>60</td>
                <td>68</td>
              </tr>
              <tr>
                <td>Worcester</td>
                <td>150</td>
                <td>75</td>
                <td>50</td>
                <td>65</td>
                <td class="gone_figure">15</td>
                <td class="bold">45</td>
                <td>61</td>
                <td>65</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- End three quarters column-->
      </div>
      <!-- End row-->
    </div>
  </main>
{% endblock %}

{% block page_scripts %}
  <script type="text/javascript" charset="utf8" src="/public/javascripts/vendor/jquery.dataTables.min.js"></script>
  <script src="/public/javascripts/vendor/jquery.dataTables.yadcf.js"></script>

  <script>
    $(function() {
      $('#example').dataTable().yadcf([]);

      $('#filterButton').on('click', function(e){
        e.preventDefault();

        if($('input[name="month"]:checked').val() === 'Reporting'){
          window.location = '/latest/performance_cohort_report';
        } else {
          window.location = '/latest/performance_cohort_month_report_13_gone';
        }
      });
    });
    
    $('#example').removeClass('class');
  </script>
{% endblock %}