{% extends "layout.html" %}

{% block propositionHeader %}
  {% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% set currentPage = 'caseload' %}
    {% include "includes/main_nav.html" %}

    <div class="main-content">
      <h1 class="heading-large">Cohort month April 2015 - Jobseeker's Allowance</h1>

      <div class="grid-row">
        <div class="column-full">
          <details>
            <summary><span class="summary">Show/hide filters</span></summary>   
          
            {% set jobseekerBenefitSelected = true %}
            {% include "includes/caseload_filters.html" %}
          </details>
        </div>

        <div class="column-full">   
          <p class="search_string">You searched: JSA > 18-24 > April 2015 > Homeless > ESOL > Live > Pre-work programme > Logistics{%if getData.provisionSelected %} > Work experience{%endif%}</p>

          <input class="button copy_email" value="Copy selected emails" disabled="disabled">

          <table class="display" id="example" border="0" cellpadding="0" cellspacing="0" border-spacing="0">
            <thead>
              <tr>
                <th class="nino no-sort">NINO</th>
                <th class="nino no-sort">Surname</th>
                <th class="nino no-sort">Initial</th>
                <th class="nino no-sort"><input type="checkbox">&nbsp;Email</th>
                {%if getData.provisionSelected %}
                  <th class="nino no-sort">Provision start date</th>
                  <th class="nino no-sort">Provision status</th>
                {%else%}
                  <th class="daysto nino no-sort">Days to</th>
                  <th class="appoint nino no-sort">Appointment</th>
                {%endif%}
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="job_record_confirm">JCxxxxxxA</a></td>
                <td>Williams</td>
                <td>R</td>
                <td><input type="checkbox">&nbsp;<a href="mailto:r.william@gmail.com">r.william@gmail.com</a></td>
                {%if getData.provisionSelected %}
                  <td>01/01/2016</td>
                  <td></td>
                {%else%}
                  <td>3 (13 weeks)</td>
                  <td>18/01/2016</td>
                {%endif%}
              </tr>
              <tr>
                <td><a href="job_record_confirm">JCxxxxxxC</a></td>
                <td>Jones</td>
                <td>J</td>
                <td><input type="checkbox">&nbsp;<a href="mailto:john.jones@sky.com">john.jones@sky.com</a></td>
                {%if getData.provisionSelected %}
                  <td>06/02/2016</td>
                  <td>Confirmed</td>
                {%else%}
                  <td>18 (26 weeks)</td>
                  <td>22/01/2016</td>
                {%endif%}
              </tr>
              <tr>
                <td><a href="job_record_confirm">JCxxxxxxB</a></td>
                <td>Smith</td>
                <td>F</td>
                <td><input type="checkbox">&nbsp;<a href="mailto:fred.smith@hotmail.com">fred.smith@hotmail.com</a></td>
                {%if getData.provisionSelected %}
                  <td>03/04/2016</td>
                  <td>Confirmed</td>
                {%else%}
                  <td>10 (39 weeks)</td>
                  <td>01/02/2016</td>
                {%endif%}
              </tr>
              <tr>
                <td><a href="job_record_confirm">JCxxxxxxB</a></td>
                <td>Brown</td>
                <td>S</td>
                <td><input type="checkbox">&nbsp;<a href="mailto:scott.brown@core.com">scott.brown@core.com</a></td>
                {%if getData.provisionSelected %}
                  <td>21/04/2016</td>
                  <td></td>
                {%else%}
                  <td>10 (39 weeks)</td>
                  <td>28/01/2016</td>
                {%endif%}
              </tr>
              <tr>
                <td><a href="job_record_confirm">JCxxxxxxC</a></td>
                <td>Docherty</td>
                <td>T</td>
                <td><input type="checkbox">&nbsp;<a href="mailto:tom.docherty@red.co.uk">tom.docherty@red.co.uk</a></td>
                {%if getData.provisionSelected %}
                  <td>30/04/2016</td>
                  <td>Early leaver</td>
                {%else%}
                  <td>10 (39 weeks)</td>
                  <td>02/02/2016</td>
                {%endif%}
              </tr>
              <tr>
                <td><a href="job_record_confirm">JCxxxxxxA</a></td>
                <td>Peters</td>
                <td>A</td>
                <td><input type="checkbox">&nbsp;<a href="mailto:andy.peters@aol.com">andy.peters@aol.com</a></td>
                {%if getData.provisionSelected %}
                  <td>05/08/2016</td>
                  <td>Dismissed</td>
                {%else%}
                  <td>10 (39 weeks)</td>
                  <td>27/01/2016</td>
                {%endif%}
              </tr>
              <tr>
                <td><a href="job_record_confirm">JCxxxxxxB</a></td>
                <td>Shaw</td>
                <td>R</td>
                <td><input type="checkbox">&nbsp;<a href="mailto:rob.shaw@hotmail.com">rob.shaw@hotmail.com</a></td>
                {%if getData.provisionSelected %}
                  <td>06/08/2016</td>
                  <td>Confirmed</td>
                {%else%}
                  <td>10 (39 weeks)</td>
                  <td>16/01/2016</td>
                {%endif%}
              </tr>
              <tr>
                <td><a href="job_record_confirm">JCxxxxxxA</a></td>
                <td>Peel</td>
                <td>J</td>
                <td><input type="checkbox">&nbsp;<a href="mailto:john.peel@gmail.com">john.peel@gmail.com</a></td>
                {%if getData.provisionSelected %}
                  <td>21/09/2016</td>
                  <td>Did not start</td>
                {%else%}
                  <td>10 (39 weeks)</td>
                  <td>25/01/2016</td>
                {%endif%}
              </tr>
              <tr>
                <td><a href="job_record_confirm">JCxxxxxxC</a></td>
                <td>Gathercole</td>
                <td>T</td>
                <td><input type="checkbox">&nbsp;<a href="mailto:john.peel@gmail.com">tom.gathercole@live.com</a></td>
                {%if getData.provisionSelected %}
                  <td>02/10/2016</td>
                  <td>Early leaver</td>
                {%else%}
                  <td>10 (39 weeks)</td>
                  <td>27/01/2016</td>
                {%endif%}
              </tr>
              <tr>
                <td><a href="job_record_confirm">JCxxxxxxC</a></td>
                <td>Kane</td>
                <td>H</td>
                <td><input type="checkbox">&nbsp;<a href="mailto:harold.kane@sky.com">harold.kane@sky.com</a></td>
                {%if getData.provisionSelected %}
                  <td>09/10/2016</td>
                  <td>Dismissed</td>
                {%else%}
                  <td>10 (39 weeks)</td>
                  <td>29/01/2016</td>
                {%endif%}
              </tr>
              <tr>
                <td><a href="job_record_confirm">JCxxxxxxC</a></td>
                <td>Watson</td>
                <td>P</td>
                <td><input type="checkbox">&nbsp;<a href="mailto:paul.watson@hotmail.com">paul.watson@hotmail.com</a></td>
                {%if getData.provisionSelected %}
                  <td>03/04/2016</td>
                  <td>Confirmed</td>
                {%else%}
                  <td>10 (39 weeks)</td>
                  <td>30/01/2016</td>
                {%endif%}
              </tr>
            </tbody>
            </table>
            <p>Result per page: 10 <a href="/latest/performance_jsa">50</a> <a href="/latest/performance_jsa">250</a> <a href="/latest/performance_jsa">All</a></p>
            <div class="dataTables_info" id="example_info">Showing 1 to 10 of 11 entries</div>
            <div class="dataTables_paginate paging_two_button" id="example_paginate">
              <a class="paginate_disabled_previous" tabindex="0" role="button" id="example_previous" aria-controls="example">Previous</a>
              <a class="paginate_enabled_next" tabindex="0" role="button" id="example_next" aria-controls="example">Next</a>
            </div>
        </div> 
        
      </div>  
    </div>
  </main>
{% endblock %}

{% block page_scripts %}
  <script src="/public/javascripts/caseload.js"></script>
{% endblock %}