{% extends "layout.html" %}

{% block propositionHeader %}
  {% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% set currentPage = 'caseload' %}
    {% include "includes/main_nav.html" %}

    <div class="main-content">    
      <h1 class="heading-large">Search caseload</h1> 

      {% include "includes/caseload_filters.html" %}
    </div>
  </main>
{% endblock %}


{% block page_scripts %}
  <script src="/public/javascripts/jquery.min.js"></script>
  <script src="/public/javascripts/jquery.dataTables.min.js"></script>
  <script src="/public/javascripts/jquery.dataTables.yadcf.js"></script>
  <script src="/public/javascripts/caseload.js"></script>

  <script>
    $(document).ready(function(){
      $('#example').dataTable().yadcf([
        {column_number : 3, filter_type: "range_number" }, 
        {column_number : 4},
        ]);
    });
    $('#example').removeClass('class');
  </script>
{% endblock %}


