{% extends "layout.html" %}

{% block propositionHeader %}
  {% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block content %}
  <main id="content" role="main">
    {% set currentPage = 'caseload' %}
    {% include "includes/main_nav.html" %}
    
    <div class="main-content">     
      <h1 class="heading-large">Cohort month April 2015 - Income Support</h1>   

      <div class="grid-row">
        <div class="column-full">
          <details>
            <summary><span class="summary">Show/hide filters</span></summary>
            
            {% set isSelected = true %}
            {% include "includes/caseload_filters.html" %}
          </details>
        </div>

        <div class="column-full">  
          <p class="search_string">You searched: IS > Lone parent > April 2015 > Retail > Live</p>

          <input class="button copy_email" value="Copy selected emails" disabled="disabled">

          <table class="display" id="example" border="0" cellpadding="0" cellspacing="0" border-spacing="0">
            <thead>
              <tr>
                <th class="sortable"><span>Work coach</span></th>
                <th class="nino no-sort">NINO</th>
                <th class="nino no-sort">Surname</th>
                <th class="nino no-sort">Initial</th>
                <th class="nino no-sort"><input type="checkbox">&nbsp;Email</th>
                <th class="nino no-sort">Days to target</th>
                {%if getData.childAge ==  1 %}
                  <th class="nino no-sort">Months to 1st birthday </th>
                {%elif getData.childAge ==  3%}
                  <th class="nino no-sort">Months to 4th birthday</th>
                {%else%}
                  <th class="nino no-sort">Months to 5th birthday</th>
                {%endif%}
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>richard.kaine</td>
                <td><a href="job_record_confirm">JCxxxxxxA</a></td>
                <td>Williams</td>
                <td>R</td>
                <td><input type="checkbox">&nbsp;<a href="mailto:r.william@gmail.com">r.william@gmail.com</a></td>
                <td>28</td>
                <td class="gone_figure">26</td>
              </tr>
              <tr>
                <td>richard.kaine</td>
                <td><a href="job_record_confirm">JCxxxxxxC</a></td>
                <td>Jones</td>
                <td>J</td>
                <td><input type="checkbox">&nbsp;<a href="mailto:john.jones@sky.com">john.jones@sky.com</a></td>
                <td>18</td>
                <td>723</td>
              </tr>
              <tr>
                <td>richard.kaine</td>
                <td><a href="job_record_confirm">JCxxxxxxB</a></td>
                <td>Smith</td>
                <td>F</td>
                <td><input type="checkbox">&nbsp;<a href="mailto:fred.smith@hotmail.com">fred.smith@hotmail.com</a></td>
                <td>10</td>
                <td>551</td>
              </tr>
              <tr>
                <td>richard.kaine</td>
                <td><a href="job_record_confirm">JCxxxxxxB</a></td>
                <td>Brown</td>
                <td>S</td>
                <td><input type="checkbox">&nbsp;<a href="mailto:scott.brown@core.com">scott.brown@core.com</a></td>
                <td>10</td>
                <td>989</td>
              </tr>
              <tr>
                <td>richard.kaine</td>
                <td><a href="job_record_confirm">JCxxxxxxC</a></td>
                <td>Docherty</td>
                <td>T</td>
                <td><input type="checkbox">&nbsp;<a href="mailto:tom.docherty@red.co.uk">tom.docherty@red.co.uk</a></td>
                <td>10</td>
                <td>364</td>
              </tr>
              <tr>
                <td>richard.kaine</td>
                <td><a href="job_record_confirm">JCxxxxxxA</a></td>
                <td>Peters</td>
                <td>A</td>
                <td><input type="checkbox">&nbsp;<a href="mailto:andy.peters@aol.com">andy.peters@aol.com</a></td>
                <td>15</td>
                <td>841</td>
              </tr>
              <tr>
                <td>richard.kaine</td>
                <td><a href="job_record_confirm">JCxxxxxxB</a></td>
                <td>Shaw</td>
                <td>R</td>
                <td><input type="checkbox">&nbsp;<a href="mailto:rob.shaw@hotmail.com">rob.shaw@hotmail.com</a></td>
                <td>22</td>
                <td>738</td>
              </tr>
              <tr>
                <td>richard.kaine</td>
                <td><a href="job_record_confirm">JCxxxxxxA</a></td>
                <td>Peel</td>
                <td>J</td>
                <td><input type="checkbox">&nbsp;<a href="mailto:john.peel@gmail.com">john.peel@gmail.com</a></td>
                <td>14</td>
                <td>1460</td>
              </tr>
              <tr>
                <td>richard.kaine</td>
                <td><a href="job_record_confirm">JCxxxxxxC</a></td>
                <td>Gathercole</td>
                <td>T</td>
                <td><input type="checkbox">&nbsp;<a href="mailto:john.peel@gmail.com">tom.gathercole@live.com</a></td>
                <td>12</td>
                <td>1045</td>
              </tr>
              <tr>
                <td>richard.kaine</td>
                <td><a href="job_record_confirm">JCxxxxxxC</a></td>
                <td>Kane</td>
                <td>H</td>
                <td><input type="checkbox">&nbsp;<a href="mailto:harold.kane@sky.com">harold.kane@sky.com</a></td>
                <td>31</td>
                <td>130</td>
              </tr>
              <tr>
                <td>richard.kaine</td>
                <td><a href="job_record_confirm">JCxxxxxxC</a></td>
                <td>Watson</td>
                <td>P</td>
                <td><input type="checkbox">&nbsp;<a href="mailto:paul.watson@hotmail.com">paul.watson@hotmail.com</a></td>
                <td>42</td>
                <td>450</td>
              </tr>
              </tbody>
          </table>
          <p>Result per page: 10 <a href="/latest/performance_jsa">50</a> <a href="/latest/performance_jsa">250</a> <a href="/latest/performance_jsa">All</a></p>
          <div class="dataTables_info" id="example_info">Showing 1 to 10 of 11 entries</div>
          <div class="dataTables_paginate paging_two_button" id="example_paginate">
            <a class="paginate_disabled_previous" tabindex="0" role="button" id="example_previous" aria-controls="example">Previous</a>
            <a class="paginate_enabled_next" tabindex="0" role="button" id="example_next" aria-controls="example">Next</a>
          </div>
        </div> 
      </div>
    </div>
  </main>
{% endblock %}

{% block page_scripts %}
  <script type="text/javascript" charset="utf8" src="/public/javascripts/jquery.dataTables.min.js"></script>
{% endblock %}