{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK prototyping kit
{% endblock %}

{% block propositionHeader %}
  {% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block content %}

<script src="/public/javascripts/jquery.min.js"></script>

<main id="content" role="main">

  <div class="grid-row">        
    
    {% include "includes/left_nav_settings.html" %}

    <!-- Start three quarters container for main content columns -->
    <div class="column-three-quarters">

      <h1 class="heading-large">&nbsp;&nbsp;Provision - Mr J Smith</h1>

      {% set currentClaimantPage = 'provision' %}
      {% include "includes/claimant_menu.html" %} 

      <div class="column">

        <table>
          <thead>
            <tr>
              <th scope="col">Type</th>
              <th scope="col">Start date</th>
              <th scope="col">Status</th>
              <th scope="col">End date</th>
              <th scope="col">Outcome</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Work experience</td>
              <td>1st August 2016</td>
              <td></td>
              <td>4th September 2016</td>
              <td>Dismissed</td>
              <td><a href="provision_edit">Update</a></td>
            </tr>
            <tr>
              <td>Work experience</td>
              <td>1st May 2016</td>
              <td>Did not start</td>
              <td>31st July 2016</td>
              <td>Early leaver</td>
              <td><a href="provision_edit">Update</a></td>
            </tr>
            <tr>
              <td>Work experience</td>
              <td>1st January 2016</td>
              <td>Confirmed</td>
              <td>31 April 2016</td>
              <td></td>
              <td><a href="provision_edit">Update</a></td>
            </tr>
          </tbody>
        </table>

        <br />

        <a href="provision_edit" class="button">Add provision</a>

      </div>     
    </div>
  </div>
</main>
{% endblock %}
