{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototyping kit
{% endblock %}

{% block propositionHeader %}
  {% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block content %}

<script src="/public/javascripts/jquery.min.js"></script>

<main id="content" role="main">

  <div class="grid-row">        
    
    {% include "includes/left_nav_settings.html" %}

    <!-- Start three quarters container for main content columns -->
    <div class="column-three-quarters">

      <h1 class="heading-large">&nbsp;&nbsp;Provision - Mr J Smith</h1>

      {% set currentClaimantPage = 'provision' %}
      {% include "includes/claimant_menu.html" %} 

      <div class="column">

        <table>
          <thead>
            <tr>
              <th scope="col">Type</th>
              <th scope="col">Start date</th>
              <th scope="col">Status</th>
              <th scope="col">End date</th>
              <th scope="col">Outcome</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% set provisions = [
              { type : 'Work exprience', startDate: '1 August 2016', status: 'Confirmed', endDate: '4 September 2016', outcome: 'Dismissed'},
              { type : 'Work exprience', startDate: '1 May 2016', status: 'Did not start', endDate: '', outcome: ''},
              { type : 'Work exprience', startDate: '1 January 2016', status: 'Confirmed', endDate: '31 April 2016', outcome: 'Confirmed'}
            ] %}

            {% for provision in provisions %}
              <tr>
                <td>{{provision.type}}</td>
                <td>{{provision.startDate}}</td>
                <td>{{provision.status}}</td>
                <td>{{provision.endDate}}</td>
                <td>{{provision.outcome}}</td>
                <td><a href="provision_edit">Update</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <br />

        <a href="provision_edit" class="button">Add provision</a>

      </div>     
    </div>
  </div>
</main>
{% endblock %}
