{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototyping kit
{% endblock %}

{% block propositionHeader %}
  {% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block content %}

<script src="/public/javascripts/jquery.min.js"></script>
<script src="/public/javascripts/provision.js"></script>

<main id="content" role="main">

 <div class="grid-row">        
	
    {% include "includes/left_nav_settings.html" %}

	<!-- Start three quarters container for main content columns -->
	<div class="column-three-quarters">

		<h1 class="heading-large">&nbsp;&nbsp;Provision - Mr J Smith</h1>

    {% set currentClaimantPage = 'provision' %}
    {% include "includes/claimant_menu.html" %} 

		<div class="column">
      <form action="provision" method="#" class="form">

        <div class="form-group">
          <fieldset class="inline">
            <legend class="form-label-bold">Provision type</legend>

            <select class="select form-control" name="provision-type" id="provision-type">
              <option value="">Select</option>
              <option value="work-experience" {{ 'selected' if  provision.type === 'Work experience' else ''}}>Work experience</option>
            </select>
          </fieldset>
        </div>

        <div class="form-group form-date" id="start-date-group">
          <legend class="form-label-bold">Start date</legend>

          <p class="form-hint">DD MM YYYY</p>

          <div class="form-group form-group-day">
            <label for="dob-day">Day</label>
            <input type="text" class="form-control" id="start-day" name="start-day" value="{{provision.startDateValues[0]}}">
          </div>
          <div class="form-group form-group-month">
            <label for="dob-month">Month</label>
            <input type="text" class="form-control" id="start-month" name="start-month" value="{{provision.startDateValues[1]}}">
          </div>
          <div class="form-group form-group-year">
            <label for="dob-year">Year</label>
            <input type="text" class="form-control" id="start-year" name="start-year" value="{{provision.startDateValues[2]}}">
          </div>
        </div>

        <div class="form-group" id="start-status-group">
          <fieldset class="inline">

            <legend class="visually-hidden">Start status</legend>

            <label class="block-label selection-button-radio" for="confirmed">
              <input id="confirmed" type="radio" name="start-status" value="confirmed" {{ 'checked' if  provision.status === 'Confirmed' else ''}}>
              Confirmed
            </label>
            <label class="block-label selection-button-radio" for="did-not-start" >
              <input id="did-not-start" type="radio" name="start-status" value="did-not-start" {{ 'checked' if  provision.status === 'Did not start' else ''}}>
              Did not start
            </label> 
          </fieldset>
        </div>

        <div class="form-group form-date" id="end-date-group">
          <legend class="form-label-bold">End date</legend>

          <p class="form-hint">DD MM YYYY</p>

          <div class="form-group form-group-day">
            <label for="dob-day">Day</label>
            <input type="text" class="form-control" id="end-day" name="end-day" value="{{provision.endDateValues[0]}}">
          </div>
          <div class="form-group form-group-month">
            <label for="dob-month">Month</label>
            <input type="text" class="form-control" id="end-month" name="end-month" value="{{provision.endDateValues[1]}}">
          </div>
          <div class="form-group form-group-year">
            <label for="dob-year">Year</label>
            <input type="text" class="form-control" id="end-year" name="end-year" value="{{provision.endDateValues[2]}}">
          </div>
        </div>

        <div class="form-group" id="outcome-group">
          <fieldset class="inline">
            <legend class="form-label-bold">Outcome</legend>
            <label class="block-label selection-button-radio" for="completed">
              <input id="completed" type="radio" name="status-on-leaving" value="completed"  {{ 'checked' if  provision.outcome === 'Completed' else ''}}>
              Completed
            </label>
            <label class="block-label selection-button-radio" for="early-leaver" data-target="early-leaver-reason">
              <input id="early-leaver" type="radio" name="status-on-leaving" value="early-leaver"  {{ 'checked' if  provision.outcome === 'Early leaver' else ''}}>
              Early leaver
            </label>
            <label class="block-label selection-button-radio" for="dismissed" data-target="dismissed-reason"  >
              <input id="dismissed" type="radio" name="status-on-leaving" value="dismissed" {{ 'checked' if  provision.outcome === 'Dismissed' else ''}}>
              Dismissed
            </label>
          </fieldset>
        </div>

        <div class="panel panel-border-narrow js-hidden " id="early-leaver-reason" >
          <div class="form-group">
            <label class="form-label-bold" for="ref-no">Reason for leaving early</label>
            <input type="text" class="form-control" id="ref-no">
          </div>
        </div>

        <div class="panel panel-border-narrow js-hidden " id="dismissed-reason" >
          <div class="form-group" >
            <label class="form-label-bold" for="ref-no">Reason for dismissal</label>
            <input type="text" class="form-control" id="ref-no">
          </div>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Save">
        </div>

      </form>

		</div>     
	<!-- End column -->
	</div>
<!-- End row-->    
</div>

</main>
{% endblock %}
