{% extends "layout.html" %}
{% import "macros/forms.html" as forms %}

{% block content %}
  <main id="content" role="main">
    
    {% include "includes/main_nav.html" %}
    
    <div class="main-content">
      <h1 class="heading-large">WHP Selection -  Mr J Smith</h1>

      <div class="grid-row">
        {% set currentClaimantPage = 'selectionTool' %}
        {% include "includes/summary_nav.html" %}
      </div>
      
      <div class="grid-row">
        <div class="column-full">

          <div class="annotation" style="display:none">
            <p>The last question would only appear for people who have claims in DDA areas</p>
          </div>
          
          <form method="{{ formMethod or 'POST'}}" action="{{ formAction or ''}}">
            <div class="form-group">
              <fieldset class="inline">
                <legend>Has the person been unemployed 24 months or longer?</legend>
                {{ forms.radio(name='unemployed', displayText='Yes', optionValue='Yes', id='initial_options_voluntary') }}
                {{ forms.radio(name='unemployed', displayText='No', optionValue='No', id='initial-options-ltu', datatarget='primary-barrier-panel') }}
              </fieldset>

              <div class="panel panel-border-narrow js-hidden" id="primary-barrier-panel">
                <div class="form-group">
                  <fieldset class="inline">
                    <legend>Does the person have a disability or health condition that affects their ability to work (according to the Equality Act 2010)?</legend>
                    {{ forms.radio(name='disability', displayText='Yes', optionValue='Yes') }}
                    {{ forms.radio(name='disability', displayText='No', optionValue='No', datatarget='earlyEntryGroupPanel') }}
                  </fieldset>
                </div>

                <div id="earlyEntryGroupPanel" class="form-group js-hidden">               
                  <fieldset>
                    <legend>What is the person's primary barrier to work?</legend>
                    
                    {% for earlyEntryOption in earlyEntryOptions %}
                      {{ forms.radio(name='early-entry-options', displayText=earlyEntryOption.label, optionValue=earlyEntryOption.label, id=earlyEntryOption.value)}}
                    {% endfor %}
                  </fieldset>
                </div>

                <div class="form-group">
                  <fieldset class="inline">
                    <legend>Has the person been referred by an external organisation?</legend>
                    {{ forms.radio(name='external', displayText='Yes', optionValue='Yes', datatarget='externalNamePanel') }}
                    {{ forms.radio(name='external', displayText='No', optionValue='No') }}
                  </fieldset>
                </div>

                <div class="form-group js-hidden" id="externalNamePanel">
                  <label class="form-label" for="disability-external-referral-input">Name of external organisation</label>
                  <input class="form-control form-control-1-4" name="disability-external-referral-input" type="text" id="disability-external-referral-input">
                </div>

                <div class="form-group">                
                  <fieldset class="inline">
                    <legend>Is the claimant subject to Benefit Cap?</legend>
                    {{ forms.radio(name='disabled-ben-cap', displayText='Yes', optionValue='Yes', id='disabled-ben-cap-yes') }}
                    {{ forms.radio(name='disabled-ben-cap', displayText='No', optionValue='No', id='disabled-ben-cap-no') }}
                  </fieldset>
                </div>

                <div class="form-group">                
                  <fieldset class="inline">
                    <legend>Is the claimant getting ESA/WRAC?</legend>
                    {{ forms.radio(name='disabled-esa-wrac', displayText='Yes', optionValue='Yes', id='disabled-esa-wrac-yes') }}
                    {{ forms.radio(name='disabled-esa-wrac', displayText='No', optionValue='No', id='disabled-esa-wrac-no') }}
                  </fieldset>
                </div>

                <div class="form-group">                
                  <fieldset class="inline">
                    <legend>Does the person have an indentified priority need in your DDA?</legend>
                    {{ forms.radio(name='dda-need', displayText='Yes', optionValue='Yes') }}
                    {{ forms.radio(name='dda-need', displayText='No', optionValue='No') }}
                  </fieldset>
                </div>
              </div>
            </div>
            
            <button value="Continue" class="button">Continue</button>
          </form>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
