{% extends "layout.html" %}

{% block content %}
  <main id="content" role="main">
    
    {% include "includes/main_nav.html" %}
    
    <div class="main-content">
      <h1 class="heading-large">WHP Selection -  Mr J Smith - {{ questionTitle }}</h1>     

      <div class="grid-row">
        {% set currentClaimantPage = 'selectionTool' %}
        {% include "includes/summary_nav.html" %}
      </div>

      <div class="grid-row">
        <div class="column-full">
          {% if explanation %}
            <p>{{explanation}}</p>
          {% endif %}
          <form method="POST" action="">
            {% for question in questions %}
              {{radioGroup(question.text, question.name, question.options )}}
            {% endfor %}

            <button class="button">Continue</button>
          </form>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% macro radioGroup(question, name, options) %}
  <div class="form-group">
    <fieldset class="inline">
      <legend class="heading-medium">{{question}}</legend>

      {% for option in options %}
        {% set label = option.label or option %}
        {% set value = option.value or option %}

        <label class="block-label selection-button-radio" for="{{name}}-{{loop.index}}">
          <input id="{{name}}-{{loop.index}}" type="radio" name="{{name}}" value="{{value}}">
          {{label}}
        </label>
      {% endfor %}
    </fieldset>
  </div>
{% endmacro %}

{% macro scaleQuestion() %}
  <div class="form-group">
    <fieldset class="inline">
      <legend class="heading-medium">On a scale for 0-10 how much do you like 11 point scale questions?</legend>
      {% for i in range(0, 11) %}
        <label class="block-label selection-button-radio" for="radio-inline-{{i}}">
          <input id="radio-inline-{{i}}" type="radio" name="radio-inline-group" value="Yes">
          {{i}}
        </label>
      {% endfor %}
    </fieldset>
  </div>
{% endmacro %}
