{% extends "layout.html" %}

{% block content %}
  <main id="content" role="main">
    
    {% include "includes/main_nav.html" %}
    
    <div class="main-content">
      <h1 class="heading-large">WHP Selection -  Mr J Smith - Provision</h1>     

      <div class="grid-row">
        {% set currentClaimantPage = 'selectionTool' %}
        {% include "includes/summary_nav.html" %}
      </div>

      <div class="grid-row">
        <div class="column-full">
          <p>Based on your answers, Mr J Smith has been submitted to the Private Sector Provision.</p>
          
        </div>
      </div>
    </div>
  </main>
{% endblock %}