{% extends "layout.html" %}

{% block content %}
  <main id="content" role="main">
    
    {% include "includes/main_nav.html" %}
    
    <div class="main-content">
      <h1 class="heading-large">WHP Selection -  Mr J Smith - {{ questionTitle }}</h1>     

      <div class="grid-row">
        {% set currentClaimantPage = 'selectionTool' %}
        {% include "includes/summary_nav.html" %}
      </div>

      <div class="grid-row">
        <div class="column-full">
          {% if explanation %}
            <p>{{explanation}}</p>
          {% endif %}
          <form method="POST" action="">
            {% for question in questions %}
              {% if question.type == "scoring" %}
                {{scoringQuestion(question.text, question.name)}}
              {% else %}
                {{radioGroup(question.text, question.name, question.options, question.targets )}}
              {% endif %}
            {% endfor %}

            <button class="button" type="submit">Continue</button>
          </form>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% macro radioGroup(question, name, options, targets) %}
  <div class="form-group">
    <fieldset class="inline">
      <legend class="heading-medium">{{question}}</legend>

      {% for option in options %}
        {% set label = option.label or option %}
        {% set value = option.value or option %}

        <label class="block-label selection-button-radio" for="{{name}}-{{loop.index}}" {%if option.target %}data-target="{{option.target}}"{% endif %}>
          <input id="{{name}}-{{loop.index}}" type="radio" name="{{name}}" value="{{value}}">
          {{label}}
        </label>
      {% endfor %}

      {% for target in targets %}
      <div class="panel panel-border-narrow js-hidden" id="{{target.id}}">
        <label class="form-label" for="{{target.elementId}}">Provider</label>
        <input class="form-control form-control-1-4" name="{{target.elementId}}" type="text" id="{{target.elementId}}">
      </div>
      {% endfor %}
    </fieldset>
  </div>
{% endmacro %}

{% macro scoringQuestion(question, name) %}
  <div class="form-group">
    <fieldset class="inline">
      <legend class="heading-medium">{{question}}</legend>
      {% for i in range(1, 6) %}
        <label class="block-label selection-button-radio" for="{{name}}-{{i}}">
          <input id="{{name}}-{{i}}" type="radio" name="{{name}}" value="{{i}}">
          {{i}}
        </label>
      {% endfor %}
    </fieldset>
  </div>
{% endmacro %}
