{% extends "layout.html" %}
{% import "macros/forms.html" as forms %}

{% block content %}
  <main id="content" role="main">
    
    {% include "includes/main_nav.html" %}
    
    <div class="main-content">
      <h1 class="heading-large">WHP Selection -  Mr J Smith</h1>

      <div class="grid-row">
        {% set currentClaimantPage = 'selectionTool' %}
        {% include "includes/summary_nav.html" %}
      </div>
      
      <div class="grid-row">
        <div class="column-full">
          <form method="{{ formMethod or 'POST'}}" action="{{ formAction or ''}}">
            {% if not getData.whpOnly %}
            <div class="form-group">
              <fieldset class="inline">
                <legend>Referral type</legend>
                  {{ forms.radio(name='initialOptions', displayText='Voluntary', optionValue='Voluntary', id='initial_options_voluntary', datatarget='voluntary-options') }}
                  {{ forms.radio(name='initialOptions', displayText='Long term unemployed', optionValue='Long term unemployed', id='initial-options-ltu') }}
              </fieldset>

                <div class="panel panel-border-narrow js-hidden" id="voluntary-options">
            {% endif %}

                    <div id="voluntary-options-radio-buttons" class="form-group">
                      <fieldset class="inline">
                        <legend>Voluntary options</legend>
                        <p class="form-hint">Please select the primary barrier to finding work.</p>
                      {{ forms.radio(name='voluntary', displayText='Disabled', optionValue='disability', id='voluntary-options-health', datatarget='disabled-priority-groups') }}
                      {{ forms.radio(name='voluntary', displayText='Early entry group', optionValue='early-entry', id='voluntary-options-eeg', datatarget='early-entry-options') }}
                      </fieldset>
                    </div>

                  <div  class="panel panel-border-narrow js-hidden" id="disabled-priority-groups">
                    <div>
                      <label class="form-label" for="disability-external-referral-input">If external referral, enter name of referring organisation</label>
                      <input class="form-control form-control-1-4" name="disability-external-referral-input" type="text" id="disability-external-referral-input">
                    </div>
                    <br>
                    <fieldset class="inline">
                      <legend>Is the claimant subject to Benefit Cap?</legend>
                      {{ forms.radio(name='disabled-ben-cap', displayText='Yes', optionValue='Yes', id='disabled-ben-cap-yes') }}
                      {{ forms.radio(name='disabled-ben-cap', displayText='No', optionValue='No', id='disabled-ben-cap-no') }}
                    </fieldset>

                    {% if not getData.whpOnly %}
                      <br>
                      <fieldset class="inline">
                        <legend>Is the claimant in receipt of ESA/WRAC?</legend>
                        {{ forms.radio(name='disabled-esa-wrac', displayText='Yes', optionValue='Yes', id='disabled-esa-wrac-yes') }}
                        {{ forms.radio(name='disabled-esa-wrac', displayText='No', optionValue='No', id='disabled-esa-wrac-no') }}
                      </fieldset>
                    {% endif %}
                  </div>

                  <div class="panel panel-border-narrow js-hidden" id="early-entry-options">
                    <div>
                      <label class="form-label" for="eeg-external-referral-input">If external referral, enter name of referring organisation</label>
                      <input class="form-control form-control-1-4" name="eeg-external-referrral-input" type="text" id="eeg-external-referral-input">
                    </div>
                    <br>
                    <fieldset>
                      <legend>Select early entry group</legend>
                      {% for earlyEntryOption in earlyEntryOptions %}
                      {{ forms.radio(name='early-entry-options', displayText=earlyEntryOption.label, optionValue=earlyEntryOption.label, id=earlyEntryOption.value)}}
                      {% endfor %}
                    </fieldset>
                    <br>
                    <fieldset class="inline">
                      <legend>Is the claimant subject to Benefit Cap?</legend>
                      {{ forms.radio(name='early-entry-ben-cap', displayText='Yes', optionValue='Yes', id='early-entry-ben-cap-yes') }}
                      {{ forms.radio(name='early-entry-ben-cap', displayText='No', optionValue='No', id='early-entry-ben-cap-no') }}
                    </fieldset>

                    {% if not getData.whpOnly %}
                      <br>
                      <fieldset class="inline">
                        <legend>Is the claimant in receipt of ESA/WRAC?</legend>
                        {{ forms.radio(name='early-entry-esa-wrac', displayText='Yes', optionValue='Yes', id='early-entry-esa-wrac-yes') }}
                        {{ forms.radio(name='early-entry-esa-wrac', displayText='No', optionValue='No', id='early-entry-esa-wrac-no') }}
                      </fieldset>
                    {% endif %}
                  </div>

            {% if not getData.whpOnly %}
                </div>
            </div>
            {% endif %}
            <button class="button" type="submit">Continue</button>
          </form>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
