{% extends "layout.html" %}

{% block content %}
  <main id="content" role="main">
    {% include "includes/main_nav.html" %}

    <div class="main-content">  
      <h1 class="heading-large">Settings - Standards</h1>

      {% set currentSettingsPage = 'standards' %}
      {% include "includes/settings_menu.html" %}

      <div class="grid-row">
        <div class="column-full delete_record">   
          <div class="form-group" style="width:50%;">
            <label class="form-label" for="jobcentre">Jobcentre</label>
            <select class="select form-control">
              <option value="Select">Select</option>
              <option value="Bradford">Bradford</option>
              <option value="Derby">Derby</option>
              <option value="Liverpool">Liverpool</option>
              <option value="Manchester">Manchester</option>
              <option value="Portsmouth">Portsmouth</option>
              <option value="Southampton">Southampton</option>
              <option value="Wolverhampton">Wolverhampton</option>    
              <option value="Worcester">Worcester</option>                     
            </select>     
          </div>
        </div>
        
        <div class="column-full">      
          <h2 class="heading-medium">Jobseeker's Allowance</h2>
          <table class="targets" id="targets" border="0" cellpadding="0" cellspacing="0" border-spacing="0">
            <thead>
              <tr class="targets">
                <th>JSA 13</th>
                <th>JSA 26</th>
                <th>JSA 39</th>
                <th>JSA 39 (18-24)</th>
                <th>JSA 52</th>
                <th>JSA 52 (18-24)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input class="form-control" type="text"> %</td>
                <td><input class="form-control" type="text"> %</td>
                <td><input class="form-control" type="text"> %</td>
                <td><input class="form-control" type="text"> %</td>                            
                <td><input class="form-control" type="text"> %</td>
                <td><input class="form-control" type="text"> %</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="column-half">

          <h2 class="heading-medium">Income Support</h2>
          <div class="form-group">
            <label class="form-label" for="email">IS 52</label>
            <input class="form-control form-control-1-8" id="email" type="text"> %
          </div>

          <h2 class="heading-medium">Employment Support Allowance</h2>
          <div class="form-group">
            <label class="form-label" for="email">ESA 65</label>
            <input class="form-control form-control-1-8" id="email" type="text"> %
          </div>
        </div> 
        <div class="column-full">
          <div class="form-group" id="save">
            <a href="targets_confirm" class="button" value="Continue">Continue</a>
          </div>
        </div>    
      </div>        
    </div>
  </main>
{% endblock %}



