{{<layout}}

{{$pageTitle}}
  GOV.UK prototyping kit
{{/pageTitle}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$content}}


<main id="content" role="main">

 <div class="grid-row">        

        <div class="column-quarter grid-col" style="padding-bottom:90px; padding-top:30px; margin-left:-40px">
              <ul class="main-nav">
                <li id="nav-home"><a href="job">Search</a></li>
                <li id="nav-job"><a href="job_new">Create record</a></li>
                <li id="nav-case"><a href="performance">Caseload</a></li>
                <li id="nav-dash"><a href="performance_dash">Dashboard</a></li>
                <li id="nav-perf"><a href="performance_cohort">Performance</a></li>
                <li id="nav-set" class="selected"><a href="targets">Targets</a></li>          
              </ul>
          </div> 


    <!-- Start three quarters container for main content columns -->
    <div class="column-three-quarters">

         <h1 class="heading-large">&nbsp;&nbsp;Office targets</h1>

              <div class="column">   
                <h2 class="heading-medium">Jobseeker's Allowance</h2>
                    <table class="targets" id="targets" border="0" cellpadding="0" cellspacing="0" border-spacing="0">
                        <thead>
                          <tr class="targets">
                            <th>JSA 13 %</th>
                            <th>JSA 26 %</th>
                            <th>JSA 39 %</th>
                            <th>JSA 39 % (18-24)</th>
                            <th>JSA 52 %</th>
                            <th>JSA 52 % (18-24)</th>
                    <!--        <th>IS 52 %</th>
                            <th>ESA 65 %</th> -->
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><input class="form-control" id="inital" type="text"></td>
                            <td><input class="form-control" id="inital" type="text"></td>
                            <td><input class="form-control" id="inital" type="text"></td>
                            <td><input class="form-control" id="inital" type="text"></td>                            
                            <td><input class="form-control" id="inital" type="text"></td>
                            <td><input class="form-control" id="inital" type="text"></td>
                       <!--     <td><input class="form-control" id="inital" type="text"></td>
                            <td><input class="form-control" id="inital" type="text"></td> -->
                          </tr>
                         </tbody>
                      </table>

                      <h2 class="heading-medium">Income Support</h2>
                      <div class="form-group">
                          <label class="form-label smaller" for="email">IS 52%</label>
                          <input class="form-control single" id="email" type="text">
                      </div>

                      <h2 class="heading-medium">Employment Support Allowance</h2>
                      <div class="form-group">
                          <label class="form-label smaller" for="email">ESA 65%</label>
                          <input class="form-control single" id="email" type="text">
                      </div>

                </div> 

                
                <br>
                  <div class="column">
                      <div class="form-group" id="save">
                        <br>
                          <a href="targets_confirm" class="button" value="Continue">Continue</a>
                      </div>
                   </div>    
            

 <!-- End three quarters column-->       
   </div>  


    <!-- End row-->       
      </div>

             


</main>
{{/content}}

{{/layout}}

