{% extends "layout.html" %}

{% block content %}
  <main id="content" role="main">
    {% include "includes/main_nav.html" %}

    <div class="main-content">  
      <h1 class="heading-large">Performance standards</h1>

      {% set currentSettingsPage = 'standards' %}
      {% include "includes/settings_menu.html" %} 

      <div class="grid-row"> 
        <div class="column-full">
          <table>
            <thead>
              <tr>
                <th>Benefit type</th>
                <th>Target</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>JSA 13 weeks</td>
                <td>85%</td>
              </tr>
              <tr>
                <td>JSA 26 weeks</td>
                <td>80%</td>
              </tr>
              <tr>
                <td>JSA 39 weeks</td>
                <td>76%</td>
              </tr>
              <tr>
                <td>JSA 39 weeks (18-24 years)</td>
                <td>85%</td>
              </tr>                      
              <tr>
                <td>JSA 52 weeks</td>
                <td>70%</td>
              </tr> 
              <tr>
                <td>JSA 52 weeks (18-24 years)</td>
                <td>85%</td>
              </tr> 
              <tr>
                <td>IS 52 weeks</td>
                <td>70%</td>
              </tr>                                      
              <tr>
                <td>ESA 65 weeks</td>
                <td>70%</td>
              </tr>   
            </tbody>
          </table>
        </div>
      </div>

      <div class="grid-row"> 
        <div class="column-full">
          <div class="column">
              <div class="form-group" id="save">
                  <br />
                  <a href="targets" class="button secondary-button" value="Back">Back</a>
                  <a href="performance_dash" class="button" value="Continue">Save and continue</a>
              </div>
          </div>   
        </div> 
      </div>    
    </div>
  </main>
{% endblock %}



