{% extends "layout.html" %}

{% block content %}
  <main id="content" role="main">
    {% include "includes/main_nav.html" %}

    <div class="main-content">   
      <h1 class="heading-large">Settings - Change location</h1>    

      {% set currentSettingsPage = 'teams' %}
      {% include "includes/settings_menu.html" %} 


      {% if getData.errorMessage %}
      <div class="grid-row">
        <div class="column-half">
          <div class="panel panel-border-wide alert-success">
            {{getData.errorMessage}}
          </div>
        </div>
      </div>
      {% endif %}

      <div class="grid-row">
        <div class="column-half">
          <table>
            <thead>
              <tr>
                <th>Team name</th>
                <th>Workcoaches</th>
                <th colspan="2"></th>
              </tr>
            </thead>
            <tbody>
              {% for team in sessionData.teams %}
                <tr>
                  <td>{{team.name}}</td>
                  <td>{{team.workcoaches.join(', ')}}</td>
                  <td><a href="/latest/team_create/{{team.id}}">Update</a></td>
                  <td><a href="/latest/team_delete/{{team.id}}">Delete</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <div class="grid-row">
        <div class="column-full">
          <br />
          <div class="form-group filter-button">
            <a href="team_create"><button class="button">Create team</button></a>
          </div>
        </div>
      </div>            
    </div>
  </main>
{% endblock %}



