{% extends "layout.html" %}

{% block content %}
  <main id="content" role="main">
    {% set currentPage = 'whpSelection' %}
    {% include "includes/main_nav.html" %}

    <div class="main-content">   
      <h1 class="heading-large">Record WHP places available for Mercia district</h1>

      {% set currentGatekeeperPage = 'annualProfile' %}
      {% include "includes/whp_gatekeeper_nav.html" %}

      <form class="form" method="post" action="../gatekeeper/profile">
        <div class="grid-row">
          <div class="column-third dash">
            <div class="form-group">
              <label class="form-label bold" for="profileYear">Enter number of WHP places for &nbsp &nbsp</label>
              <select class="select form-control" name="profileYear" id="profileYear">
                {% for profileYearItem in profileYearList %}
                  <option value="{{profileYearItem}}" {% if profileYearItem === profileYear %} selected="selected" {% endif %}>{{profileYearItem}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>

        <div class="grid-row">
          <div class="column-third">
            <div class="form-group">
              <label class="form-label" for="whp-profile">Work and Health Programme (WHP) places</label>
              <input class="form-control form-control-1-8" type="text" name="whpProfile" id="whp-profile" value="{{whpProfile}}">
            </div>
          </div>
        </div>

        <div class="grid-row">
          <div class="column-third">
            <div class="form-group">
              <label class="form-label" for="psc-profile">Public Sector Comparitor (PSC) places</label>
              <input class="form-control form-control-1-8" type="text" name="pscProfile" id="psc-profile" value="{{pscProfile}}">
            </div>
          </div>
        </div>

        <div class="grid-row column-full form-group">
          <p class="inline">Total provision (WHP + PSC) = <span class="inline bold">{{totalProvPlaces}}</span></p>
        </div>

        <div class="grid-row column-full form-group">
          <p class="inline">Total places (including a 10% control group allocation) = <span class="inline bold">{{totalPlaces}}</span></p>
        </div>

        <div class="grid-row">
          <div class="column-full">
            <div class="form-group">
              <a href="/latest/gatekeeper/weeklyProfile" class="button">Confirm and Continue</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </main>
{% endblock %}



