{% extends "layout.html" %}

{% block content %}
  <main id="content" role="main">
    {% set currentPage = 'whpSelection' %}
    {% include "includes/main_nav.html" %}

    <div class="main-content">   
      <h2 class="heading-large">Breakdown of places</h2>

      <form class="form" method="POST" action="../gatekeeper/placesBreakdown">
        <div class="grid-row">
          <div class="column-one-third">
            <fieldset>
              <legend class="heading-medium">WHP provider places</legend>
              <div class="form-group">
                <label class="form-label" for="disWHPPlaces">Number of disabled places</label>
                <input class="form-control form-control-1-4" id="disWHPPlaces" type="text" name="disWHPPlaces" value="{{ data.placesData.disWHPPlaces }}">
              </div>
              <div class="form-group">
                <label class="form-label" for="eagWHPPlaces">Number of early access places</label>
                <input class="form-control form-control-1-4" id="eagWHPPlaces" type="text" name="eagWHPPlaces" value="{{ data.placesData.eagWHPPlaces }}">
              </div>
              <div class="form-group">
                <label class="form-label" for="ltuWHPPlaces">Number of long term unemployed places</label>
                <input class="form-control form-control-1-4" id="ltuWHPPlaces" type="text" name="ltuWHPPlaces" value="{{ data.placesData.ltuWHPPlaces }}">
              </div>
            </fieldset>
          </div>
          <div class="column-one-third">
            <fieldset>
              <legend class="heading-medium">Public sector comparator places</legend>
              <div class="form-group">
                <label class="form-label" for="disPSCPlaces">Number of disabled places</label>
                <input class="form-control form-control-1-4" id="disPSCPlaces" type="text" name="disPSCPlaces" value="{{ data.placesData.disPSCPlaces }}">
              </div>
              <div class="form-group">
                <label class="form-label" for="eagPSCPlaces">Number of early access places</label>
                <input class="form-control form-control-1-4" id="eagPSCPlaces" type="text" name="eagPSCPlaces" value="{{ data.placesData.eagPSCPlaces }}">
              </div>
              <div class="form-group">
                <label class="form-label" for="ltuPSCPlaces">Number of long term unemployed places</label>
                <input class="form-control form-control-1-4" id="ltuPSCPlaces" type="text" name="ltuPSCPlaces" value="{{ data.placesData.ltuPSCPlaces }}">
              </div>
            </fieldset>
          </div>
        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Confirm and continue">
        </div>      
      </form>
    </div>
  </main>
{% endblock %}

{% block page_scripts %}
  <script src="/public/javascripts/profilePlaces.js"></script>
{% endblock %}