{% extends "layout.html" %}

{% block content %}
  <main id="content" role="main">
    {% set currentPage = 'whpSelection' %}
    {% include "includes/main_nav.html" %}

    <div class="main-content">   
      <h1 class="heading-large">Summary of places</h1>

      <div class="grid-row">
        <div class="column-full">
          <form class="form" method="POST" action="../gatekeeper/placesBreakdown">
            <div class="form-group">
              <table>
                <thead>
                  <tr>
                    <th></th>
                    <th></th>
                    <th class="numeric" scope="col">WHP provider places</th>
                    <th class="numeric" scope="col">Public sector comparator places</th>
                    <th class="numeric" scope="col">Ratio</th>
                    <th class="numeric" scope="col">Referrals needed to fill places<span class="form-hint">Based on the ratio</span></th>
                    <th class="numeric" scope="col">Control group volumes<span class="form-hint">Automatically calculated based on referrals</span></th>
                    <th class="numeric" scope="col">Total referrals needed</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row" rowspan="2">Voluntary</th>
                    <th scope="row">Disabled/health condition</th>
                    <td class="numeric">{{ data.displayPlacesData.disWHPPlaces }}</td>
                    <td class="numeric">{{ data.displayPlacesData.disPSCPlaces }}</td>
                    <td class="numeric">{{ data.displayPlacesData.volRatio }}</td>
                    <td class="numeric">{{ data.displayPlacesData.disRefsNeeded }}</td>
                    <td class="numeric" rowspan="2">{{ data.displayPlacesData.volControlGroup }}</td>
                    <td class="numeric" rowspan="2">{{ data.displayPlacesData.totalVolRefs }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Early access</th>
                    <td class="numeric">{{ data.displayPlacesData.eagWHPPlaces }}</td>
                    <td class="numeric">{{ data.displayPlacesData.eagPSCPlaces }}</td>
                    <td class="numeric">{{ data.displayPlacesData.volRatio }}</td>
                    <td class="numeric">{{ data.displayPlacesData.eagRefsNeeded }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Mandatory</th>
                    <th scope="row">Long term unemployed</th>
                    <td class="numeric">{{ data.displayPlacesData.ltuWHPPlaces }}</td>
                    <td class="numeric">{{ data.displayPlacesData.ltuPSCPlaces }}</td>
                    <td class="numeric">{{ data.displayPlacesData.mandRatio }}</td>
                    <td class="numeric">{{ data.displayPlacesData.ltuRefsNeeded }}</td>
                    <td class="numeric">{{ data.displayPlacesData.mandControlGroup }}</td>
                    <td class="numeric">{{ data.displayPlacesData.totalMandRefs }}</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="grid-row">
              <div class="column-half">
                <div class="form-group">
                  {#<button class="button">Confirm and continue</button>#}
                  <a class="button" href="/latest/gatekeeper/selection">Confirm and continue</a>
                </div>
              </div>
            </div>
           </div>
          </form>
        </div>
      </div>
    </div>
  </main>
{% endblock %}



