{% extends "layout.html" %}

{% block content %}
  <main id="content" role="main">
    {% set currentPage = 'whpSelection' %}
    {% include "includes/main_nav.html" %}

    <div class="main-content">   
      <h2 class="heading-large">Review Work Coach submissions - calculate places and referrals</h2>
      <p>Places by category, including control group</p>

      <div class="grid-row">
        <div class="column-two-thirds">
          <form class="form" method="POST" action="../gatekeeper/profilePlaces">
            <table>
              <thead>
                <tr>
                  <th></th>
                  <th class="numeric">Total</th>
                  <th class="numeric">Disabled/health condition</th>
                  <th class="numeric">Early Access</th>
                  <th class="numeric">Long term unemployed</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>WHP private places to fill<span class="form-hint">Carried forward from previous page</span></td>
                  <td class="numeric">{{totalWHPPlaces}}</td>
                  <td class="numeric">
                    <input class="form-control form-control-1-4" type="text" name="disWHPPlaces" id="disWHPPlaces" value="30">
                  </td>
                  <td class="numeric">
                    <input class="form-control form-control-1-4" type="text" name="eagWHPPlaces" id="eagWHPPlaces" value="3">
                  </td>
                  <td class="numeric">
                    <input class="form-control form-control-1-4" type="text" name="ltuWHPPlaces" id="ltuWHPPlaces" value="4">
                  </td>
                </tr>
                <tr>
                  <td>PSC public places to fill<span class="form-hint">Carried forward from previous page</span></td>
                  <td class="numeric">{{totalPSCPlaces}}</td>
                  <td class="numeric">
                    <input class="form-control form-control-1-4" type="text" name="disPSCPlaces" id="disPSCPlaces" value="23">
                  </td>
                  <td class="numeric">
                    <input class="form-control form-control-1-4" type="text" name="eagPSCPlaces" id="eagPSCPlaces" value="2">
                  </td>
                  <td class="numeric">
                    <input class="form-control form-control-1-4" type="text" name="ltuPSCPlaces" id="ltuPSCPlaces" value="3">
                  </td>
                </tr>
                <tr>
                  <td>Referrals needed to fill places<span class="form-hint">Based on referral to start ratio</span></td>
                  <td></td>
                  <td class="numeric">45</td>
                  <td class="numeric">5</td>
                  <td class="numeric">4</td>
                </tr>
                <tr>
                  <td>Control group volumes<span class="form-hint">Automatically calculated based on referrals</span></td>
                  <td></td>
                  <td class="numeric">5</td>
                  <td class="numeric">1</td>
                  <td class="numeric">1</td>
                </tr>
                <tr>
                  <td class="bold">Total referrals needed</td>
                  <td></td>
                  <td class="bold numeric">50</td>
                  <td class="bold numeric">6</td>
                  <td class="bold numeric">5</td>
                </tr>
              </tbody>
            </table>
            <br>
            <div class="grid-row">
              <div class="column-half">
                <div class="form-group">
                  <input class="button" name="recalc" type="submit" value="Re-calculate"></input>
                  <!--<a href="/latest/gatekeeper/profilePlaces"><button class="button">Re-calculate</button></a>-->
                </div>
              </div>

              <div class="column-half">
                <div class="form-group">
                  <input class="button" name="conf" type="submit" value="Confirm and continue"></input>
                  <!--<a href="/latest/gatekeeper/selection"><button class="button">Confirm and Continue</button></a>-->
                </div>
              </div>
            </div>
           </div>
          </form>
        </div>
      </div>
    </div>
  </main>
{% endblock %}



