{% extends "layout.html" %}

{% block content %}
  <main id="content" role="main">
    {% set currentPage = 'whpSelection' %}
    {% include "includes/main_nav.html" %}

    <div class="main-content">
      <h1 class="heading-large">Referrals for Mercia for 31 May 2017</h1>

      {% set currentGatekeeperPage = 'report' %}

      <form method="POST" action="../gatekeeper/selection">
        <div class="grid-row">
          <div class="column-third">
            <p><span id="selectionCount" class="bold">0</span> selections made</p>
          </div>
          <div class="column-third">
            <p><span class="bold">{{newReferrals}}</span> referrals received</p>
          </div>
          <div class="column-third">
            <p><span class="bold">{{placesToFill}}</span> spaces available</p>
          </div>
        </div>

        <div class="grid-row">
          <div class="column-full">
            <div class="form-group">
              <table>
                <thead>
                  <tr>
                    <th>Select</th>
                    <th>Jobcentre</th>
                    <th>Disabled/EAG</th>
                    <th class="numeric">Score</th>
                    <th>ESA WRAG, not in receipt of WRAC</th>
                    <th>Benefit Cap</th>
                    <th>DDA Priority applies?</th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in range(0, 10) %}
                    <tr>
                      <td>
                        <label>
                          <input name="random-allocation-1" type="checkbox"/>
                          <span class="visually-hidden">Put forward for allocation</span>
                        </label>
                      </td>
                      <td>Worcester</td>
                      <td>EAG - carer</td>
                      <td class="numeric">22</td>
                      <td></td>
                      <td>Yes</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>
                        <label>
                          <input name="random-allocation-2" type="checkbox"/>
                          <span class="visually-hidden">Put forward for allocation</span>
                        </label>
                      </td>
                      <td>Coventry</td>
                      <td>Disabled</td>
                      <td class="numeric">23</td>
                      <td></td>
                      <td>Yes</td>
                      <td>Yes</td>
                    </tr>
                    <tr>
                      <td>
                        <label>
                          <input name="random-allocation-3" type="checkbox"/>
                          <span class="visually-hidden">Put forward for allocation</span>
                        </label>
                      </td>
                      <td>Coventry</td>
                      <td>EAG - homeless</td>
                      <td class="numeric">12</td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>
                        <label>
                          <input name="random-allocation-4" type="checkbox"/>
                          <span class="visually-hidden">Put forward for allocation</span>
                        </label>
                      </td>
                      <td>Coventry</td>
                      <td>Disabled</td>
                      <td class="numeric">8</td>
                      <td>Yes</td>
                      <td>Yes</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>
                        <label>
                          <input name="random-allocation-5" type="checkbox" />
                          <span class="visually-hidden">Put forward for allocation</span>
                        </label>
                      </td>
                      <td>Stratford</td>
                      <td>Disabled</td>
                      <td class="numeric">15</td>
                      <td>Yes</td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>
                        <label>
                          <input name="random-allocation-0" type="checkbox"></input>
                          <span class="visually-hidden">Put forward for allocation</span>
                        </label>
                      </td>
                      <td>Leeds</td>
                      <td>EAG</td>
                      <td class="numeric">2</td>
                      <td></td>
                      <td></td>
                      <td>Yes</td>
                    </tr>
                    <tr>
                      <td>
                        <label>
                          <input name="random-allocation-70" type="checkbox"></input>
                          <span class="visually-hidden">Put forward for allocation</span>
                        </label>
                      </td>
                      <td>Kidderminster</td>
                      <td>Disabled</td>
                      <td class="numeric">16</td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="grid-row">
          <div class="column-full">
            <div class="form-group">
              <button class="button">Continue</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </main>
{% endblock %}

{% block page_scripts %}
  <script src="/public/javascripts/whpSelection.js"></script>
{% endblock %}