{% extends "layout.html" %}

{% block content %}
  <main id="content" role="main">
    {% include "includes/main_nav.html" %}

    <div class="main-content">   
      <h1 class="heading-large">Profile WHP places across the year</h1>

      {% set currentSettingsPage = 'whpAdmin' %}
      {% include "includes/whp_gatekeeper_nav.html" %}

      <div class="grid-row">
        <div>
          <p>There are 1595 places available for Mercia district for 2017/2018.</p>
          <p>These have been 'flat-profiled' below. You can accept or amend this profile in the table below.</p>
          <p class="panel panel-border-narrow">There are 20 places remaining, please add these into future weeks before confirming and continuing.</p>
          <div class="stat-over-first">
            <table>
              <thead>
                <tr>
                  <td class="bold">Week commencing</td>
                  <td class="bold">Profile</td>
                  <td class="bold"></td>
                  <td class="bold"></td>
                  <td></td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="bold">Total 2017/18</td>
                  <td class="bold">1595</td>
                  <td>Of which disabled (75%)</td>
                  <td>Of which early entry (10%)</td>
                  <td>Of which long term unemployed (15%)</td>
                </tr>
                <tr>
                  <td>1-Oct-2017</td>
                  <td>
                    <input class="form-control form-control-1-8" type="text" id="whp-profile-1-oct" value="30">
                  </td>
                  <td>22</td>
                  <td>3</td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>8-Oct-2017</td>
                  <td>
                    <input class="form-control form-control-1-8" type="text" id="whp-profile-8-oct" value="30">
                  </td>
                  <td>22</td>
                  <td>3</td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>15-Oct-2017</td>
                  <td>
                    <input class="form-control form-control-1-8" type="text" id="whp-profile-15-oct" value="30">
                  </td>
                  <td>22</td>
                  <td>3</td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>22-Oct-2017</td>
                  <td>
                    <input class="form-control form-control-1-8" type="text" id="whp-profile-22-oct" value="30">
                  </td>
                  <td>22</td>
                  <td>3</td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>29-Oct-2017</td>
                  <td>
                    <input class="form-control form-control-1-8" type="text" id="whp-profile-29-oct" value="30">
                  </td>
                  <td>22</td>
                  <td>3</td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>" "</td>
                  <td>" "</td>
                  <td>" "</td>
                  <td>" "</td>
                  <td>" "</td>
                </tr>
                <tr>
                  <td>23-Sep-2018</td>
                  <td>
                    <input class="form-control form-control-1-8" type="text" id="whp-profile-23-sep" value="30">
                  </td>
                  <td>22</td>
                  <td>3</td>
                  <td>5</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      <div class="grid-row">
        <div class="column-full">
          <div class="form-group">
            <a href="/latest/whp-allocations-profile"><button class="button">Confirm and Continue</button></a>
          </div>
        </div>
      </div>            
    </div>
  </main>
{% endblock %}



