{% extends "layout.html" %}

{% block content %}
  <main id="content" role="main">
    {% set currentPage = 'whpSelection' %}
    {% include "includes/main_nav.html" %}

    <div class="main-content">   
      <h2 class="heading-large">Review Work Coach submissions - calculate places and referrals</h2>

      <form class="form" method="post" action="../gatekeeper/places">
        <p>How many places are you looking to fill ?</p>
        <p class="form-hint">Please specify the number of places you are looking to fill this time, and your start to referral ratios.<br>
          This will calculate places for long-term / voluntary provision, and the control group, on the next page.</p>
        <div class="grid-row">
          <div class="column-third">
            <div class="form-group">
              <label class="form-label" for="totalWHPPlaces">How many WHP provider places are you looking to fill?</label>
              <input class="form-control form-control-1-8" type="text" name="totalWHPPlaces" id="totalWHPPlaces" value="{{totalWHPPlaces}}">
            </div>
          </div>
        </div>


        {%if not data.withoutPsc %}
        <div class="grid-row">
          <div class="column-third">
            <div class="form-group">
              <label class="form-label" for="totalPSCPlaces">How many public sector comparator places are you looking to fill?</label>
                <input class="form-control form-control-1-8" type="text" name="totalPSCPlaces" id="totalPSCPlaces" value="{{totalPSCPlaces}}">
            </div>
          </div>
        </div>
        {%endif%}
        <br>
        <div class="grid-row">
          <div class="column-third">
            <div class="form-group">
              <label class="form-label" for="mandRatio">What is your referral to start ratio for mandatory provision (LTU)?
                <span class="visually-hidden">Enter number of referrals to one start</span>
              </label>
              <input class="form-control form-control-1-8 inline" type="text" name="mandRatio" id="mandRatio" value="{{mandRatio}}"> &nbsp to 1
            </div>
          </div>
        </div>

        <div class="grid-row">
          <div class="column-third">
            <div class="form-group">
              <label class="form-label" for="volRatio">What is your referral to start ratio for voluntary provision (Disabled/EEG)?
                <span class="visually-hidden">Enter number of referrals to one start</span>
              </label>
              <input class="form-control form-control-1-8" type="text" name="volRatio" id="volRatio" value="{{volRatio}}"> &nbsp to 1
            </div>
          </div>
        </div>


        <div class="grid-row">
          <div class="column-full">
            <div class="form-group">
              <input type="submit" class="button" value="Confirm and continue"></input>
            </div>
          </div>
        </div>
      </form>
    </div>
  </main>
{% endblock %}



