{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">
  {% set currentPage = 'whpSelection' %}
  {% include "includes/main_nav.html" %}

  <div class="main-content">
    <h1 class="heading-large">Profile WHP places across {{profileYear}} for {{district}} district</h1>

    {% set currentGatekeeperPage = 'weeklyProfile' %}
    {% include "includes/whp_gatekeeper_nav.html" %}

    <form class="form" method="post" action="../gatekeeper/weeklyProfile">
      <div class="grid-row">
        <div class="column-two-thirds">
          <p class="inline">Total profiled WHP places : <span class="inline bold">{{whpProfile}}</span></p>
          <p class="inline">Total profiled PSC places : <span class="inline bold">{{pscProfile}}</span></p>
          <p>You can accept or amend weekly profiles in the table below.</p>

          <div class="stat-over-first">
            <table>
              <thead>
                <tr>
                  <td class="bold">Date</td>
                  <td class="bold">WHP Profile</td>
                  <td class="bold">PSC Profile</td>
                  <td class="bold">WHP Extras</td>
                  <td class="bold">PSC Extras</td>
                  <td></td>
                </tr>
              </thead>
              <tbody>
                {% for weekProfileDataItem in fullYearProfileData %}
                  <tr>
                    <td>Week {{weekProfileDataItem.weekNum}}</td>
                    <td>
                      <input class="form-control form-control-1-4" type="text" name="week{{weekProfileDataItem.weekNum}}whpProfile" id="week{{weekProfileDataItem.weekNum}}whpProfile" value="{{weekProfileDataItem.weekwhpProfile}}">
                    </td>
                    <td>
                      <input class="form-control form-control-1-4" type="text" name="week{{weekProfileDataItem.weekNum}}pscProfile" id="week{{weekProfileDataItem.weekNum}}pscProfile" value="{{weekProfileDataItem.weekpscProfile}}">
                    </td>
                    <td>
                      <input class="form-control form-control-1-4" type="text" name="week{{weekProfileDataItem.weekNum}}whpExtras" id="week{{weekProfileDataItem.weekNum}}whpExtras" value="{{weekProfileDataItem.weekwhpExtrasProfile}}">
                    </td>
                    <td>
                      <input class="form-control form-control-1-4" type="text" name="week{{weekProfileDataItem.weekNum}}pscExtras" id="week{{weekProfileDataItem.weekNum}}pscExtras" value="{{weekProfileDataItem.weekpscExtrasProfile}}">
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="grid-row">
          <div class="column-full">
            <div class="form-group">
              <a href="/latest/gatekeeper/allocations" class="button">Confirm and Continue</a>
            </div>
          </div>
        </div>
    </form>
  </div>
</main>
{% endblock %}




