{% extends "layout.html" %}

{% block content %}
  <main id="content" role="main">
    
    {% include "includes/main_nav.html" %}
    
    <div class="main-content">
      <h1 class="heading-large">WHP confirm referrals</h1>

      <div class="grid-row">
        {% set currentClaimantPage = 'selectionTool' %}
      </div>
      
      <div class="grid-row">
        <div class="column-full">
          <p>You are about to refer {{referralsSelected}} claimants for random allocation against {{placesToFill}} places profiled</p>
          <p>Of the {{referralsSelected}} claimants selected, {{referralsSelected - 5}} are in the Disabled group, and 5 are in the EAG group</p>
          <p>To change your selections or allocate additional claimants, use the link below to return to selections</p>
        </div>
      </div>
      
      <div class="grid-row">
        <div class="column-third">
          <div class="form-group">
            <a href="/latest/whp-selection-outcomes-report" class="button">Continue</a>
          </div>
          <div class="form-group">
            <a href="/latest/gatekeeper/selection">Back to selections</a>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}