{% extends "layout.html" %}

{% block content %}
  <main id="content" role="main">
    {% set currentPage = 'whpSelection' %}
    {% include "includes/main_nav.html" %}

    <div class="main-content">
      <h1 class="heading-large">Referrals for Mercia for 31 May 2017</h1>

      {% set currentGatekeeperPage = 'report' %}

      <form method="POST" action="../gatekeeper/selection">
        <div class="grid-row">
          <div class="column-full">
            <div class="grid-row">
              <div class="column-third">
                <div class="form-group">
                  <label class="form-label" for="newReferrals">Referrals received</label>
                  <input readonly class="form-control form-control-1-4" type="text" name="newReferrals" id="newReferrals" value="{{newReferrals}}">
                </div>
              </div>

              <div class="column-third">
                <div class="form-group">
                  <label class="form-label" for="placesToFill">Places to fill</label>
                  <input readonly class="form-control form-control-1-4" type="text" name="placesToFill" id="placesToFill" value="{{placesToFill}}">
                </div>
              </div>

              <div class="column-third">
                <div class="form-group">
                  <label class="form-label" for="referralsSelected">Referrals selected below</label>
                  <input readonly class="form-control form-control-1-4" type="text" name="referralsSelected" id="referralsSelected" value="{{referralsSelected}}">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="grid-row">
          <div class="column-full">
            <table class="display" id="example" border="0" cellpadding="0" cellspacing="0" border-spacing="0">
              <thead>
                <tr>
                  <th><span class="bold">Jobcentre</span></th>
                  <th><Span class="bold">Disabled/EEG</Span></th>
                  <th><span class="bold">Score</span></th>
                  <th><span class="bold">ESA WRAG, not in receipt of WRAC</span></th>
                  <th><span class="bold">Benefit Cap</span></th>
                  <th><span class="bold">DDA Priority applies ?</span></th>
                  <th><span class="bold">Put forward for random allocation</span></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Worcester</td>
                  <td>EEG - carer</td>
                  <td>22</td>
                  <td></td>
                  <td>Y</td>
                  <td></td>
                  <td>
                    <input name="random-allocation-1" id="random-allocation-1" type="checkbox" checked="{{randomAllocation1}}")></input>
                  </td>
                </tr>
                <tr>
                  <td>Coventry</td>
                  <td>Disabled</td>
                  <td>23</td>
                  <td></td>
                  <td>Y</td>
                  <td>Y</td>
                  <td>
                    <input name="random-allocation-2" id="random-allocation-2" type="checkbox")></input>
                  </td>
                </tr>
                <tr>
                  <td>Coventry</td>
                  <td>EEG - homeless</td>
                  <td>12</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <input name="random-allocation-3" id="random-allocation-3" type="checkbox" checked="{{randomAllocation3}}")></input>
                  </td>
                </tr>
                <tr>
                  <td>Coventry</td>
                  <td>Disabled</td>
                  <td>8</td>
                  <td>Y</td>
                  <td>Y</td>
                  <td></td>
                  <td>
                    <input name="random-allocation-4" id="random-allocation-4" type="checkbox", )></input>
                  </td>
                </tr>
                <tr>
                  <td>Stratford</td>
                  <td>Disabled</td>
                  <td>15</td>
                  <td>Y</td>
                  <td></td>
                  <td></td>
                  <td>
                    <input name="random-allocation-5" id="random-allocation-5" type="checkbox", checked="{{randomAllocation5}}")></input>
                  </td>
                </tr>
                <tr>
                  <td>" "</td>
                  <td>" "</td>
                  <td>" "</td>
                  <td>" "</td>
                  <td>" "</td>
                  <td>" "</td>
                  <td>
                    <input name="random-allocation-0" id="random-allocation-0" type="checkbox")></input>
                  </td>
                </tr>
                <tr>
                  <td>Kidderminster</td>
                  <td>Disabled</td>
                  <td>16</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <input name="random-allocation-70", id="random-allocation-70", type="checkbox" checked="{{randomAllocation70}}")></input>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <br>
        <br>
        <div class="grid-row">
          <div class="column-full">
            <div class="form-group">
              <input type="submit" class="button" value="Confirm and Continue"></input>
              <!--<a href="/latest/gatekeeper/selection"><button class="button">Confirm and Continue</button></a>-->
            </div>
          </div>
        </div>
      </form>
    </div>
  </main>
{% endblock %}

{% block page_scripts %}
  <script src="/public/javascripts/caseload.js"></script>
{% endblock %}