{% extends "layout.html" %}

{% block content %}
  <main id="content" role="main">
    {% include "includes/main_nav.html" %}

    <div class="main-content">   
      <h1 class="heading-large">Record WHP places available</h1>

      {% set currentSettingsPage = 'whpAdmin' %}
      {% include "includes/whp_gatekeeper_nav.html" %}

      <div class="grid-row">
        <div class="column-third dash">
          <div class="form-group">
            <label class="form-label" for="district">Select district</label>
            <select class="select form-control" id="district">
              <option value="Select">Select</option>
              <option value="Bradford">Bradford</option>
              <option value="Derby">Derby</option>
              <option value="Liverpool" selected>Mercia</option>
              <option value="Manchester">Manchester</option>
              <option value="Portsmouth">Portsmouth</option>
              <option value="Southampton">Southampton</option>
              <option value="Wolverhampton">Wolverhampton</option>
              <option value="Worcester">Worcester</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
          <span class="bold">Enter number of WHP places for &nbsp &nbsp<input class="form-control form-control-1-8 bold" type="text" id="profile-year" name="profile-year" value="2017">
          </span>
      </div>

      <div class="grid-row">
        <div class="column-third">
          <div class="form-group">
            <label class="form-label" for="whp-profile">Work and Health Programme (WHP) places</label>
            <input class="form-control form-control-1-8" type="text" id="whp-profile" value="1300">
          </div>  
        </div>

        <div class="column-third">
          <div class="form-group">
            <label class="form-label">Total provision places (WHP + PSC + additional)</label>
            <p>1450</p>
          </div>  
        </div>
      </div>

      <div class="grid-row">
        <div class="column-third">
          <div class="form-group">
            <label class="form-label" for="psc-profile">Public Sector Comparitor (PSC) places</label>
            <input class="form-control form-control-1-8" type="text" id="psc-profile" value="100">
          </div>  
        </div>
        <div class="column-third">
          <div class="form-group">
            <label class="form-label">Control group allocation (10% of Total provision)</label>
            <p>145</p>
          </div>
        </div>
      </div>

      <div class="grid-row">
        <div class="column-third">
          <div class="form-group">
            <label class="form-label" for="add-places">Additional places</label>
            <input class="form-control form-control-1-8" type="text" id="add-places" value="50">
          </div>
        </div>
        <div class="column-third">
          <div class="form-group">
            <label class="form-label">Total places (Total provision + Control group allocation)</label>
            <p>1595</p>
          </div>
        </div>
      </div>

      <div class="grid-row">
        <div class="column-third">
          <div class="form-group">
            <label class="form-label" for="whp-start-date">WHP start date</label>
            <input class="form-control form-control-1-4" type="text" id="whp-start-date" value="01/08/17">
          </div>
        </div>
        <div class="column-third">
          <div class="form-group">
            <label class="form-label" for="whp-end-date">WHP end date</label>
            <input class="form-control form-control-1-4" type="text" id="whp-end-date" value="01/08/18">
          </div>
        </div>
      </div>

      <div class="grid-row">
        <div class="column-full">
          <div class="form-group">
            <a href="/latest/whp-weekly-profile"><button class="button">Confirm and Continue</button></a>
          </div>
        </div>
      </div>            
    </div>
  </main>
{% endblock %}



