{{<layout}}

{{$pageTitle}}
  GOV.UK prototyping kit
{{/pageTitle}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$content}}


<main id="content" role="main">

 <div class="grid-row">        

           <div class="column-quarter grid-col" style="padding-bottom:90px; padding-top:30px; margin-left:-40px">
              <ul class="main-nav">
                <li id="nav-home"><a href="login">Home</a></li>
                <li id="nav-job"><a href="job">Job centre</a></li>
                <li id="nav-benefit" class="selected"><a href="benefit">Benefit centre</a></li>
                <li id="nav-admin"><a href="#">Admin</a></li>
                <li id="nav-stats"><a href="#">Stats</a></li>
              </ul>
          </div>


  <!-- Start three quarters container for main content columns -->
  <div class="column-three-quarters">


        <p class="font-xsmall bread"><a href="login">Home</a>&nbsp;>&nbsp;Benefit centre</p> 

         <h1 class="heading-large">&nbsp;&nbsp;Benefit centre - record search</h1>
         <!-- <h2 class="bold-medium">If you have not done so already, below is a list of things we would like you to do before your jobseeker interview to improve your chances of finding work quickly.</h2> -->

      <ul class="tabs">
            <li class="selected"><a href="#">Basic search</a></li>
            <li><a href="benefit_advanced">Advanced search</a></li>
            <li><a class="disabled" href="#">View record</a></li>
            <li><a class="disabled" href="#">Maintenance</a></li>
            <li><a class="disabled" href="#">Payment</a></li>
            <li><a class="disabled" href="#">Closure</a></li>
         </ul> 


      <div class="column-half">   

        <br>

 <!--       <p>Retrieve record by:</p> -->

           <div class="form-group">
              <label class="form-label" for="inital">NINO</label>
              <input class="form-control" id="inital" type="text"> &nbsp;
              <a href="#" class="button button-get-started" value="Submit">Search</a>
            </div> 

       </div>



        <div class="column">   

                <h3 class="heading-medium">0 records</h3>

               <table>
                    <thead>
                      <tr>
                        <th scope="col">Surname</th>
                        <th scope="col">Created by</th>
                        <th scope="col">NINO</th>
                        <th scope="col">Phone number</th>  
                        <th scope="col">Status</th>                     
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="5">No record found - <a class="table_link" href="benefit_advanced" title="View more info">use advanced search.</a></td>
                        </tr>  
                    </tbody>
                </table>  

                <br>
                <br>

         
      </div>
      <!-- End col -->




    <!-- End row-->       
      </div>


</main>
{{/content}}

{{/layout}}

