{{<layout}}

{{$pageTitle}}
  GOV.UK prototyping kit
{{/pageTitle}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$content}}


<main id="content" role="main">

 <div class="grid-row">        

           <div class="column-quarter grid-col" style="padding-bottom:90px; padding-top:30px; margin-left:-40px">
              <ul class="main-nav">
                <li id="nav-home"><a href="login">Home</a></li>
                <li id="nav-job" class="selected"><a href="job">Jobcentre</a></li>
                <li id="nav-benefit"><a href="benefit">Benefit centre</a></li>
                <li id="nav-admin"><a href="#">Admin</a></li>
                <li id="nav-stats"><a href="#">Stats</a></li>
              </ul>
          </div>


  <!-- Start three quarters container for main content columns -->
  <div class="column-three-quarters">

        <p class="font-xsmall bread"><a href="login">Home</a>&nbsp;>&nbsp;Jobcentre</p> 

         <h1 class="heading-large">&nbsp;&nbsp;Jobcentre - record search</h1>
         <!-- <h2 class="bold-medium">If you have not done so already, below is a list of things we would like you to do before your jobseeker interview to improve your chances of finding work quickly.</h2> -->

      <ul class="tabs">
            <li><a href="job">Basic search</a></li>
            <li class="selected"><a href="#">Advanced search</a></li>
            <li><a class="disabled" href="#">Edit record</a></li>
            <li><a class="disabled" href="#">New record</a></li> 
            <li><a class="disabled" href="#">Interview</a></li>
            <li><a class="disabled" href="#">Next appointment</a></li>
            <li><a class="disabled" href="#">Closure</a></li>
         </ul> 

      <div class="column-third">   

         <h3 class="heading-small">Advanced search</h3>
        <br>
 <!--       <p>Retrieve record by:</p> -->

           <div class="form-group">
              <label class="form-label" for="inital">NINO</label>
              <input class="form-control" id="inital" type="text">
            </div> 

            <div class="form-group">
              <label class="form-label" for="inital">Contact number</label>
              <input class="form-control" id="inital" type="text">
            </div> 

            <div class="form-group">
                <label class="form-label" for="title">Jobcentre</label>
             <!--         <span class="form-hint">Enter claimant postcode, eg LS11 3PH</span>
                  <input class="form-control" id="inital" type="text">
                  <a href="service_confirm" class="button button-get-started postcode-finder" value="Submit">Find address</a> -->
                <select class="select form-control">
                      <option value="Southampton">Southampton</option>
                      <option value="Bradford">Bradford</option>
                      <option value="Derby">Derby</option>
                      <option value="Liverpool">Liverpool</option>
                      <option value="Manchester">Manchester</option>
                      <option value="Portsmouth">Portsmouth</option>
                      <option value="Southampton">Southampton</option>
                      <option value="Wolverhampton">Wolverhampton</option>           
                  </select> 
            </div> 

       </div>


       <div class="column-half">    

          <br>
          <br>
          <br>


            <div class="form-group">
              <label class="form-label" for="inital">Surname</label>
              <input class="form-control" id="inital" type="text">
            </div> 

            <div class="form-group initial">
              <label class="form-label" for="inital">Initial</label>
              <input class="form-control" id="inital" type="text">
            </div>   

             <div class="form-group" id="get-started">
                    <br>
                      <a href="#" class="button button-get-started" value="Submit">Search</a>
                  </div>

        </div>    


        <div class="column-two-thirds">   

                <h3 class="heading-medium">1 record</h3>

           <div>
                <table>
                    <tr>
                        <td>Surname:</td>
                        <td><a class="table_link" href="job_edit" title="Edit record">Smith</a></td>
                    </tr>
                    <tr>
                        <td>NINO:</td>
                        <td>JC 45 85 96 X</td>
                    </tr>
                    <tr>
                        <td>Mobile:</td>
                        <td>04585 747 358</td>
                    </tr>
                    <tr>
                        <td>Jobcentre:</td>
                        <td>Bambury</td>
                    </tr>
                    <tr>
                        <td>Age group:</td>
                        <td>18-25</td>
                    </tr>
                     <tr>
                        <td>Initial date of contact:</td>
                        <td>04/04/2015</td>
                    </tr>
                    <tr>
                    <td>1st appointment date:</td>
                        <td>14/04/2015</td>
                    </tr>
                     <tr>
                        <td>1st appointment time:</td>
                        <td>9.30 am</td>
                    </tr>
                </table>
           </div> 


      <!--         <table>
                    <thead>
                      <tr>
                        <th scope="col">Surname</th>
                        <th scope="col">Created by</th>
                        <th scope="col">NINO</th>
                        <th scope="col">Phone number</th>  
                        <th scope="col">Status</th>                     
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a class="table_link" href="job_edit" title="View more info">Smith</a></td>
                            <td>Louis Pitchford</td>
                            <td>JC 42 86 47 C</td>
                            <td>07942 456 345</td>
                            <td>Live (edit existing)</td>
                        </tr>  
                        <tr>
                            <td><a class="table_link" href="job_new" title="View more info">Smith</a></td>
                            <td>Louis Pitchford</td>
                            <td>JC 42 86 47 C</td>
                            <td>07942 456 345</td>
                            <td>Dormant (create new)</td>
                        </tr>  
                    </tbody>
                </table>  -->

                <br>
                <br>

         
      </div>
      <!-- End col -->




    <!-- End row-->       
      </div>


</main>
{{/content}}

{{/layout}}

