{{<layout}}

{{$pageTitle}}Admin screen{{/pageTitle}}

{{$propositionHeader}}
  {{>includes/propositional_navigation_sprint_6}}
{{/propositionHeader}}

{{$content}}

<main id="content" role="main">

    <div class="phase-banner">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>


	<h1 class="heading-large">Log-in and password change successful</h1>
    <h2>Please choose from the following options:</h2>

    <div class="grid-row">
        <div class="column-third">
           <h2 class="heading-medium">Service Centre</h2>
            <p><a href="service_centre">Link</a></p>
            <h2 class="heading-medium">Job Centre</h2>
            <p><a href="service_centre">Link</a></p>
            <h2 class="heading-medium">Benefit Centre</h2>
            <p><a href="service_centre">Link</a></p>
            <h2 class="heading-medium">Management Information</h2>
            <p><a href="service_centre">Link</a></p>
            <h2 class="heading-medium">Admin</h2>
            <p><a href="service_centre">Link</a></p>
        </div>
    </div>   

</main>

{{/content}}

{{/layout}}
