<fieldset class="inline">
    <legend>Is the claimant disabled ?</legend>
    {{ forms.radio(name='disabled', displayText='Yes', optionValue='Yes', id='disabled-yes') }}
    {{ forms.radio(name='disabled', displayText='No', optionValue='No', id='disabled-no') }}
</fieldset>
<br>
<fieldset>
    <legend>Which Early entry groups apply to the claimant ? (Tick all that apply)</legend>
    {% for eegOption in eegOptions %}
    {{ forms.checkbox(name='eeg-options', id=egeOption.value, value=eegOption.label)}}
    {% endfor %}
</fieldset>
<br>
<fieldset class="inline">
    <legend>Is the claimant subject to Benefit Cap ?</legend>
    {{ forms.radio(name='ben-cap', displayText='Yes', optionValue='Yes', id='ben-cap-yes') }}
    {{ forms.radio(name='ben-cap', displayText='No', optionValue='No', id='ben-cap-no') }}
</fieldset>
<br>