        <div class="column-quarter grid-col" style="padding-bottom:90px; padding-top:30px; margin-left:-40px">
              <ul class="main-nav">
                <li id="nav-home"><a href="login">Home</a></li>
                <li id="nav-service" class="selected"><a href="/agent/to-do-list">Service centre</a></li>
                <li id="nav-job"><a href="/agent/claimants">Job centre</a></li>
                <li id="nav-benefit"><a href="/agent/colleagues">Benefit centre</a></li>
                <li id="nav-admin"><a href="/agent/colleagues">Admin</a></li>
                <li id="nav-stats"><a href="/agent/colleagues">Stats</a></li>
              </ul>
      </div>