<div class="column-quarter grid-col" style="padding-bottom:90px; padding-top:30px; margin-left:-40px">
  <ul class="main-nav">
    <li id="nav-home" {% if currentPage === "job" %}class="selected"{% endif %}><a href="job">Search</a></li>
    <li id="nav-case" {% if currentPage === "caseload" %}class="selected"{% endif %}><a href="performance">Caseload</a></li>
    <li id="nav-dash" {% if currentPage === "dashboard" %}class="selected"{% endif %}><a href="performance_dash">Dashboard</a></li>
    <li id="nav-perf" {% if currentPage === "workcoachView" %}class="selected"{% endif %}><a href="performance_cohort">Office performance</a></li>
    <li id="nav-off" {% if currentPage === "mangerView" %}class="selected"{% endif %}><a href="manager_view_filter">Work coach performance</a></li>
    <li class="plain-link first-plain-link"><a target="_blank" rel="external" href="http://intralink.link2.gpn.gov.uk/team-sites/business-transformation/enhancing-jobseekers/DWP_T850874.asp#TopOfPage">Updates</a></li>
    <li class="plain-link"><a target="_blank" rel="external" href="http://intralink.link2.gpn.gov.uk/team-sites/business-transformation/enhancing-jobseekers/DWP_T850864.asp#TopOfPage">FAQs</a></li>
  </ul>
</div> 