        <div class="column-quarter grid-col" style="padding-bottom:90px; padding-top:30px; margin-left:-40px">
              <ul class="main-nav">
                <li id="nav-home"><a href="login">Home</a></li>
                <li id="nav-service" class="selected"><a href="service_centre_left">Service centre</a></li>
                <li id="nav-job"><a href="#">Job centre</a></li>
                <li id="nav-benefit"><a href="benefit">Benefit centre</a></li>
                <li id="nav-admin"><a href="#">Admin</a></li>
                <li id="nav-stats"><a href="#">Stats</a></li>
              </ul>
      </div>