<div class="nav-horizontal">
  <div class="main-nav-wrapper">
    <ul class="main-nav">

      {% if data.user.role !== 'gatekeeper'%}
        <li id="nav-home" {% if currentPage === "job" %}class="selected"{% endif %}><a href="job">Search</a></li>
        <li id="nav-case" {% if currentPage === "caseload" %}class="selected"{% endif %}><a href="performance">Caseload</a></li>
        <li id="nav-dash" {% if currentPage === "dashboard" %}class="selected"{% endif %}><a href="performance_dash">Dashboard</a></li>

        {% if data.user.role === 'manager'%}
          <li id="nav-perf" {% if currentPage === "mangerView" %}class="selected"{% endif %}><a href="manager_performance">Performance</a></li>
        {%else%} 
          <li id="nav-off" {% if currentPage === "mangerView" %}class="selected"{% endif %}><a href="workcoach_performance_view_onflow">Performance</a></li>
        {%endif%}
      {%else%} 
        <li id="nav-whp-selection" {% if currentPage === "whpSelection" %}class="selected"{% endif %}><a href="/latest/gatekeeper/selection">WHP selection</a></li>
      {%endif%}
    </ul>
  </div>
  <div class="external-links-wrapper">
    <ul class="external-links">
      <li class="main-nav-link"><a href="">Feedback</a></li>
      <li class="main-nav-link"><a href="/latest/releaseSplash_V1">What's new</a></li>
      <li class="main-nav-link"><a href="">Contact and help</a></li>
    </ul>
  </div>
</div>