<div class="header-proposition">
  <div class="content">
    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
    <nav id="proposition-menu">
      <a href="/index" id="logo" class="content">
        <img src="/public/images/gov.uk_logotype_crown_invert_trans.png?0.12.0" alt=""> Jobseeker Services
      </a>
    </nav>
    <nav id="sign-out-menu">
      <ul>
        <!-- linking this to the toggle user role logic for a bit of a shortcut -->
        <li><a href="/latest/toggle_user_role" style="font-weight:normal">{{userData.name}}: Worcester</a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="settings">Settings</a></li>
      </ul>
    </nav>
  </div>
</div>
