<div class="header-proposition">
  <div class="content">
    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
    <nav id="proposition-menu">
      <a href="/" id="proposition-name">Jobseeker Services</a>
      <ul id="proposition-links">
        <li><a href="service_centre">Service Centre</a></li>
        <li><a href="job_centre">Job Centre</a></li>       
        <li><a href="benefit_centre">Benefit Centre</a></li>
        <li><a href="benefit_centre">Admin</a></li>
        <li><a href="benefit_centre">Management Info</a></li>
      </ul>
    </nav>
  </div>
</div>
