<div class="header-proposition">
  <div class="content">
    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
    <nav id="proposition-menu">
          <a href="/index" id="logo" class="content">
              <img src="/public/images/gov.uk_logotype_crown.png?0.12.0" alt=""> Jobseeker Services
            </a>
      <!--
      <ul id="proposition-links">
        <li><a href="url-to-page-1" class="active">Navigation item #1</a></li>
        <li><a href="url-to-page-2">Navigation item #2</a></li>
      </ul>
      -->
    </nav>
    <nav id="sign-out-menu">
        <ul>
          <li>Richard Kaine: Worcester &nbsp;&nbsp;&nbsp;&nbsp;<a href="location">Change location</a></li>
        </ul>
      </nav> 
  </div>
</div>
