<div class="header-proposition">
  <div class="content">
    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
    <nav id="proposition-menu">
      <div class="banner-dcams">
        <a href="/index" id="logo" class="content">
          <img src="/public/images/gov.uk_logotype_crown_invert_trans.png?0.12.0" alt=""> Jobseeker Services
        </a>
      </div>
    </nav>
    <nav id="sign-out-menu">
    <!-- linking this to the toggle user role logic for a bit of a shortcut -->
      <div class="banner-user-details">
        <a href="/latest/toggle_user_role" class="banner-username">{{userData.name}}</a>
        <br>
        <a href="/latest/toggle_user_role">Worcester</a>
      </div>
      <div class="banner-settings">
        <a href="settings">Settings</a>
      </div>
    </nav>
  </div>
</div>