

<!-- Jquery commented out for Jquery Datatables working on MI performance pages 
<script src="/public/javascripts/jquery-1.11.0.min.js"></script> -->

<script src="/public/javascripts/application.js"></script>
<script src="/public/javascripts/selection-buttons.js"></script>
<script src="/public/javascripts/modernizr-latest.js"></script>
<script src="/public/javascripts/bind.js"></script>
<script src="/public/javascripts/details.polyfill.js"></script>


<!-- form validation 

<script>

window.ParsleyConfig = {

successClass: "has-success",

errorClass: "error",

excluded: "[aria-hidden='true'] input",

classHandler: function(el) {

var pi = el.$element.closest(".panel-indent");

return (pi.length) ? pi : el.$element.closest(".form-group");

},

errorsContainer: function (el) {

return (el.$element.attr('type') === "radio") ? el.$element.parent().siblings('legend') : $('label[for=' + el.$element.attr('id') + ']'); 
},

errorsWrapper: '<span class="error-message"></span>',

errorTemplate: '<span></span>'

}

</script> -->

<!-- Validation -->
<script src="/public/javascripts/parsley.min.js"></script>