<div class="column"> 
  <div id="id-claimant-actions" class="grid-wrapper gutter-half-top">

    <div class="grid grid-1-5">
      <div class="inner-block left"> 
        <a href="settings" class="menu-item {% if currentSettingsPage === "changeLocation" %}selected{% endif %}">
          <strong>Change location</strong>
        </a>
      </div>
    </div>

    <div class="grid grid-1-5">
      <div class="inner-block left">
        <a href="amend_user" class="menu-item {% if currentSettingsPage === "maintainUser" %}selected{% endif %}">
          <strong>Maintain user</strong>
        </a>
      </div>
    </div>

    <div class="grid grid-1-5">
      <div class="inner-block left">
        <a href="delete_record" class="menu-item {% if currentSettingsPage === "maintainRecord" %}selected{% endif %}">
          <strong>Maintain record</strong>
        </a>
      </div>
    </div>

    <div class="grid grid-1-5">
      <div class="inner-block left">
        <a href="targets" class="menu-item {% if currentSettingsPage === "standards" %}selected{% endif %}">
          <strong>Standards</strong>
        </a>
      </div>
    </div>

    <div class="grid grid-1-5">
      <div class="inner-block left">
        <a href="provision" class="menu-item {% if currentSettingsPage === "provision" %}selected{% endif %}">
          <strong>Provision</strong>
        </a>
      </div>
    </div>

  </div> 
</div>