<div class="column-full summary-nav-wrapper">   
  <ul>
    <li class="{% if currentClaimantPage === "summary" %}selected{% endif %}">
      <a id="Summary" href="/latest/job_record_confirm" class="menu-item ">Summary</a>
    </li>

    
    {% if sessionData.user.role !== 'gatekeeper'%}
      <li class="{% if currentClaimantPage === "edit" %}selected{% endif %}">
        <a id="edit_record" href="/latest/job_edit" class="menu-item ">Claimant</a>
      </li>

      <li class="{% if currentClaimantPage === "appointments" %}selected{% endif %} {% if appointmentsDisabled %}disabled{% endif %}"> 
        {% if appointmentsDisabled %}
          <span>Appointment</span>
        {% else %}
          <a id="appointments" href="/latest/job_next_new" class="menu-item">
            Appointment {% if not sessionData.hasAppointment and not appointmentsDisabled %}<i class="fa fa-exclamation-circle"></i>{% endif %}
          </a>
        {% endif %}
      </li>

      {% if claimStatus === 'Dormant' %}
        {% set claimHref = 'job_claim_dormant' %}
      {% else %}
        {% set claimHref = 'job_claim_active' %}
      {% endif %}
      <li class="{% if currentClaimantPage === "claim" %}selected{% endif %}">
        <a id="claim_active" href="/latest/{{claimHref}}" class="menu-item">
          Claim
        </a>
      </li>
      <li class="{% if currentClaimantPage === "provision" %}selected{% endif %}">
        <a id="provision" href="/latest/provision" class="menu-item">
          Provision
        </a>
      </li>
      <li class="{% if currentClaimantPage === "selectionTool" %}selected{% endif %}">
        <a id="selection_tool" href="/latest/selection_tool" class="menu-item">
          WHP selection tool {% if data.whpStatus === 'Action - refer to WHP (16 May 2017)' %}<i class="fa fa-exclamation-circle"></i>{% endif %}
        </a>
      </li>
      <li class="{% if currentClaimantPage === "commitment" %}selected{% endif %}">
        <a id="commitment" href="/latest/esa_claimant/addCommitment" class="menu-item">
          ESA Commitment
        </a>
      </li>
      <li class="{% if currentClaimantPage === "jobprofile" %}selected{% endif %}">
        <a id="job_profile" href="/latest/job_Profile/editJobProfile" class="menu-item">
          Job Profile
        </a>
      </li>
    {% else %}
      <li class="{% if currentClaimantPage === "selectionTool" %}selected{% endif %}">
        <a id="selection_tool" href="/latest/selection_tool" class="menu-item">
          WHP selection tool {% if data.whpStatus === 'Action - refer to WHP (16 May 2017)' %}<i class="fa fa-exclamation-circle"></i>{% endif %}
        </a>
      </li>
    {% endif %}
  </ul> 
</div>  