{% if getData.dateProcessed or getData.dateReceived %}
  <div class="column-full">
    <div class="panel panel-border-wide alert-success">
      <p>A text message has been sent</p>
    </div>
  </div>
{%endif%}

<div class="column-half">

  {% if checkClaimantDetails %}
    <h2 class="heading-small red-cross"><i class="fa fa-exclamation-circle"></i>&nbsp;&nbsp;Claimant details correct?
    <a class="normal" href="job_edit">Check details</a></h2>
  {% else %}
    <h2 class="heading-small">Claimant details</h2>
  {% endif %}

  <table>
    <tr>
      <td>Name:</td>
      <td>J Smith</td>
    </tr>
    <tr>
      <td>Age:</td>
      <td>34</td>
    </tr>
    <tr>
      <td>National Insurance:</td>
      <td>JC628596A</td>
    </tr>
    <tr>
      <td>Mobile number:</td>
      <td>07585 747358</td>
    </tr>   
    <tr>
      <td>Email address:</td>
      <td>james_smith@gmail.com</td>
    </tr>
    <tr>
      <td>Language:</td>
      <td>Welsh</td>
    </tr> 
    <tr>
      <td>Industry sector:</td>
      <td>Logistics/transportation</td>
    </tr>
    <tr>
      <td>Extra support needed:</td>
      <td>Ex-offender, homeless</td>
    </tr>   
  </table> 
</div>

<div class="column-half">
  {% if entitlementQuestion %}
    <h2 class="heading-small red-cross">
      <i class="fa fa-exclamation-circle"></i>&nbsp;&nbsp;Does date of entitlement match Opstrat? 
      <a class="normal" href="job_record_confirm_1_no_flag">Yes</a> /<a class="normal" href="job_claim_active_2">No</a>
    </h2>
  {% else %}
    <h2 class="heading-small">Latest claim</h2>
  {% endif %}

  <table>
    <tr>
      <td>Benefit type:</td>
      <td>Income Support</td>
    </tr>
    <tr>
      <td>Income Support option:</td>
      <td>Carer</td>
    </tr>
    <tr>
      <td>Level of work coach support needed:</td>
      <td>Light touch</td>
    </tr>
    <tr>
      <td>Next sign off target:</td>
      <td>52 weeks</td>
    </tr>
    <tr>
      <td>Days left until next sign off target:</td>
      <td>16</td>
    </tr>
    <tr>
      <td>Date to be paid from:</td>
      <td>14/09/2015</td>
    </tr>
    {% if claimStatus === 'Dormant' %}
      <tr>
        <td>Last effective date:</td>
        <td>28/11/2015</td>
      </tr>
    {% endif %}
    <tr>
      <td>Status:</td>
      <td>{{claimStatus | default('Live')}}</td>
    </tr>                   
    <tr>
      <td>Jobcentre:</td>
      <td>Worcester</td>
    </tr>                    
    <tr>
      <td>Work coach:</td>
      <td>amanda.wright</td>  
    </tr>
  </table>  
</div>

<div class="column-half">&nbsp;</div>

<div class="column-half">
  {% if claimStatus === 'Dormant' %}
    <h2 class="heading-small">Next appointment</h2>
    <table>
      <tr>
       <td>None</td>
      </tr>
    </table>
  {% elif sessionData.hasAppointment %}
    <h2 class="heading-small">Next appointment</h2>
        
    <table>
      <tr>
        <td>Date:</td>
        <td>30/10/2015</td>
      </tr>
      <tr>   
        <td>Time:</td>
        <td>11:30</td>
      </tr>
    </table>
  {% elif not sessionData.hasAppointment and sessionData.appointmentUpdate  == 'Failed to attend'%}
    <h2 class="heading-small">Last Appointment</h2>
        
    <table>
      <tr>
        <td>Status:</td>
        <td>{{sessionData.appointmentUpdate}}</td>
      </tr>
      <tr>
        <td>Date:</td>
        <td>30/10/2015</td>
      </tr>
      <tr>   
        <td>Time:</td>
        <td>11:30</td>
      </tr>
    </table>
  {% else %}
    <h2 class="heading-small red-cross">
      <i class="fa fa-exclamation-circle"></i>&nbsp;&nbsp;No appointment set!
      {% if not checkClaimantDetails %}
        <a class="normal" href="job_next_new">Create one</a>
      {% endif %}
    </h2>
    
    <table>
      <tr>
        {% if checkClaimantDetails %}
          <td>Please check the claimant's details before you create an apppointment</td>
        {% else %}
          <td>None</td>
        {% endif %}
      </tr>
    </table>
  {% endif %}
</div>