<div class="column-full summary-nav-wrapper">   
  <ul>
      <li>
        <a id="annual-profile" href="/latest/whp-annual-profile" class="menu-item">
          WHP Profile
        </a>
      </li>
      <li>
        <a id="weekly-profile" href="/latest/whp-weekly-profile" class="menu-item">
          WHP Weekly profile
        </a>
      </li>
      <li>
        <a id="view-profile-and-assigned" href="/latest/whp-allocations-profile" class="menu-item">
          WHP View allocations against profile
        </a>
      </li>
      <li>
        <a id="selection_tool" href="/latest/whp-selection-report" class="menu-item">
          WHP Selection report
        </a>
      </li>
  </ul> 
</div>  