@import 'admin/header';

@import 'admin/main-nav';

@import 'admin/search';

@import 'admin/summary-nav';

@import 'admin/shame';

#content {
  max-width: 100%;
  margin: 0;
}

.main-content {
  padding:0 em(40);
}

.form-group-area{
  width: 80px;
}

.form-group-local{
  width: 30px;
}