// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look at elements.scss to see which files are imported.
@import 'elements';

// Set up your main content area <main id="content">
// This will give you a full width content block
// See elements _layout.scss line 7.

// If you need it, set up your grid layout - refer to the grid layout usage example
// See elements _layout.scss line 28.

// If you need a phase banner, put this inside the main content area
// See elements _layout.scss line 22.
.alpha-banner  {
  @include phase-banner(alpha); // Change this to (beta) for a beta banner
}
.alpha-tag {
  @include phase-tag(alpha); // Change this to (beta) for a beta tag
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you,
// either add and import new partial files, or modify those in GOV.UK elements to fit your user needs.

.dashed {
  border-top: 1px solid #bfc1c3;
}


.bold {
  font-weight: bold;
}

 .filter-results-block {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  border-bottom: 1px solid #bfc1c3;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.filter-results-block .filter-results-summary .count {
  font-family: "nta", Arial, sans-serif;
  font-size: 48px;
  line-height: 1.04167;
  font-weight: 400;
  text-transform: none;
  font-weight: bold;
  float: left;
  padding-right: 10px;
  line-height: 1;
  margin-top: -3px;
}

.filter-results-block .filter-results-summary strong {
  font-weight: bold;
}

.previous-next-navigation {
  position: relative;
  overflow: hidden;
  margin-top: 60px;
  width: 100%;
}

.previous-next-navigation li.next {
  float: right;
  text-align: right;
}

.previous-next-navigation li {
  font-family: "nta", Arial, sans-serif;
  font-size: 27px;
  line-height: 1.11111;
  font-weight: 400;
  text-transform: none;
  display: block;
  padding: 0;
  margin: 0;
  width: 50%;
  float: left;
  color: #005ea5;
}

.previous-next-navigation li a span {
  display: block;
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  font-weight: 400;
  text-transform: none;
  padding-top: 6px;
  padding-bottom: 4px;
}

.table_link {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  font-weight: bold;
  margin-top: 5px;
  color: #005ea5;
}
