// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look at elements.scss to see which files are imported.
@import 'elements';

// Set up your main content area <main id="content">
// This will give you a full width content block
// See elements _layout.scss line 7.

// If you need it, set up your grid layout - refer to the grid layout usage example
// See elements _layout.scss line 28.

// If you need a phase banner, put this inside the main content area
// See elements _layout.scss line 22.
.alpha-banner  {
  @include phase-banner(alpha); // Change this to (beta) for a beta banner
}
.alpha-tag {
  @include phase-tag(alpha); // Change this to (beta) for a beta tag
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you,
// either add and import new partial files, or modify those in GOV.UK elements to fit your user needs.

.heading-large {
  margin-top:10px;
  margin-bottom:5px;
}

.dashed {
  border-top: 1px solid #bfc1c3;
}

.bold {
  font-weight: bold;
}

.previous-next-navigation li.next {
  float: right;
  text-align: right;
  list-style: none;
}

.back-nav {
  margin: 1em 0 0;
  text-decoration: underline;
  cursor: pointer; }
  .back-nav a:link, .back-nav a:visited {
    color: #000; }
  .back-nav a:before {
    content: "◂ "; }



// Tabs

.tabs-nav {
	float:left;
	position: relative;
}

.tabs-nav li {
	float:left;
}

 .tabs-nav li.active a {
  background-color: #fff;
  border: solid 1px #bfc1c3;
  border-bottom: solid 1px #fff;
  color: #0b0c0c;
  position: relative;
  text-decoration: none;
  z-index: 5;
}

// Results


 .filter-results-block {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  border-bottom: 1px solid #bfc1c3;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.filter-results-block .filter-results-summary .count {
  font-family: "nta", Arial, sans-serif;
  font-size: 48px;
  line-height: 1.04167;
  font-weight: 400;
  text-transform: none;
  font-weight: bold;
  float: left;
  padding-right: 10px;
  line-height: 1;
  margin-top: -3px;
}

.filter-results-block .filter-results-summary strong {
  font-weight: bold;
}

.form-group .inline {
  float: left;
}


// Tabs

/* line 12, ../../../app/assets/stylesheets/helpers/tabs.scss */
.section-tabs {
  border-bottom: 1px solid #bfc1c3;
  margin: 1.5em 0;
  height:57px;
}
@media (max-width: 640px) {
  /* line 12, ../../../app/assets/stylesheets/helpers/tabs.scss */
  .section-tabs {
    border-bottom: none;
    margin: 30px 0;
  }
}
/* line 20, ../../../app/assets/stylesheets/helpers/tabs.scss */
.section-tabs ul {
  position: relative;
  top: 1px;
  margin: 0;
  padding: 0;
}
/* line 27, ../../../app/assets/stylesheets/helpers/tabs.scss */
.section-tabs ul li {
  margin: 0;
  padding: 0;
  float: left;
  display: inline;
  list-style: none;
}
@media (max-width: 640px) {
  /* line 27, ../../../app/assets/stylesheets/helpers/tabs.scss */
  .section-tabs ul li {
    float: none;
    display: block;
  }
}
/* line 39, ../../../app/assets/stylesheets/helpers/tabs.scss */
.section-tabs ul a {
  font-family: "proxima_nova", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  font-weight: bold;
  display: block;
  overflow: hidden;
  margin: 5px 5px 6px 0;
  padding: 5px 0;
  text-decoration: none;
  background: #dee0e2;
  border: 1px solid #dee0e2;
  border-bottom: none;
}
@media (max-width: 640px) {
  /* line 39, ../../../app/assets/stylesheets/helpers/tabs.scss */
  .section-tabs ul a {
    font-size: 16px;
    line-height: 1.25;
  }
}
/* line 53, ../../../app/assets/stylesheets/helpers/tabs.scss */
.section-tabs ul a:hover .label, .section-tabs ul a:focus .label {
  text-decoration: underline;
}
@media (max-width: 640px) {
  /* line 39, ../../../app/assets/stylesheets/helpers/tabs.scss */
  .section-tabs ul a {
    font-family: "proxima_nova", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    border-bottom: 1px solid #bfc1c3;
    width: 98.5%;
    width: -webkit-calc(100% - 10px);
    width: calc(100% - 10px);
    margin: 5px 0 0 0;
    padding: 5px 0 5px 5px;
    text-decoration: underline;
    font-weight: normal;
  }
}
@media (max-width: 640px) and (max-width: 640px) {
  /* line 39, ../../../app/assets/stylesheets/helpers/tabs.scss */
  .section-tabs ul a {
    font-size: 14px;
    line-height: 1.14286;
  }
}

@media (min-width: 641px) {
  /* line 39, ../../../app/assets/stylesheets/helpers/tabs.scss */
  .section-tabs ul a {
    padding: 11px 14px 9px 9px;
  }
}
/* line 78, ../../../app/assets/stylesheets/helpers/tabs.scss */
.section-tabs ul li.active a {
  background: #fff;
  padding: 10px 9px 10px;
  margin: 0 5px 0 0;
  border-color: #bfc1c3;
}
@media (max-width: 640px) {
  /* line 78, ../../../app/assets/stylesheets/helpers/tabs.scss */
  .section-tabs ul li.active a {
    border-bottom: 1px solid #bfc1c3;
    width: 98.5%;
    width: -webkit-calc(100% - 10px);
    width: calc(100% - 10px);
    padding: 5px 0 5px 5px;
    margin: 5px 0 0 0;
    text-decoration: none;
    font-weight: bold;
  }
}
@media (min-width: 641px) {
  /* line 78, ../../../app/assets/stylesheets/helpers/tabs.scss */
  .section-tabs ul li.active a {
    padding: 16px 19px 15px 14px;
  }
}
/* line 98, ../../../app/assets/stylesheets/helpers/tabs.scss */
.section-tabs ul li.active a:focus {
  outline: none;
}
/* line 102, ../../../app/assets/stylesheets/helpers/tabs.scss */
.section-tabs ul li.active a .label {
  text-decoration: none;
}
/* line 107, ../../../app/assets/stylesheets/helpers/tabs.scss */
.section-tabs ul.two-tabs li {
  width: 50%;
}
@media (min-width: 769px) {
  /* line 107, ../../../app/assets/stylesheets/helpers/tabs.scss */
  .section-tabs ul.two-tabs li {
    width: auto;
    min-width: 33.333%;
  }
}
/* line 123, ../../../app/assets/stylesheets/helpers/tabs.scss */
.section-tabs.plain-tabs .tab-navigation ul li a {
  background-color: #fff;
  border: none;
  text-decoration: underline;
  font-weight: normal;
}
/* line 129, ../../../app/assets/stylesheets/helpers/tabs.scss */
.section-tabs.plain-tabs .tab-navigation ul li.active a {
  border: 1px solid #dee0e2;
  border-bottom: none;
}



