// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look at elements.scss to see which files are imported.
@import 'elements';

// Set up your main content area <main id="content">
// This will give you a full width content block
// See elements _layout.scss line 7.

// If you need it, set up your grid layout - refer to the grid layout usage example
// See elements _layout.scss line 28.

// If you need a phase banner, put this inside the main content area
// See elements _layout.scss line 22.
.alpha-banner  {
  @include phase-banner(alpha); // Change this to (beta) for a beta banner
}
.alpha-tag {
  @include phase-tag(alpha); // Change this to (beta) for a beta tag
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you,
// either add and import new partial files, or modify those in GOV.UK elements to fit your user needs.

.dashed {
  border-top: 1px solid #bfc1c3;
}


.bold {
  font-weight: bold;
}


.previous-next-navigation li.next {
  float: right;
  text-align: right;
  list-style: none;
}



// Tabs

.tabs-nav {
	float:left;
	position: relative;
}

.tabs-nav li {
	float:left;
}

 .tabs-nav li.active a {
  background-color: #fff;
  border: solid 1px #bfc1c3;
  border-bottom: solid 1px #fff;
  color: #0b0c0c;
  position: relative;
  text-decoration: none;
  z-index: 5;
}

// Results


 .filter-results-block {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  border-bottom: 1px solid #bfc1c3;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.filter-results-block .filter-results-summary .count {
  font-family: "nta", Arial, sans-serif;
  font-size: 48px;
  line-height: 1.04167;
  font-weight: 400;
  text-transform: none;
  font-weight: bold;
  float: left;
  padding-right: 10px;
  line-height: 1;
  margin-top: -3px;
}

.filter-results-block .filter-results-summary strong {
  font-weight: bold;
}
