{{<layout}}

{{$pageTitle}}
  GOV.UK prototyping kit
{{/pageTitle}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$content}}


<main id="content" role="main">

 <div class="grid-row">        

        <div class="column-quarter grid-col" style="padding-bottom:90px; padding-top:30px; margin-left:-40px">
              <ul class="main-nav">
                <li id="nav-home"><a href="job">Search</a></li>
                <li id="nav-job"><a href="job_new">Create record</a></li>
                <li id="nav-perf" class="selected"><a href="performance">Performance</a></li>
              </ul>
          </div> 


  <!-- Start three quarters container for main content columns -->
  <div class="column-three-quarters">
  <br>

         <h1 class="heading-large">&nbsp;&nbsp;Performance dashboard</h1>


    <div class="column-half">    

  <!--        <h3 class="heading-small">Create record</h3> -->

        <br>
          
            <p>One<p>

          
          <br>

    
            <p>Two</p>


       <!-- End column-->       
       </div>

    <!--  <div class="column">
           <div class="form-group" id="get-started">
                    <br>
                      <a href="#" class="button" value="Submit">View report</a>
            </div>
       </div> -->

  <!-- End three quarters column-->       
   </div>  

 

    <!-- End row-->       
      </div>


</main>
{{/content}}

{{/layout}}

