{{<layout}}

{{$pageTitle}}
  GOV.UK prototyping kit
{{/pageTitle}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$content}}


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
<script src="/public/javascripts/jquery.dataTables.yadcf.js"></script>


<script>
$(document).ready(function(){
  $('#example').dataTable().yadcf([
    {column_number : 0},
    {column_number : 3},
    ]);
});
</script>

<main id="content" role="main">

 <div class="grid-row">        

        <div class="column-quarter grid-col" style="padding-bottom:90px; padding-top:30px; margin-left:-40px">
              <ul class="main-nav">
                <li id="nav-home"><a href="job">Search</a></li>
                <li id="nav-job"><a href="job_new">Create record</a></li>
                <li id="nav-perf" class="selected"><a href="performance">Performance</a></li>
              </ul>
          </div> 


    <!-- Start three quarters container for main content columns -->
    <div class="column-three-quarters">
    <br>

         <h1 class="heading-large">&nbsp;&nbsp;Performance - table</h1>

           <div class="column">

        <br>

            <!-- 3rd level nav buttons -->
                <div id="id-claimant-actions" class="grid-wrapper gutter-half-top">

                    <div class="grid grid-1-5">
                      <div class="inner-block left">
                        <a id="perf-work" href="perf-work" class="menu-item action">
                          <strong>Workcoach</strong>
                        </a>
                      </div>
                    </div>

                    <div class="grid grid-1-5">
                      <div class="inner-block left">
                        <a id="perf-office" href="perf-office" class="menu-item action">
                          <strong>Office</strong>
                        </a>
                      </div>
                    </div>            

                 </div> 

            </div>   

         <div class="column">   

<div id="container">
 <div id="external_filter_container_wrapper">
        <div id="external_filter_container"></div>
      </div>
      <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
          <thead>
            <tr>
              <th>Workcoach</th>
              <th>NINO</th>
              <th>Surname</th>
              <th>Status</th>
              <th>IDOC</th>
              <th>13 weeks</th>
              <th>Last seen</th>
            </tr>
          </thead>
          <tbody>
            <tr class="odd gradeX">
              <td>Workcoach 1</td>
              <td>JCxxxxxxC</td>
              <td>Williams</td>
              <td>a_value,b_value</td>
              <td>01/08/2015</td>
              <td>7 days</td>
              <td>10 days ago</td>
            </tr>
            <tr class="even gradeC">
              <td>Workcoach 2</td>
              <td>JCxxxxxxC</td>
              <td>Jones</td>
              <td>b_value,c_value</td>
              <td>01/08/2015</td>
              <td>7 days</td>
              <td>10 days ago</td>
            </tr>
            <tr class="odd gradeA">
              <td>Workcoach 3</td>
              <td>JCxxxxxxC</td>
              <td>Smith</td>
              <td>a_value</td>
              <td>01/08/2015</td>
              <td>7 days</td>
              <td>10 days ago</td>
            </tr>
            <tr class="even gradeA">
              <td>Workcoach 4</td>
              <td>JCxxxxxxC</td>
              <td>Brown</td>
              <td>b_value</td>
              <td>01/08/2015/td>
              <td>7 days</td>
              <td>10 days ago</td>
            </tr>
            <tr class="odd gradeA">
              <td>Workcoach 5</td>
              <td>JCxxxxxxC</td>
              <td>Docherty</td>
              <td>a_value,b_value</td>
              <td>01/08/2015</td>
              <td>7 days</td>
              <td>10 days ago</td>
            </tr>
            <tr class="even gradeA">
              <td>Workcoach 1</td>
              <td>JCxxxxxxC</td>
              <td>Peters</td>
              <td>c_value,d_value</td>
              <td>01/08/2015</td>
              <td>7 days</td>
              <td>10 days ago</td>
            </tr>
            <tr class="gradeA">
              <td>Workcoach 2</td>
              <td>JCxxxxxxC</td>
              <td>Shaw</td>
              <td>e_value,f_value</td>
              <td>01/08/2015</td>
              <td>7 days</td>
              <td>10 days ago</td>
            </tr>
            <tr class="gradeA">
              <td>Workcoach 3</td>
              <td>JCxxxxxxC</td>
              <td>Peel</td>
              <td>a_value,bb_value</td>
              <td>01/08/2015</td>
              <td>7 days</td>
              <td>10 days ago</td>
            </tr>
            <tr class="gradeA">
              <td>Workcoach 4</td>
              <td>JCxxxxxxC</td>
              <td>Gathercole</td>
              <td>a_value,f_value</td>
              <td>01/08/2015</td>
              <td>7 days</td>
              <td>10 days ago</td>
            </tr>
            <tr class="gradeA">
              <td>Workcoach 5</td>
              <td>JCxxxxxxC</td>
              <td>Kane</td>
              <td>a_value,c_value</td>
              <td>01/08/2015/td>
              <td>7 days</td>
              <td>10 days ago</td>
            </tr>
            <tr class="gradeA">
              <td>Workcoach 1</td>
              <td>JCxxxxxxC</td>
              <td>Tong</td>
              <td>a_value,b_value</td>
              <td>01/08/2015</td>
              <td>7 days</td>
              <td>10 days ago</td>
            </tr>
            <tr class="gradeA">
              <td>Workcoach 2</td>
              <td>JCxxxxxxC</td>
              <td>West</td>
              <td>d_value,aa_value</td>
              <td>01/08/2015</td>
              <td>7 days</td>
              <td>10 days ago</td>
            </tr>
            <tr class="gradeA">
              <td>Workcoach 3</td>
              <td>JCxxxxxxC</td>
              <td>Fielding</td>
              <td>a_value,c_value</td>
              <td>01/08/2015</td>
              <td>7 days</td>
              <td>10 days ago</td>
            </tr>
            <tr class="gradeA">
              <td>Workcoach</td>
              <td>JCxxxxxxC</td>
              <td>Gallagher</td>
              <td>a_value,bb_value</td>
              <td>01/08/2015</td>
              <td>7 days</td>
              <td>10 days ago</td>
            </tr>
            <tr class="gradeA">
              <td>Workcoach 5</td>
              <td>JCxxxxxxC</td>
              <td>Yes</td>
              <td>c_value,e_value</td>
              <td>01/08/2015</td>
              <td>7 days</td>
              <td>10 days ago</td>
            </tr>
            <tr class="gradeA">
              <td>Workcoach 1</td>
              <td>JCxxxxxxC</td>
              <td>No</td>
              <td>a_value,e_value</td>
              <td>01/08/2015</td>
              <td>7 days</td>
              <td>1 day ago</td>
            </tr>
          </tbody>
        </table>


    </div>
  </div>


</div>


  <!-- End three quarters column-->       
   </div>  

 

    <!-- End row-->       
      </div>


</main>
{{/content}}

{{/layout}}

