{{<layout}}

{{$pageTitle}}
  GOV.UK prototyping kit
{{/pageTitle}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$content}}


<main id="content" role="main">

 <div class="grid-row">        

        <div class="column-quarter grid-col" style="padding-bottom:90px; padding-top:30px; margin-left:-40px">
              <ul class="main-nav">
                <li id="nav-home"><a href="job">Search</a></li>
                <li id="nav-job"><a href="job_new">Create record</a></li>
                <li id="nav-perf" class="selected"><a href="performance">Performance</a></li>
              </ul>
          </div> 


    <!-- Start three quarters container for main content columns -->
    <div class="column-three-quarters">
    <br>

         <h1 class="heading-large">&nbsp;&nbsp;Performance - overview</h1>

         <div class="column">   

        <br>

            <!-- 3rd level nav buttons -->
                <div id="id-claimant-actions" class="grid-wrapper gutter-half-top">

                    <div class="grid grid-1-5">
                      <div class="inner-block left">
                        <a id="perf-work" href="perf-work" class="menu-item action">
                          <strong>Workcoach</strong>
                        </a>
                      </div>
                    </div>

                    <div class="grid grid-1-5">
                      <div class="inner-block left">
                        <a id="perf-office" href="perf-office" class="menu-item action">
                          <strong>Office</strong>
                        </a>
                      </div>
                    </div>            

                 </div> 

            </div>   
    
          
            <div class="column"> 

                  <div class="column-third">    

                      <div class="stat-over"> 
                        <h2 class="heading-medium"><a href="#">Claims near 13 weeks</a></h2>
                            <p class="stat">85%</p>
                            <span class="stat-down">-2.65%
                              <!--  <span class="bold">&uarr;</span> -->
                            </span>
                            &nbsp;
                            <span class="stat-detail">Sep 2015</span>
                            <br>
                            <br>
                        </div>    

                  </div>
                  <!-- End col third -->

                  <!-- Start col -->      
                  <div class="column-third">    
                      
                      <div class="stat-over"> 
                        <h2 class="heading-medium"><a href="#">Next key stat</a></h2>
                            <p class="stat">95%</p>
                            <span class="stat-up">+2.65%
                              <!--  <span class="bold">&uarr;</span> -->
                            </span>
                            &nbsp;
                            <span class="stat-detail">Oct 2015</span>
                            <br>
                            <br>
                       </div>     

                   <!-- End col third-->       
                   </div>

                          <!-- Start col -->      
                  <div class="column-third">    
                      
                     <div class="stat-over"> 
                       <h2 class="heading-medium"><a href="#">Last key stat</a></h2>
                            <p class="stat">95%</p>
                            <span class="stat-perc">+2.65%&nbsp;&nbsp;</span>
                            <span class="stat-detail">Oct 2015</span>
                            <br>
                            <br>
                      </div>      

                   <!-- End col third-->       
                   </div>

            </div>
            <!-- End full column -->




  <!-- End three quarters column-->       
   </div>  

 

    <!-- End row-->       
      </div>


</main>
{{/content}}

{{/layout}}

