{{<layout}}

{{$pageTitle}}
  GOV.UK prototyping kit
{{/pageTitle}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$content}}


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
<script src="/public/javascripts/jquery.dataTables.yadcf.js"></script>


<script>
$(document).ready(function(){
  $('#example').dataTable().yadcf([
    {column_number : 0},
    {column_number : 3},
    ]);
});
</script>

<main id="content" role="main">

 <div class="grid-row">        

        <div class="column-quarter grid-col" style="padding-bottom:90px; padding-top:30px; margin-left:-40px">
              <ul class="main-nav">
                <li id="nav-home"><a href="job">Search</a></li>
                <li id="nav-job"><a href="job_new">Create record</a></li>
                <li id="nav-perf" class="selected"><a href="performance">Performance</a></li>
              </ul>
          </div> 


    <!-- Start three quarters container for main content columns -->
    <div class="column-three-quarters">
    <br>

         <h1 class="heading-large">&nbsp;&nbsp;Performance - table</h1>

           <div class="column">

        <br>

            <!-- 3rd level nav buttons -->
                <div id="id-claimant-actions" class="grid-wrapper gutter-half-top">

                    <div class="grid grid-1-5">
                      <div class="inner-block left">
                        <a id="perf-work" href="perf-work" class="menu-item action">
                          <strong>Workcoach</strong>
                        </a>
                      </div>
                    </div>

                    <div class="grid grid-1-5">
                      <div class="inner-block left">
                        <a id="perf-office" href="perf-office" class="menu-item action">
                          <strong>Office</strong>
                        </a>
                      </div>
                    </div>            

                 </div> 

            </div>   

         <div class="column">   
          <br>


              <div id="container">
               <div id="external_filter_container_wrapper">
                      <div id="external_filter_container"></div>
                    </div>
                    <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
                        <thead>
                          <tr>
                            <th>Workcoach</th>
                            <th>NINO</th>
                            <th>Surname</th>
                            <th>Status</th>
                            <th>IDOC</th>
                            <th>Cohort days</th>
                            <th>Last seen</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Workcoach 1</td>
                            <td>JCxxxxxxC</td>
                            <td>Williams</td>
                            <td>Live</td>
                            <td>10/08/2015</td>
                            <td>2</td>
                            <td>2 days ago</td>
                          </tr>
                          <tr>
                            <td>Workcoach 2</td>
                            <td>JCxxxxxxC</td>
                            <td>Jones</td>
                            <td>Live</td>
                            <td>01/07/2015</td>
                            <td>7</td>
                            <td>9 days ago</td>
                          </tr>
                          <tr>
                            <td>Workcoach 3</td>
                            <td>JCxxxxxxC</td>
                            <td>Smith</td>
                            <td>Dormant</td>
                            <td>14/08/2015</td>
                            <td>14</td>
                            <td>8 days ago</td>
                          </tr>
                          <tr>
                            <td>Workcoach 4</td>
                            <td>JCxxxxxxC</td>
                            <td>Brown</td>
                            <td>Live</td>
                            <td>23/07/2015</td>
                            <td>10</td>
                            <td>6 days ago</td>
                          </tr>
                          <tr>
                            <td>Workcoach 5</td>
                            <td>JCxxxxxxC</td>
                            <td>Docherty</td>
                            <td>Dormant</td>
                            <td>14/09/2015</td>
                            <td>40</td>
                            <td>2 days ago</td>
                          </tr>
                          <tr>
                            <td>Workcoach 1</td>
                            <td>JCxxxxxxC</td>
                            <td>Peters</td>
                            <td>Live</td>
                            <td>30/09/2015</td>
                            <td>61</td>
                            <td>7 days ago</td>
                          </tr>
                          <tr>
                            <td>Workcoach 2</td>
                            <td>JCxxxxxxC</td>
                            <td>Shaw</td>
                            <td>Live</td>
                            <td>23/08/2015</td>
                            <td>34</td>
                            <td>3 days ago</td>
                          </tr>
                          <tr>
                            <td>Workcoach 3</td>
                            <td>JCxxxxxxC</td>
                            <td>Peel</td>
                            <td>Dormant</td>
                            <td>09/07/2015</td>
                            <td>49</td>
                            <td>5 days ago</td>
                          </tr>
                          <tr>
                            <td>Workcoach 4</td>
                            <td>JCxxxxxxC</td>
                            <td>Gathercole</td>
                            <td>Live</td>
                            <td>23/09/2015</td>
                            <td>46</td>
                            <td>3 days ago</td>
                          </tr>
                          <tr>
                            <td>Workcoach 5</td>
                            <td>JCxxxxxxC</td>
                            <td>Kane</td>
                            <td>Live</td>
                            <td>05/09/2015</td>
                            <td>2</td>
                            <td>9 days ago</td>
                          </tr>
                          <tr>
                            <td>Workcoach 1</td>
                            <td>JCxxxxxxC</td>
                            <td>Tong</td>
                            <td>Dormant</td>
                            <td>01/07/2015</td>
                            <td>58</td>
                            <td>7 days ago</td>
                          </tr>
                          <tr>
                            <td>Workcoach 2</td>
                            <td>JCxxxxxxC</td>
                            <td>West</td>
                            <td>Live</td>
                            <td>05/08/2015</td>
                            <td>71</td>
                            <td>2 days ago</td>
                          </tr>
                          <tr>
                            <td>Workcoach 3</td>
                            <td>JCxxxxxxC</td>
                            <td>Fielding</td>
                            <td>Dormant</td>
                            <td>14/07/2015</td>
                            <td>17</td>
                            <td>4 days ago</td>
                          </tr>
                          <tr>
                            <td>Workcoach</td>
                            <td>JCxxxxxxC</td>
                            <td>Gallagher</td>
                            <td>Dormant</td>
                            <td>05/10/2015</td>
                            <td>5</td>
                            <td>5 days ago</td>
                          </tr>
                          <tr>
                            <td>Workcoach 5</td>
                            <td>JCxxxxxxC</td>
                            <td>Riley</td>
                            <td>Live</td>
                            <td>27/09/2015</td>
                            <td>12</td>
                            <td>9 days ago</td>
                          </tr>
                          <tr>
                            <td>Workcoach 1</td>
                            <td>JCxxxxxxC</td>
                            <td>Burrows</td>
                            <td>Live</td>
                            <td>10/08/2015</td>
                            <td>37</td>
                            <td>1 day ago</td>
                          </tr>
                        </tbody>
                      </table>


                  </div>
                </div>


</div>


  <!-- End three quarters column-->       
   </div>  

 

    <!-- End row-->       
      </div>


</main>
{{/content}}

{{/layout}}

