{{<layout}}

{{$pageTitle}}
  GOV.UK prototyping kit
{{/pageTitle}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$content}}

<main id="content" role="main">

 <div class="grid-row">        

        <div class="column-quarter grid-col" style="padding-bottom:90px; padding-top:30px; margin-left:-40px">
              <ul class="main-nav">
                <li id="nav-home"><a href="job">Search</a></li>
                <li id="nav-job"><a href="job_new">Create record</a></li>
                <li id="nav-perf" class="selected"><a href="performance">Performance</a></li>
              </ul>
          </div> 


    <!-- Start three quarters container for main content columns -->
    <div class="column-three-quarters">
    <br>

         <h1 class="heading-large">&nbsp;&nbsp;Performance - table</h1>

         <div class="column">   


        <br>

            <!-- 3rd level nav buttons -->
                <div id="id-claimant-actions" class="grid-wrapper gutter-half-top">

                    <div class="grid grid-1-5">
                      <div class="inner-block left">
                        <a id="perf-work" href="perf-work" class="menu-item action">
                          <strong>Workcoach</strong>
                        </a>
                      </div>
                    </div>

                    <div class="grid grid-1-5">
                      <div class="inner-block left">
                        <a id="perf-office" href="perf-office" class="menu-item action">
                          <strong>Office</strong>
                        </a>
                      </div>
                    </div>            

                 </div> 

            </div>   




            <div class="column"> 
              <br>
              <br>

                  <table style="width:80%" summary="Table for performance data">
                      <thead>
                       <tr>
                           <th scope="col" id="th-coach"><a href="#">Work coach</a>&nbsp;<i class="fa fa-arrow-down"></i></th>
                           <th scope="col" id="th-nino" class="textCenter">NINO</th>
                           <th scope="col" id="th-surname" class="textCenter">Surname</th>
                           <th scope="col" id="th-status" class="textCenter"><a href="#">Status</a>&nbsp;<i class="fa fa-arrow-down"></i></th>
                           <th scope="col" id="th-idoc" class="numeric">IDOC</th>
                           <th scope="col" id="th-13" class="numeric"><a href="#">13 weeks</a>&nbsp;<i class="fa fa-arrow-down"></i></th>
                           <th scope="col" id="th-seen" class="numeric"><a href="#">Last seen</a>&nbsp;<i class="fa fa-arrow-down"></i></th>
                       </tr>
                      </thead>
                   <tbody>
                 <tr>
                    <td>WC1</td>
                    <td class="textCenter">JCxxxxxxC</td>
                    <td class="textCenter">Williams</td>
                    <td class="textCenter">Live</td>
                    <td class="numeric">01/08/2015</td>
                    <td class="numeric" scope="col">7 days</td>
                    <td class="numeric">10 days ago</td>
               </tr>
                 <tr>
                    <td>WC3</td>
                    <td class="textCenter">JCxxxxxxA</td>
                    <td class="textCenter">Jones</td>
                    <td class="textCenter">Live</td>
                    <td class="numeric">01/08/2015</td>
                    <td class="numeric" scope="col">10 days</td>
                    <td class="numeric">10 days ago</td>
               </tr>
                 <tr>
                    <td>WC2</td>
                    <td class="textCenter">JCxxxxxxB</td>
                    <td class="textCenter">Smith</td>
                    <td class="textCenter">Live</td>
                    <td class="numeric">01/08/2015</td>
                    <td class="numeric" scope="col">11 days</td>
                    <td class="numeric">10 days ago</td>
               </tr>
                 <tr>
                    <td>WC3</td>
                    <td class="textCenter">JCxxxxxxC</td>
                    <td class="textCenter">Brown</td>
                    <td class="textCenter">Live</td>
                    <td class="numeric">01/08/2015</td>
                    <td class="numeric" scope="col">14 days</td>
                    <td class="numeric">10 days ago</td>
               </tr>
                 <tr>
                    <td>WC1</td>
                    <td class="textCenter">JCxxxxxxA</td>
                    <td class="textCenter">Williams</td>
                    <td class="textCenter">Live</td>
                    <td class="numeric">01/08/2015</td>
                    <td class="numeric" scope="col">16 days</td>
                    <td class="numeric">10 days ago</td>
               </tr>      
                 <tr>
                    <td>WC2</td>
                    <td class="textCenter">JCxxxxxxC</td>
                    <td class="textCenter">Williams</td>
                    <td class="textCenter">Live</td>
                    <td class="numeric">01/08/2015</td>
                    <td class="numeric" scope="col">17 days</td>
                    <td class="numeric">10 days ago</td>
               </tr>      
                 <tr>
                    <td>WC1</td>
                    <td class="textCenter">JCxxxxxxB</td>
                    <td class="textCenter">Williams</td>
                    <td class="textCenter">Live</td>
                    <td class="numeric">01/08/2015</td>
                    <td class="numeric" scope="col">20 days</td>
                    <td class="numeric">10 days ago</td>
               </tr>     
                 <tr>
                    <td>WC3</td>
                    <td class="textCenter">JCxxxxxxA</td>
                    <td class="textCenter">Williams</td>
                    <td class="textCenter">Live</td>
                    <td class="numeric">01/08/2015</td>
                    <td class="numeric" scope="col">21 days</td>
                    <td class="numeric">10 days ago</td>
               </tr>
                 
                 
                 </tbody>
             </table>

              <br>
              <br>

            </div>
            <!-- End full column -->




  <!-- End three quarters column-->       
   </div>  

 

    <!-- End row-->       
      </div>


</main>
{{/content}}

{{/layout}}


