// National Insurance number pattern for internal systems only - not citizen-facing products

.form-nat-ins {

    .two-digits {
      width: 50px;
    }

    .one-digit {
      width: 20px;
    }

}
