{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototyping kit
{% endblock %}

{% block propositionHeader %}
  {% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block content %}


<main id="content" role="main">

 <div class="grid-row">        

            <div class="column-quarter grid-col" style="padding-bottom:90px; padding-top:30px; margin-left:-40px">
              <ul class="main-nav">
                <li id="nav-home"><a href="login">Home</a></li>
                <li id="nav-service" class="selected"><a href="service_search">Service centre</a></li>
                <li id="nav-job"><a href="job">Job centre</a></li>
                <li id="nav-benefit"><a href="benefit">Benefit centre</a></li>
                <li id="nav-admin"><a href="#">Admin</a></li>
                <li id="nav-stats"><a href="#">Stats</a></li>
              </ul>
            </div>

  <!-- Start three quarters container for main content columns -->
  <div class="column-three-quarters">


        <p class="font-xsmall bread"><a href="login">Home</a>&nbsp;>&nbsp;<a href="service_search">Service centre</a>&nbsp;>&nbsp;
          <a href="service_centre_left">Record entry</a>&nbsp;>&nbsp;Confirm entry</p> 

         <h1 class="heading-large">&nbsp;&nbsp;Service centre - confirm entry</h1>
         <!-- <h2 class="bold-medium">If you have not done so already, below is a list of things we would like you to do before your jobseeker interview to improve your chances of finding work quickly.</h2> -->

   <!--      <ul class="tabs">
            <li>Nav item</li>
            <li class="selected">Selected nav item</li>
            <li>Nav item</li>
         </ul> -->


      <div class="column-half">   

        <br>

          <h3 class="heading-small">Contact details</h3>

           <div>
                <table>
                    <tr>
                        <td>Benefit type:</td>
                        <td>JSA</td>
                    </tr>
                   <tr>
                    <td>Initial date of contact:</td>
                        <td>14/04/2015</td>
                    </tr>
                    <tr>
                        <td>Job Centre:</td>
                        <td>Bambury</td>
                    </tr>
                    <tr>
                        <td>Title:</td>
                        <td>Mr</td>
                    </tr>
                    <tr>
                        <td>Initial:</td>
                        <td>A</td>
                    </tr>
                    <tr>
                        <td>Surname:</td>
                        <td>Jones</td>
                    </tr>
                    <tr>
                        <td>Age:</td>
                        <td>34</td>
                    </tr>
                    <tr>
                        <td>Nationality:</td>
                        <td>United Kingdom</td>
                    </tr>
                    <tr>
                        <td>NINO:</td>
                        <td>JC 45 85 96 X</td>
                    </tr>
                    <tr>
                        <td>Mobile number:</td>
                        <td>04585 747 358</td>
                    </tr>
                    <tr>
                        <td>Needs Welsh speaker:</td>
                        <td>Yes</td>
                    </tr>
                </table>
           </div> 

          <br>
          <br>
     
            <div class="form-group" id="get-started">
                  <a href="#" class="button button-get-started" value="Payment">Confirm entry</a>
             </div>

            <nav class="back-nav" role="navigation">
               <a id="backButton" onclick="window.history.go(-1); return false;">Back</a> 
            </nav>

            <br>            
         
      </div>
      <!-- End col -->

      <!-- Start col -->      
      <div class="column-half">    
       
       

       <!-- End column-->       
       </div>

    <!-- End row-->       
      </div>


</main>
{% endblock %}



