{{<layout}}

{{$pageTitle}}Admin screen{{/pageTitle}}

{{$content}}

<main id="content" role="main" class="group">
        <div class="phase-banner-alpha">
            <p>
                <strong class="phase-tag">ALPHA</strong>
                <span>This is a new service – your <a href="feedback">feedback</a> will help us to improve it.</span>
            </p>
        </div>

<!--  <form action="find-pension-provider-pg2.html" method="post" class="form">
   <form name="myform" onsubmit="return OnSubmitForm();" class="form"> -->

  <nav class="back-nav" role="navigation">
     <a id="backButton" onclick="window.history.go(-1); return false;">Back</a> 
  </nav>
  
 <!-- <p class="progress">Page 1 of 4</p> -->
    <h1 class="form-title heading-xlarge" style="padding-top:10px;">Thank you</h1>
	
 <!-- <h2 class="heading-medium">I am searching:</h2>
    <ul class="list-bullet">
       <li>For myself.</li>
       <li>For someone else. I have their permission to do this.</li>
    </ul> -->

  <!-- <h2 class="heading-medium">This service allows citizens, and their representatives, to search for a pension they may have paid into.</h2>  -->

 <h2 class="heading-medium">Overall, how do you feel about this service?</h2> 


<!--  <fieldset>
    <legend class="form-label">I am searching:</legend>
      <label class="block-label" for="radio-1">
        <input id="radio-1" type="radio" name="radio-group" value="For myself.">
        For myself.
      </label>
      <label class="block-label" for="radio-2">
        <input id="radio-2" type="radio" name="radio-group" value="For someone else. I have their permission to do this.">
        For someone else. I have their permission to do this.
      </label>
  </fieldset> 


<br> -->

  <div class="example">
    <form>
      <fieldset>
      <!--  <legend class="form-label-bold">I am starting a pension trace</legend> -->
        <div class="form-group form-group-compound">
          <label class="block-label" for="radio-indent-1">
            <input id="radio-indent-1" type="radio" name="radio-indent-group" value="Yes">
             Very satisfied
          </label>
          <label class="block-label" data-target="example-ni-number" for="radio-indent-2">
            <input id="radio-indent-2" type="radio" name="radio-indent-group" value="No">
              Satisfied
          </label>
          <label class="block-label" data-target="example-ni-number" for="radio-indent-2">
            <input id="radio-indent-3" type="radio" name="radio-indent-group" value="No">
              Neutral
          </label>
           <label class="block-label" data-target="example-ni-number" for="radio-indent-2">
          <input id="radio-indent-4" type="radio" name="radio-indent-group" value="No">
              Unsatisfied
          </label>
            <label class="block-label" data-target="example-ni-number" for="radio-indent-2">
          <input id="radio-indent-5" type="radio" name="radio-indent-group" value="No">
              Very unsatisfied
          </label> 
        </fieldset>
      </form>
    </div>

    <div class="example">
      <h2 class="heading-medium">How could we improve this service?</h2>
      <form>
       <fieldset>
            <textarea class="form-control" rows="5" draggable="auto"></textarea>
            <p>Please don't include any personal or financial information, 
              <br>for example your National Insurance or credit card numbers.</p>
       </fieldset>
     </form>
    </div>  

<br>
<br>
    
    <!-- Primary buttons, secondary links -->
    <div class="form-group">
        <a href="#" class="button" value="Send feedback">
     <!-- <input class="button button-get-started" value="Start Now"> -->
      Send feedback</a>
    </div>


   <!-- <nav class="pagination" role="navigation" aria-label="Pagination">
      <ul class="group">
        <li class="next">
            <a href="/carers-allowance/what-youll-get" rel="next" title="Navigate to next part">
              <span class="pagination-label">Next</span> <span class="pagination-part-title">What you'll get</span>
            </a>          
        </li>
       </ul>
    </nav> -->

  </form>

</main><!-- / #page-container -->

{{/content}}

{{/layout}}
