{{<layout}}

{{$pageTitle}}Admin screen{{/pageTitle}}

{{$content}}
<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="feedback">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <nav class="back-nav" role="navigation">
     <a id="backButton" onclick="window.history.go(-1); return false;">Back</a> 
  </nav>


            <div class="grid-row">
                <div class="column-two-thirds">

             <!--  <button onclick="goBack()">Go Back</button> -->

             
                <h1 class="heading-large">Data Protection</h1>

                <h2 class="heading-medium">Heading</h2>
                <h3 class="heading-small">Sub-heading</h3>
                <ul class="list-bullet">
                    <li>Guidance</li>
                </ul>     

                <h3 class="heading-small">Subheading</h3>
                <ul class="list-bullet">
                    <li>Guidance</li>
                </ul>    

                <h2 class="heading-medium">Heading</h2>
                <h3 class="heading-small">Sub-heading</h3>
                <ul class="list-bullet">
                    <li>Guidance</li>
                </ul>     

                <h3 class="heading-small">Sub-heading</h3>
                <ul class="list-bullet">
                    <li>Guidance</li>
                </ul>    

            </div>
        </div>
            
      <!--  <p><a href="reset">Reset password</a></p> -->

    </div>



</main>
{{/content}}

{{/layout}}

