{{<layout}}

{{$pageTitle}}
  GOV.UK prototyping kit
{{/pageTitle}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$content}}


<main id="content" role="main">

 <div class="grid-row">        

        <div class="column-quarter grid-col" style="padding-bottom:90px; padding-top:30px; margin-left:-40px">
              <ul class="main-nav">
                <li id="nav-home"><a href="job">Search</a></li>
                <li id="nav-job" class="selected"><a href="job_new">Create record</a></li>
                <li id="nav-perf"><a href="performance">Caseload</a></li>
              </ul>
          </div> 


  <!-- Start three quarters container for main content columns -->
  <div class="column-three-quarters">

  <nav class="back-nav" role="navigation">
    <a id="backButton" href="job_new">Back</a>
  </nav>

    <h1 class="heading-large">&nbsp;&nbsp;Create claimant details</h1>

         <div class="column-half">    

                   <div class="form-group">
                        <label class="form-label">Disadvantage markers</label>
                  <!--      <p>Select all that apply</p> -->
                            <form>
                              <fieldset>
                                <legend class="visuallyhidden">Which disadvantage marker applies to the claimant?</legend>
                                <label class="block-label" for="dis-8">
                                  <input id="dis-8" name="dis-8" type="checkbox" value="Disabled person">
                                  Disabled person
                                </label>
                                <label class="block-label" for="dis-2">
                                  <input id="dis-2" name="dis-2" type="checkbox" value="English for speakers of other languages">
                                  English for speakers of other languages
                                </label>
                                   <label class="block-label" for="dis-3">
                                  <input id="dis-3" name="dis-3" type="checkbox" value="Ex-offender">
                                  Ex-offender
                                </label>
                                    <label class="block-label" for="dis-4">
                                  <input id="dis-4" name="dis-4" type="checkbox" value="Homeless">
                                  Homeless
                                </label>
                                <label class="block-label" for="dis-1">
                                  <input id="dis-1" name="dis-1" type="checkbox" value="Literacy/numeracy">
                                  Literacy/numeracy
                                </label>
                                <label class="block-label" for="dis-6">
                                  <input id="dis-6" name="dis-6" type="checkbox" value="Mis-user of drugs">
                                  Mis-user of drugs
                                </label>
                                <label class="block-label" for="dis-7">
                                  <input id="dis-7" name="dis-7" type="checkbox" value="Mis-user of alcohol">
                                  Mis-user of alcohol
                                </label>
                              </fieldset>
                            </form>
                    </div>
  


                         <!--     <div class="form-group">
                                <label class="form-label" for="nino">Notes</label>
                                <textarea class="form-control" id="textarea" rows="10"></textarea>
                              </div> -->

                            



      </div>
      <!-- End col -->

      <!-- Start col -->      
      <div class="column-half">    

                          <div class="form-group">

                             <div class="form-group">
                             <label class="form-label" for="jobcentre">Industry sector</label>
                              <select class="select form-control">
                                  <option value="All">All</option>
                                  <option value="Accounting/finance">Accounting/finance</option>
                                  <option value="Administrative/clerical">Administrative/clerical</option>
                                  <option value="Building construction/skilled trades">Building construction/skilled trades</option>
                                  <option value="Business/strategic management">Business/strategic management</option>
                                  <option value="Creative/design">Creative/design</option>
                                  <option value="Customer support/client care">Customer support/client care</option>
                                  <option value="Editorial/writing">Editorial/writing</option>
                                  <option value="Engineering">Engineering</option>
                                  <option value="Food services/hospitality">Food services/hospitality</option>
                                  <option value="Human resources">Human resources</option>
                                  <option value="Installation/maintenance/repair">Installation/maintenance/repair</option>
                                  <option value="IT/software development">IT/software development</option>
                                  <option value="Legal">Legal</option>
                                  <option value="Logistics/transportation">Logistics/transportation</option>
                                  <option value="Marketing/product">Marketing/product</option>
                                  <option value="Medical/health">Medical/health</option>
                                  <option value="Other">Other</option>
                                  <option value="Production/operations">Production/operations</option>
                                  <option value="Project/program management">Project/program management</option>
                                  <option value="Quality assurance/safety">Quality assurance/safety</option>
                                  <option value="Retail">Retail</option>
                                  <option value="R&amp;D/science">R&amp;D/science</option>
                                  <option value="Sales/business development">Sales/business development</option>
                                  <option value="Security/protective services">Security/protective services</option>
                                  <option value="Training/instruction">Training/instruction</option>
                                  <option value="Warehousing">Warehousing</option>    
                                </select>     

                    </div>
              
              <div class="form-group">
                  <fieldset>
                    <legend class="form-label">Work programme</legend>
                      <div class="form-group form-group-compound">
                          <label class="block-label selected" for="radio-indent-3">
                            <input id="radio-indent-3" type="radio" name="radio-indent-group" value="Pre-work programme" checked="" data-parsley-multiple="radio-indent-group" data-parsley-id="5" aria-expanded="false">
                             Pre-work programme
                          </label>
                          <label class="block-label" for="radio-indent-2">
                            <input id="radio-indent-2" type="radio" name="radio-indent-group" value="Work programme" data-parsley-multiple="radio-indent-group" aria-expanded="false">
                              Work programme
                          </label>
              <!--       <label class="block-label" data-target="example-ni-number" for="radio-indent-4">
                            <input id="radio-indent-4" type="radio" name="radio-indent-group" value="Completed" aria-controls="example-ni-number">
                              Completed
                          </label> -->
                          <label class="block-label" for="radio-indent-4">
                            <input id="radio-indent-4" type="radio" name="radio-indent-group" value="Work programme completer" data-parsley-multiple="radio-indent-group" aria-expanded="false">
                              Work programme completer
                          </label>
                        </div>
                      </fieldset>
                </div>

</div>

       <!-- End column-->       
       </div>


                <div class="column">
                  <div class="form-group" id="continue">
                      <a href="job_new_step3" class="button" value="Submit">Continue</a>
                  </div>
                </div>

  <!-- End three quarters column-->       
   </div>  

 

    <!-- End row-->       
      </div>


</main>
<script src="/public/javascripts/jquery-1.11.0.min.js"></script> 

{{/content}}

{{/layout}}

