{{<layout}}

{{$pageTitle}}
  GOV.UK prototyping kit
{{/pageTitle}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$content}}


<main id="content" role="main">

 <div class="grid-row">        

        <div class="column-quarter grid-col" style="padding-bottom:90px; padding-top:30px; margin-left:-40px">
              <ul class="main-nav">
                <li id="nav-home"><a href="job">Search</a></li>
                <li id="nav-job"><a href="job_new">Create record</a></li>
                <li id="nav-perf"><a href="performance">Performance</a></li>
              </ul>
          </div> 


  <!-- Start three quarters container for main content columns -->
  <div class="column-three-quarters">

         <h1 class="heading-large">&nbsp;&nbsp;New appointment</h1>

      <div class="column">   


        <!-- 3rd level nav buttons -->
            <div id="id-claimant-actions" class="grid-wrapper gutter-half-top">


                <div class="grid grid-1-5">
                    <div class="inner-block left">
                      <a id="view_record" href="job_record_confirm_active_1" class="menu-item">
                        <strong>View record</strong>
                      </a>
                    </div>
                  </div>

                  <div class="grid grid-1-5">
                    <div class="inner-block left">
                      <a id="edit_record" href="job_edit_active_1" class="menu-item">
                        <strong>Edit claimant</strong>
                      </a>
                    </div>
                  </div>

                 <div class="grid grid-1-5">
                    <div class="inner-block left">
                      <a id="appointments" href="job_next_new_active_1" class="menu-item selected">
                        <strong>Appointment</strong>
                      </a>
                    </div>
                  </div>

                  <div class="grid grid-1-5">
                    <div class="inner-block left">
                      <a id="claim_active" href="job_claim_active_1" class="menu-item">
                        <strong>Claim</strong>
                      </a>
                    </div>
                  </div>

             </div> 

     </div>   

      <div class="column-half">   

               <div class="form-group">
                  <fieldset>
                    <legend>
                      <span class="form-label">
                        Date
                      </span>
                    </legend>
                    <div class="form-date">

                      <p class="form-hint">For example, 01 09 2015</p>

                     <div class="form-group form-group-day">
                        <label for="dob-day">Day</label>
                        <input class="form-control" id="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
                      </div> 

                      <div class="form-group form-group-month">
                        <label for="dob-month">Month</label>
                        <input class="form-control" id="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
                      </div>

                      <div class="form-group form-group-year">
                        <label for="dob-year">Year</label>
                        <input class="form-control" id="dob-year" type="number" pattern="[0-9]*" min="0" max="2014">
                      </div>
                    </div>

                  </fieldset>
              </div>       

             <div class="form-group">
                  <fieldset>
                    <legend>
                      <span class="form-label">
                        Time
                      </span>
                    </legend>
                    <div class="form-date">

                      <p class="form-hint">For example, 13 30</p>

                     <div class="form-group form-group-day">
                        <label for="hour">Hour</label>
                        <input class="form-control" id="hour" type="number" pattern="[0-9]*" min="9" max="15">
                      </div> 

                      <div class="form-group form-group-month">
                        <label for="min">Min</label>
                        <input class="form-control" id="min" type="number" pattern="[0-9]*" min="0" max="60">
                      </div>
                  </fieldset>
              </div>    
       
            <div class="form-group" id="get-started">
                  <a href="job_record_confirm_active_1" class="button" value="Submit">Save</a>
             </div>
         
      </div>
      <!-- End col -->



    <!-- End row-->       
      </div>


</main>
{{/content}}

{{/layout}}

