{{<layout}}

{{$pageTitle}}
  GOV.UK prototyping kit
{{/pageTitle}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$content}}


<script src="/public/javascripts/jquery.min.js"></script>

<main id="content" role="main">

 <div class="grid-row">        
	
    {{>includes/left_nav_settings}}

	<!-- Start three quarters container for main content columns -->
	<div class="column-three-quarters">

		<h1 class="heading-large">&nbsp;&nbsp;Settings - amend user</h1>

		<div class="column"> 
			<div id="id-claimant-actions" class="grid-wrapper gutter-half-top">

				<div class="grid grid-1-5">
					<div class="inner-block left">
						<a id="Summary" href="settings" class="menu-item">
							<strong>Change location</strong>
						</a>
					</div>
				</div>

				<div class="grid grid-1-5">
					<div class="inner-block left">
						<a id="edit_record" href="amend_user_search" class="menu-item selected">
							<strong>Amend user</strong>
						</a>
					</div>
				</div>

				<div class="grid grid-1-5">
					<div class="inner-block left">
						<a id="claim_active" href="delete_record" class="menu-item">
							<strong>Delete record</strong>
						</a>
					</div>
				</div>

				<div class="grid grid-1-5">
					<div class="inner-block left">
						<a id="appointments" href="targets" class="menu-item">
							<strong>Standards</strong>
						</a>
					</div>
				</div>

			</div> 
		</div>

		<div class="column-half">   

			<form action="amend_user" method="get" class="form">
				<div class="form-group">
					<fieldset class="inline">
						<p class="form-label-bold">Confirmation</p>

						<p>You are about to change a user from <span class="bold">Alice</span> to <span class="bold">Bob</span></p>

						<p class="bold">or</p>

						<p>You are about to remove <span class="bold">Alice</span> from the workcoach list</p>

						<p>Are you sure you want to do this?</p>

						<label for="radio-part-2" class="block-label">
							<input id="radio-part-2" type="radio" name="amendUserOption" value="nameChange" aria-controls="format">
							Yes
						</label>

						<label for="radio-part-3" class="block-label">
							<input id="radio-part-3" type="radio" name="amendUserOption" value="remove	">
							No
						</label>
					</fieldset>
				</div>

				<div class="form-group">
		        	<input type="submit" class="button" value="Continue">
		        </div>
			</form>  

		</div>     
	<!-- End column -->
	</div>
<!-- End row-->    
</div>

</main>
{{/content}}

{{/layout}}

