{{<layout}}

{{$pageTitle}}
  GOV.UK prototyping kit
{{/pageTitle}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$content}}


<main id="content" role="main">

 <div class="grid-row">        

      <!--     <div class="column-quarter grid-col" style="padding-bottom:90px; padding-top:30px; margin-left:-40px">
              <ul class="main-nav">
              <li id="nav-home"><a href="login">Home</a></li>
                <li id="nav-job" class="selected"><a href="job">Jobcentre</a></li>
                 <li id="nav-benefit"><a href="benefit">Benefit centre</a></li>
                <li id="nav-admin"><a href="#">Admin</a></li>
                <li id="nav-stats"><a href="#">Stats</a></li>
              </ul>
          </div> -->

        <div class="column-quarter grid-col" style="padding-bottom:90px; padding-top:30px; margin-left:-40px">
              <ul class="main-nav">
                <li id="nav-home" class="selected"><a href="job">NINO search</a></li>
                <li id="nav-job" class="disabled"><a href="#">Create record</a></li>
              </ul>
          </div> 


  <!-- Start three quarters container for main content columns -->
  <div class="column-three-quarters">
  <br>

         <h1 class="heading-large">&nbsp;&nbsp;NINO search</h1>
         <br>


      <div class="column-half">   

            <div class="searchfield">
                <input type="search" autocomplete="off" name="q" id="site-search-text" title="Search for a NINO" value="" placeholder="Enter a NINO" autofocus="autofocus" class="js-search-focus">
                <a href="job_record_confirm"><button id="search-submit" class="search-submit">Search</button></a>
                <p id="slowsearch" class="slow-search-msg" style="display:none">Please press ENTER to search</p>
            </div>
            <br>
            <input id="temp" type="checkbox">Temporary NINO    
            <br>
            <br>

       </div>



   <!--       <div class="column-two-thirds">   

                <h3 class="heading-medium" style="margin-top:0;">0 records</h3>
  
           <div>
              <table class="record">
                    <tr>
                        <td><a class="none" href="job_edit" title="Edit record">Surname:</a></td>
                        <td><a class="table_link" href="job_edit" title="Edit record">Smith</a></td>
                    </tr>
                    <tr>
                        <td>Status:</td>
                        <td>Live</td>
                    </tr>
                    
                    <tr>
                        <td>NINO:</td>
                        <td>JC 45 85 96 X</td>
                    </tr>
                    <tr>
                        <td>Mobile:</td>
                        <td>04585 747 358</td>
                    </tr>
                <tr>
                        <td>Job Centre:</td>
                        <td>Bambury</td>
                    </tr>
                    <tr>
                        <td>Age group:</td>
                        <td>18-25</td>
                    </tr>
                     <tr>
                        <td>Initial date of contact:</td>
                        <td>04/04/2015</td>
                    </tr>
                    <tr>
                    <td>1st appointment date:</td>
                        <td>14/04/2015</td>
                    </tr>
                     <tr>
                        <td>1st appointment time:</td>
                        <td>9.30 am</td>
                    </tr> 
                </table> 
                <table>
                     </tbody>
                        <tr>
                            <td colspan="5">No existing record found? <a class="table_link" href="job_advanced" title="View more info">Use advanced search.</a><td>
                        </tr>   
                    </tbody>
                </table>  
           </div>  

           <br>
           <br>

      

         <br>
               <p><a class="button" href="job_new" title="View more info">Create new record</a></p>

                <br> -->
   

         
      </div>
      <!-- End col -->




    <!-- End row-->       
      </div>


</main>
{{/content}}

{{/layout}}

