{{<layout}}

{{$pageTitle}}
  GOV.UK prototyping kit
{{/pageTitle}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$content}}


<main id="content" role="main">

 <div class="grid-row">        

        <div class="column-quarter grid-col" style="padding-bottom:90px; padding-top:30px; margin-left:-40px">
              <ul class="main-nav">
                <li id="nav-home"><a href="job">Search</a></li>
                <li id="nav-job"><a href="job_new">Create record</a></li>
                <li id="nav-perf"><a href="performance">Caseload</a></li>
              </ul>
          </div> 

  <!-- Start three quarters container for main content columns -->
  <div class="column-three-quarters">

         <h1 class="heading-large">&nbsp;&nbsp;Edit basic record</h1>

      <div class="column">   


        <!-- 3rd level nav buttons -->
            <div id="id-claimant-actions" class="grid-wrapper gutter-half-top">

              <div class="grid grid-1-5">
                  <div class="inner-block left">
                    <a id="Summary" href="job_record_confirm" class="menu-item">
                      <strong>Summary</strong>
                    </a>
                  </div>
                </div>

                <div class="grid grid-1-5">
                  <div class="inner-block left">
                    <a id="edit_record" href="job_edit" class="menu-item selected">
                      <strong>Claimant</strong>
                    </a>
                  </div>
                </div>

               <div class="grid grid-1-5">
                  <div class="inner-block left">
                    <a id="appointments" href="job_next_new" class="menu-item">
                      <strong>Appointment</strong>
                    </a>
                  </div>
                </div>

                <div class="grid grid-1-5">
                  <div class="inner-block left">
                    <a id="claim_active" href="job_claim_active" class="menu-item">
                      <strong>Claim</strong>
                    </a>
                  </div>
                </div>

             </div> 

     </div>   

       <div class="column">
                <ul class="tabs" id="claimant_details">
                    <li><a href="job_edit_confirm">View record</a></li>
                    <li class="selected"><a href="job_edit">Edit record</a></li>
                    <li><a href="job_edit_details">Markers</a></li>
           <!--     <li><a href="job_edit_disability">Disability</a></li> -->
                    <li><a href="job_sector">Sector</a></li>
           <!--     <li><a href="job_day_one">Day one</a></li> -->
                    <li><a href="job_prog">Programmes</a></li>
             <!--   <li><a href="job_exp">Experience</a></li>   
                    <li><a href="job_vol">Voluntary</a></li>   --> 
                </ul> 
            </div>



    <div class="column-half">    

        <form method="post" class="group" id="form" data-parsley-validate>

            <div class="form-group">
                <label class="form-label" for="nino">National Insurance number</label>
                <input class="form-control" id="nino" type="text" value="JC628596A">
            </div>

            <div class="form-group title">
              <label class="form-label" for="title">Title</label>
              <select class="form-control" id="title">
                  <option value="Mr">Mr</option>
                  <option value="Mrs">Mrs</option>
                  <option value="Miss">Miss</option>
                  <option value="Ms">Ms</option>
                  <option value="Dr">Dr</option>

              </select>
            </div>

            <div class="form-group initial">
              <label class="form-label" for="inital">Initial</label>
              <input class="form-control" id="inital" type="text" value="J">
            </div> 

            <div class="form-group">
              <label class="form-label" for="Surname">Surname</label>
              <input class="form-control" id="Surname" type="text" value="Smith">
            </div>  

             <div class="form-group"> 
              <fieldset class="inline">
                  <legend class="form-label">Gender</legend>
                  <label class="block-label" for="male">
                    <input id="male" name="male" type="radio" value="male" checked>
                    Male
                  </label>
                  <label class="block-label" for="female">
                    <input id="female" name="female" type="radio" value="female">
                    Female
                  </label>
              </fieldset>
            </div> 

            <div class="form-group">
                  <fieldset>
                    <legend>
                      <span class="form-label">
                        Date of birth
                      </span>
                    </legend>
                    <div class="form-date">
                      <p class="form-hint">For example, 03 1980</p>
                      <div class="form-group form-group-month">
                        <label for="dob-month">Month</label>
                        <input class="form-control" id="dob-month" type="number" pattern="[0-9]*" min="0" max="12" value="08">
                      </div>

                      <div class="form-group form-group-year">
                        <label for="dob-year">Year</label>
                        <input class="form-control" id="dob-year" type="number" pattern="[0-9]*" min="0" max="2014" value="1981">
                      </div>
                    </div>
                  </fieldset>
              </div> 

      </div>
      <!-- End col -->

      <!-- Start col -->      
      <div class="column-half">    

            <div class="form-group">
              <label class="form-label" for="email">Email address</label>
              <input class="form-control" id="email" type="text" value="john_smith@gmail.com"><br>
                  <label class="block-label" for="contact">
                  <input id="contact" name="contact" type="checkbox" value="Do not contact">
                  Do not contact
                </label>  
            </div>  

          
            <div class="form-group">
              <label class="form-label" for="mobile">Mobile number</label>
              <input class="form-control" id="mobile" type="text" value="07585747358"><br>
                  <label class="block-label" for="contact">
                  <input id="contact" name="contact" type="checkbox" value="Do not contact">
                  Do not contact
                </label>  
            </div>  

            <div class="form-group">
              <label class="form-label" for="postcode">Postcode</label>
              <input class="form-control" id="postcode" type="text">
            </div>  

            <div class="form-group">  
              <label class="form-label" for="mobile">Language</label>
                <label class="block-label" for="contact1">
                    <input id="contact1" name="contact1" type="checkbox" value="Do not contact">
                   Welsh speaker
                  </label>
             </div>  


       <!-- End column-->       
       </div>

          <div class="column">
           <div class="form-group" id="save">
                     <a href="job_edit_confirm" class="button" value="Save">Save</a>
                  </div>
                </div>

          </form>      

  <!-- End three quarters column-->       
   </div>  

 

    <!-- End row-->       
      </div>


</main>
{{/content}}

{{/layout}}

