{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK prototyping kit
{% endblock %}

{% block propositionHeader %}
  {{>includes/propositional_navigation_sprint_6}}
{% endblock %}

{% block content %}


<main id="content" role="main">


    	<div class="phase-banner">
        <p>
          <strong class="phase-tag">ALPHA</strong>
          <span>This is a new service – your <a href="feedback">feedback</a> will help us to improve it.</span>
        </p>
      </div>

    	   <h1 class="heading-large">Benefit centre - closure</h1>
    	   <!-- <h2 class="bold-medium">If you have not done so already, below is a list of things we would like you to do before your jobseeker interview to improve your chances of finding work quickly.</h2> -->

 <div class="grid-row">

    <!--************** Start 1 column **************

    <div class="column-third">

          <h3 class="heading-small">Nav sub-title</h3>
         <ul>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
          </ul> 

        <h3 class="heading-small">Nav sub-title</h3>
          <ul>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
          </ul>  

    </div> -->

    <!--************** End 1 column **************-->

    <!--************** Start 2 columns  **************-->

    <div class="column-two-thirds">    


  <!--      <div>
             <ul class="tabs-nav">
                  <li class="active"><a href="#">&nbsp;&nbsp;View&nbsp;&nbsp;</a></li>
                  <li>&nbsp;&nbsp;<a href="#">Edit</a></li>
            </ul>
         </div>

         <br>

 <hr>

    <nav id="show-more-documents" role="navigation">
      <ul class="previous-next-navigation">
          <li class="next">
            <a href="#"><&nbsp;&nbsp;Previous submission</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <a href="#">Next submission&nbsp;&nbsp;></a>
          </li>
      </ul>
    </nav>

    <br> 

          <h3 class="heading-small">Sub title</h3>

            <div>
                <table>
                    <tr>
                        <td>Form:</td>
                        <td>Claimant messaging and information system</td>
                    </tr>
                    <tr>
                        <td>Submitted by:</td>
                        <td>Louis Pitchford</td>
                    </tr>
                    <tr>
                        <td>Time:</td>
                        <td>Friday 20th March 2015 - 4:39pm</td>
                    </tr>
                    <tr>
                        <td>ID:</td>
                        <td>62.134.56.4</td>
                    </tr>
                </table>


     

            </div>

           <br> -->


  <!--     <h3 class="heading-small">Contact details</h3> -->

   <br>

            <div class="form-group">
              <label class="form-label" for="circs">Confirmation Circs received</label>
              <select class="select form-control" id="circs">
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
              </select>
            </div>


              <fieldset class="form-group inline">
                    <label class="form-label text">Claim closure</label>
                    <label class="block-label" data-target="work-search" for="pension-type-work">
                        <input id="pension-type-work" type="radio" name="pension-type" value="work" aria-controls="work-search">
                        Receipt
                    </label>
                    <label class="block-label" data-target="personal-search" for="pension-type-personal">
                        <input id="pension-type-personal" type="radio" name="pension-type" value="personal" aria-controls="personal-search">
                        Clearance
                    </label>
                </fieldset>


       
            <div class="form-group" id="get-started">
                <br>
                  <a href="#" class="button button-get-started" value="Submit">Submit</a>
             </div>


        </div>
    </div>


    <!--************** End 2 columns  **************-->
  </div>


</main>
{% endblock %}



