{{<layout}}

{{$pageTitle}}
  GOV.UK prototyping kit
{{/pageTitle}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$content}}


<main id="content" role="main">

 <div class="grid-row">        

         <div class="column-quarter grid-col" style="padding-bottom:90px; padding-top:30px; margin-left:-40px">
              <ul class="main-nav">
                <li id="nav-home"><a href="login">Home</a></li>
                <li id="nav-job"><a href="job">Jobcentre</a></li>
                <li id="nav-benefit" class="selected"><a href="benefit">Benefit centre</a></li>
                <li id="nav-admin"><a href="#">Admin</a></li>
                <li id="nav-stats"><a href="#">Stats</a></li>
              </ul>
          </div>

  <!-- Start three quarters container for main content columns -->
  <div class="column-three-quarters">


        <p class="font-xsmall bread"><a href="login">Home</a>&nbsp;>&nbsp;<a href="job">Benefit centre</a>&nbsp;>&nbsp;Edit record</p> 

         <h1 class="heading-large">&nbsp;&nbsp;Close claim #310 - John Smith</h1>
         <!-- <h2 class="bold-medium">If you have not done so already, below is a list of things we would like you to do before your jobseeker interview to improve your chances of finding work quickly.</h2> -->

            <ul class="tabs">
                <li><a href="benefit">Basic search</a></li>
                <li><a href="benefit_advanced">Advanced search</a></li>
                <li><a href="benefit_new">New record</a></li>
      <!--          <li><a href="benefit_edit">Edit record</a></li>
                <li><a href="maintenance">Maintenance</a></li>
                <li><a href="payment">Payment</a></li>
                <li><a href="closure">Closure</a></li>   -->    
             </ul> 

               <div class="column">   

        <br>

        <!-- 3rd level nav buttons -->
            <div id="id-claimant-actions" class="grid-wrapper gutter-half-top">

                <div class="grid grid-1-5">
                  <div class="inner-block left">
                    <a id="view_record" href="benefit_record_confirm" class="menu-item">
                      <strong>View record</strong>
                    </a>
                  </div>
                </div>

                <div class="grid grid-1-5">
                  <div class="inner-block left">
                    <a id="edit_record" href="benefit_edit" class="menu-item">
                      <strong>Edit record</strong>
                    </a>
                  </div>
                </div>

                <div class="grid grid-1-5">
                  <div class="inner-block left">
                    <a id="Maintenance" href="maintenance" class="menu-item">
                      <strong>Maintenance</strong>
                    </a>
                  </div>
                </div>

               <div class="grid grid-1-5">
                  <div class="inner-block left">
                    <a id="payment" href="payment" class="menu-item selected">
                      <strong>Payment</strong>
                    </a>
                  </div>
                </div>

                <div class="grid grid-1-5">
                  <div class="inner-block left">
                    <a id="closure" href="closure" class="menu-item">
                      <strong>Closure</strong>
                    </a>
                  </div>
                </div>

                

             </div> 

     </div>   



     <div class="column-half">   

        <br>

          <h3 class="heading-small">Confirm closure</h3>

           <div>
                <table>
                   <tr>
                        <td>Closure date:</td>
                        <td>14/08/2015</td>
                    </tr>
                    <tr>
                        <td>Reason:</td>
                        <td>Found employment</td>
                    </tr>
                </table>
           </div> 

          <br>
          <br>
     
            <div class="form-group" id="get-started">
                  <a href="closure" class="button button" value="Edit">Edit</a>
                  <a href="benefit_record_confirm" class="button button" value="Submit">Submit</a>
             </div>

    <!--        <nav class="back-nav" role="navigation">
               <a id="backButton" onclick="window.history.go(-1); return false;">Back</a> 
            </nav> -->
 
            <br>            
         
      </div>
      <!-- End col -->

 

    <!-- End row-->       
      </div>


</main>
{{/content}}

{{/layout}}

