{{<layout}}

{{$pageTitle}}
  GOV.UK prototyping kit
{{/pageTitle}}

{{$propositionHeader}}
  {{>includes/propositional_navigation_sprint_6}}
{{/propositionHeader}}

{{$content}}


<main id="content" role="main">


    	<div class="phase-banner">
        <p>
          <strong class="phase-tag">ALPHA</strong>
          <span>This is a new service – your <a href="feedback">feedback</a> will help us to improve it.</span>
        </p>
      </div>

    	   <h1 class="heading-large">Benefit centre - record search</h1>
    	   <!-- <h2 class="bold-medium">If you have not done so already, below is a list of things we would like you to do before your jobseeker interview to improve your chances of finding work quickly.</h2> -->

 <div class="grid-row">

    <!--************** Start 1 column **************

    <div class="column-third">

          <h3 class="heading-small">Nav sub-title</h3>
         <ul>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
          </ul> 

        <h3 class="heading-small">Nav sub-title</h3>
          <ul>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
          </ul>  

    </div> -->

    <!--************** End 1 column **************-->


     <!--************** Start 2 columns  **************-->

    <div class="column-two-thirds">

        <div class="form-group">
          <form onsubmit="return false">
            <p> <br>
              Enter NINO</p>
              <input type="text" list="Scheme" id="color" name="color" size="30">
              &nbsp;&nbsp;&nbsp; 
              <a href="#" class="button button-get-started" value="Continue">Search</a>
          </form>
        </div>


         <div class="filter-results-block">
            <div class="inner-block">
                <div class="filter-results-summary">
                   <br>
                   <span class="count">3</span> 
                   <strong>results</strong>
                 </div>
            </div>
        </div>   

        

               <table>
                    <thead>
                      <tr>
                        <th scope="col">Surname</th>
                        <th scope="col">Created by</th>
                        <th scope="col">NINO</th>
                        <th scope="col">Phone number</th>                     
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a class="table_link" href="benefit_record" title="View more info">Smith</a></td>
                            <td>Louis Pitchford</td>
                            <td>JC 42 86 47 C</td>
                            <td>07942 456 345</td>
                        </tr>  
                        <tr>
                            <td><a class="table_link" href="benefit_record" title="View more info">Jones</a></td>
                            <td>Louis Pitchford</td>
                            <td>JC 42 86 47 C</td>
                            <td>07654 847 329</td>
                        </tr> 
                             <tr>
                            <td><a class="table_link" href="benefit_record" title="View more info">Cooper</a></td>
                            <td>Louis Pitchford</td>
                            <td>JC 42 86 47 C</td>
                            <td>07956 222 852</td>
                        </tr> 
                    </tbody>
                </table>  

       
  <!--          <div class="form-group" id="get-started">
                <br>
                  <a href="#" class="button button-get-started" value="Submit">Submit</a>
             </div> -->


        </div>
    </div>


    <!--************** End 2 columns  **************-->
  </div>


</main>
{{/content}}

{{/layout}}

