{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototyping kit
{% endblock %}

{% block propositionHeader %}
  {% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block content %}


<main id="content" role="main">

 <div class="grid-row">        

           <div class="column-quarter grid-col" style="padding-bottom:90px; padding-top:30px; margin-left:-40px">
              <ul class="main-nav">
                <li id="nav-home"><a href="login">Home</a></li>
                <li id="nav-service"><a href="service_search">Service centre</a></li>
                <li id="nav-job"><a href="job">Job centre</a></li>
                <li id="nav-benefit" class="selected"><a href="benefit">Benefit centre</a></li>
                <li id="nav-admin"><a href="#">Admin</a></li>
                <li id="nav-stats"><a href="#">Stats</a></li>
              </ul>
      </div>

  <!-- Start three quarters container for main content columns -->
  <div class="column-three-quarters">


        <p class="font-xsmall bread"><a href="login">Home</a>&nbsp;>&nbsp;<a href="benefit">Benefit centre</a>&nbsp;>&nbsp;View record</p> 

         <h1 class="heading-large">&nbsp;&nbsp;Benefit centre - Claim #310 - John Smith</h1>
         <!-- <h2 class="bold-medium">If you have not done so already, below is a list of things we would like you to do before your jobseeker interview to improve your chances of finding work quickly.</h2> -->

       <ul class="tabs">
            <li class="selected"><a href="#">View record</a></li>
            <li><a href="maintenance">Maintenance</a></li>
            <li><a href="payment">Payment</a></li>
            <li><a href="closure">Closure</a></li>
         </ul> 


      <div class="column-half">   


   <!--     <div>
             <ul class="tabs-nav">
                  <li class="active"><a href="#">&nbsp;&nbsp;View record&nbsp;&nbsp;</a></li>
                  <li>&nbsp;&nbsp;&nbsp;<a href="maintenance">Edit record</a></li>
            </ul>
         </div>

         <br>

 <hr> -->

<!--    <nav id="show-more-documents" role="navigation">
      <ul class="previous-next-navigation">
          <li class="next">
            <a href="#"><&nbsp;&nbsp;Prev record</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <a href="#">Next record&nbsp;&nbsp;></a>
          </li>
      </ul>
    </nav> -->

      <!--      <h3 class="heading-small">Submission information</h3>

          <div>
                <table>
                    <tr>
                        <td>Form:</td>
                        <td>Claimant messaging and information system</td>
                    </tr>
                    <tr>
                        <td>Submitted by:</td>
                        <td>Louis Pitchford</td>
                    </tr>
                    <tr>
                        <td>Time:</td>
                        <td>Friday 20th March 2015 - 4:39pm</td>
                    </tr>
                    <tr>
                        <td>ID:</td>
                        <td>62.134.56.4</td>
                    </tr>
                </table>


       

            </div> -->

           <br>


          <h3 class="heading-small">Contact details</h3>

           <div>
                <table>
                    <tr>
                        <td>NINO:</td>
                        <td>JC 45 85 96 X</td>
                    </tr>
                    <tr>
                        <td>Mobile:</td>
                        <td>04585 747 358</td>
                    </tr>
                    <tr>
                        <td>Job Centre:</td>
                        <td>Bambury</td>
                    </tr>
                    <tr>
                        <td>Age group:</td>
                        <td>18-25</td>
                    </tr>
                     <tr>
                        <td>Initial date of contact:</td>
                        <td>04/04/2015</td>
                    </tr>
                    <tr>
                    <td>1st appointment date:</td>
                        <td>14/04/2015</td>
                    </tr>
                     <tr>
                        <td>1st appointment time:</td>
                        <td>9.30 am</td>
                    </tr>
                </table>
           </div> 



<br>       
        <!--    <div class="form-group" id="get-started">
                <br>
                  <a href="payment" class="button button-get-started" value="Payment">Payment</a>
                  <a href="closure" class="button button-get-started" value="Closure">Closure</a>
             </div> -->

            <nav class="back-nav" role="navigation">
               <a id="backButton" onclick="window.history.go(-1); return false;">Back</a> 
            </nav>

            <br>


        </div>
    </div>

         
      </div>
      <!-- End col -->

 

    <!-- End row-->       
      </div>


</main>
{% endblock %}



