{{<layout}}

{{$pageTitle}}Admin screen{{/pageTitle}}

{{$content}}
<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="feedback">feedback</a> will help us to improve it.</span>
    </p>
  </div>

     <h1 class="heading-xlarge">Claimant messaging and information system</h1>
     <!-- <h2 class="bold-medium">If you have not done so already, below is a list of things we would like you to do before your jobseeker interview to improve your chances of finding work quickly.</h2> -->
  <!--    <h2>Admin h2.</h2> -->

         <!-- Use .form-group to create spacing when wrapping label and input pairs 

            <div class="form-group">
              <label class="form-label" for="title">Title</label>
              <select class="form-control" id="title">
                  <option value="volvo">Mr</option>
                  <option value="saab">Mrs</option>
                  <option value="mercedes">Miss</option>
                  <option value="mercedes">Ms</option>
                  <option value="mercedes">Dr</option>

              </select>
            </div>


Beta proposed core elements.
Personal data – NINO, Mobile (and/or landline) Jobcentre, age cohort, Date of claim, Appointment date/time, claim closure, new claim processed, change of circumstance processed -->

            <div class="form-group">
                <label class="form-label" for="ni-number">Staff number</label>
                <input class="form-control" id="ni-number" type="text">
             </div>     

            <div class="form-group">
              <label class="form-label" for="middle-name">Password</label>
              <input class="form-control" id="middle-name" type="text">
            </div>  

            <div class="form-group">
                <a href="first_login" class="button button-get-started" value="Login">
             <!-- <input class="button button-get-started" value="Start Now"> -->
                Login</a>
            </div>

            <p>Forgotten password? <a href="reset">Reset password</a></p>

    </div>



</main>
{{/content}}

{{/layout}}

