{{<layout}}

{{$pageTitle}}Admin screen{{/pageTitle}}

{{$content}}
<main id="content" role="main">

	<div class="phase-banner">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <nav class="back-nav" role="navigation">
     <a id="backButton" onclick="window.history.go(-1); return false;">Back</a> 
  </nav>

	   <h1 class="heading-large">Password successfully reset</h1>

     <h2>Your new password is <em class="highlight">BL44 BL44</em></h2>

            <div class="form-group">
                <label class="form-label" for="ni-number">Username</label>
                <input class="form-control" id="ni-number" type="text">

              <label class="form-label" for="middle-name">Password</label>
              <input class="form-control" id="middle-name" type="text">

                <a href="password" class="button button-get-started" value="Login">
             <!-- <input class="button button-get-started" value="Start Now"> -->
                Login</a>
            </div>

    </div>



</main>
{{/content}}

{{/layout}}

