// Buttons
// ==========================================================================

.button {
  @include button ($button-colour);
  margin: 0 $gutter-half $gutter-half 0;
  padding: em(10) em(15) em(5) em(15);
  vertical-align: top;
}

// Fix unwanted button padding in Firefox
.button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.button:focus {
  outline: 3px solid $yellow;
}

// Disabled buttons
.button[disabled="disabled"] {
  background: $button-colour;
}

.button[disabled="disabled"]:focus {
  outline: none;
}

// Start now buttons
.button-get-started {
  @include bold-24;
  background-image: file-url("icons/icon-pointer.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  padding: em(7) em(41) em(4) em(16);

  @include device-pixel-ratio {
    background-image: file-url("icons/icon-pointer-2x.png");
    background-size: 30px 19px;
  }

  @include ie(6) {
    background-image: file-url("icons/icon-pointer-2x.png");
  }
}

.postcode-finder {
    padding: em(3.5) em(20.5) em(0) em(8);
    font-size: 1.25em;
}


// EJS File function buttons

.grid {
  float:left;
  overflow:hidden;
}

.grid-1-2 {
  width:50%;
}

.grid-1-4 {
  width:25%;
}

.grid-1-5 {
  width:20%;
}

.grid-1-6 {
  width:16.666%;
}

.left {
  margin-right:15px;
}

.menu-item {
    background: #f8f8f8;
    border-bottom: 1px solid #bfc1c3;
    display: block;
    padding: 15px 30px 0px 30px;
    min-height: 2em;
    margin-bottom: 15px;
    text-decoration: none;
    white-space: nowrap;
}

.grid .selected {
  background: #f2f0f0;
  min-height: 1.85em;
  border-bottom: 5px solid #969799 !important;
  margin-bottom: 11px !important;
}

.grid .disabled {
  color: #cfcfcf;
}

// Secondary button

.secondary-button {
    background-color:#DEE0E2 !important;
    color: #0B0C0C !important;
    box-shadow: 0 2px 0 #6F777B;
}

// NINO Search button

.searchfield {
    position: relative;
}

.searchfield .search-submit {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 50px;
    width: 50px;
    overflow: visible;
    cursor: pointer;
}

.searchfield input {
    font-family: "proxima_nova", Arial, sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 93%;
    width: -webkit-calc(100% - 49px);
    width: calc(100% - 49px);
    margin: 0;
    padding: 0 0 0 10px;
    display: block;
    height: 50px;
    border-color: #bfc1c3;
    border-right: none;
  }

.searchfield button {
    border-radius: 0;
    position: absolute;
    z-index: 4;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    border: none;
    overflow: hidden;
    text-indent: -5000px;
    color: #fff;
    background-color: #005ea5;
    background-image: url('/public/images/search-button.png');
    background-repeat: no-repeat;
    background-position: -12.5% 50%;
}

 .searchfield button:hover {
  background-color: #004f8b;
}


