// Layout
// ==========================================================================

// Content
// ==========================================================================

#content {
  @extend %site-width-container;
  @extend %contain-floats;
  padding-bottom: $gutter;
  @include media(desktop) {
    padding-bottom: $gutter*3;
  }
}


// Phase banner
// ==========================================================================

.phase-banner  {
  @include phase-banner(alpha);
}


// Grid layout
// ==========================================================================

// Usage:
// For two equal columns

// <div class="grid-row">
//   <div class="column-half">
//
//   </div>
//   <div class="column-half">
//
//   </div>
// </div>

// Use .grid-row to define a row for grid columns to sit in
.grid-row {
  @extend %grid-row;
}

// Use .grid-column to create a grid column with 15px gutter
// By default grid columns break to become full width at tablet size
.column-quarter {
  @include grid-column( 1/4 );
}
.column-half {
  @include grid-column( 1/2 );
}
.column-third {
  @include grid-column( 1/3 );
}
.column-two-thirds {
  @include grid-column( 2/3 );
}

// Nasty column hack for full-width view
.column {
  width:100% !important;
  padding: 0 15px;
  }

// Equally nasty main div hack for same purpose
#content {
  width:95% !important;
  max-width:95% !important;
  padding-bottom:0 !important;
}

//Hide global header for internal admin system 

.header-global {
  display:none !important;
}

#global-header.with-proposition .header-wrapper .header-proposition .content {
  margin:0px 0 0 5px !important;
}

#global-header-bar {
display:none !important;
}

#global-header .header-wrapper {
  max-width:none;
}

.footer-meta {
  display:none !important;
}

// Left-aligned nav hackiness
.column-quarter {
  float: left;
  width: 15%;
  min-height: 900px;
  padding-left: 0 !important;
  padding-right: 0 !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #F8F8F8;
  border-right: 1px solid #bfc1c3;
}

// Left-aligned nav hackiness
.column-three-quarters {
  float: left;
  width: 85%;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.main-nav li {
  margin-bottom: 5px;
  padding: 10px 0 10px 35px; }

.main-nav li a {
  padding: 10px;
  width: 100%; }

.main-nav li.selected a {
  text-decoration: none;
  color: white; }

.main-nav li.selected {
  text-decoration: none;
  color: white;
  background-color: #00beb7; }

.main-nav li.selected a:hover {
  text-decoration: underline; }

.main-nav a {
  color: black;
  font-size: 19px;
  text-decoration: none; }

.main-nav a:hover {
  text-decoration: underline; }

.home li#main-nav-home, .todolist li#main-nav-todo-list, .claimants li#main-nav-claimants, .colleagues li#main-nav-colleagues {
  text-decoration: none;
  background-color: #28A197; }

.home li#main-nav-home a, .todolist li#main-nav-todo-list a, .claimants li#main-nav-claimants a, .colleagues li#main-nav-colleagues a {
  color: white; }

.bread {
  padding:15px !important;
}


