// Kindly donated from UC team - tabs
// ==========================================================================

.tabs {

	padding:15px 10px 10px 0;
  margin:0 0 10px 15px;
	border-bottom: solid 1px #BFC1C3;

	li {
		display: inline;
  		margin-right: 30px;
  		padding-bottom: 5px;
  		color: #005ea5;

  		a {
  			text-decoration: none;
  		}

       a.disabled {
        color: #cfcfcf;
      }
	}

	li.selected {
  		border-bottom: solid 5px #28A197; 
  		color: #0B0C0C;

  		a {
  			color: #0B0C0C;
		}

	}

}
