{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK prototyping kit
{% endblock %}

{% block propositionHeader %}
  {% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block content %}
  <main id="content" role="main">

    <div class="grid-row">        

      <div class="column-quarter grid-col" style="padding-bottom:90px; padding-top:30px; margin-left:-40px">
        <ul class="main-nav">
          <li id="nav-home"><a href="job">Search</a></li>
          <li id="nav-job"><a href="job_new">Create record</a></li>
          <li id="nav-case"><a href="performance">Caseload</a></li>
          <li id="nav-dash"><a href="performance_dash">Dashboard</a></li>
          <li id="nav-perf"><a href="performance_cohort">Site performance</a></li>
          <li id="nav-off" class="selected"><a href="workcoach_performance_view_onflow">Work coach performance</a></li>
        </ul>
      </div> 

      <!-- Start three quarters container for main content columns -->
      <div class="column-three-quarters">

        <h1 class="heading-large">Liverpool Aug 16 performance - JSA</h1>

        <div class="column">   

          <div id="container">

            <table class="dataTable">
              <thead>
                <tr>
                  <th>&nbsp;</th>
                  <th class="nino no-sort">On-flow</th>
                  <th class="nino no-sort">Off-flow</th>
                  <th class="nino no-sort">&#37; achieved</th>  
                  <th class="nino no-sort">Into work &#37;</th>      
                  <th class="nino no-sort">To standard</th>                  
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Gary Boyle</td>
                  <td>6</td>
                  <td>3</td>
                  <td>50</td>
                  <td>50</td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>Steve Currie</td>
                  <td>5</td>
                  <td>2</td>
                  <td>40</td>
                  <td>40</td>
                  <td>4</td>
                </tr>
                <tr>
                  <td>Grant Allen</td>
                  <td>7</td>
                  <td>3</td>
                  <td>42.85</td>
                  <td>42.85</td>
                  <td>3</td>
                </tr>
                <tr>
                  <td class="year_date">Year to date</td>
                  <td class="year_date">70</td>
                  <td class="year_date">35</td>
                  <td class="year_date">45</td>
                  <td class="year_date">45</td>
                  <td class="year_date">36</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div> 
      </div>  
    </div>
  </main>
{% endblock %}