{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototyping kit
{% endblock %}

{% block propositionHeader %}
  {% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block content %}

<script src="/public/javascripts/vendor/jquery.min.js"></script>

<main id="content" role="main">
  
  {% include "includes/main_nav.html" %}
  <br>
  {% include "includes/summary_nav.html" %}

  <div class="main-content"> 
    <h1 class="heading-large">Appointment - Mr J. Smith</h1>
    {% if not data.newAppt %}
      <h2 class="heading-medium">Current status is:  {{data.appointmentForUpdate.apptStatus}}</h2>
    {% endif %}
    <br>
  	<div class="grid-row">
      {% set currentClaimantPage = 'appointments' %}

  		<div class="column-half">
        <form action="/appointments/edit" method="POST" class="form">
          <input type="hidden" name="id" value="{{data.appointmentForUpdate.id}}" />

          <div class="form-group">
            <fieldset class="inline">
              <legend class="form-label-bold">Appointment type</legend>

                <select class="select form-control" name="appt-type" id="appt-type">
                  <option value="">Select</option>
                  <option value="Face-to-face" {{ 'selected' if  data.appointmentForUpdate.apptType === 'Face-to-face' else ''}}>Face-to-face</option>
                  <option value="Telephone" {{ 'selected' if  data.appointmentForUpdate.apptType === 'Telephone' else ''}}>Telephone</option>
                  <option value="Digital" {{ 'selected' if  data.appointmentForUpdate.apptType === 'Digital' else ''}}>Digital</option>
                </select>

            </fieldset>
          </div>

          <div class="form-group form-date" id="appt-date-group">
            <legend class="form-label-bold">Date</legend>
            <p class="form-hint">For example, 01 09 2017</p>

              <div class="form-group form-group-day">
                <label for="appt-day">Day</label>
                <input type="text" class="form-control" id="appt-day" name="appt-day" value="{{data.appointmentForUpdate.apptDateDay}}">
              </div>
              <div class="form-group form-group-month">
                <label for="appt-month">Month</label>
                <input type="text" class="form-control" id="appt-month" name="appt-month" value="{{data.appointmentForUpdate.apptDateMonth}}">
              </div>
              <div class="form-group form-group-year">
                <label for="appt-year">Year</label>
                <input type="text" class="form-control" id="appt-year" name="appt-year" value="{{data.appointmentForUpdate.apptDateYear}}">
              </div>

          </div>

          <div class="form-group form-date" id="appt-time-group">
            <legend class="form-label-bold">Time</legend>
            <p class="form-hint">For example, 10 45</p>

            <div class="form-group form-group-day">
              <label for="appt-time-hrs"></label>
              <input type="text" class="form-control" id="appt-time-hrs" name="appt-time-hrs" value="{{data.appointmentForUpdate.apptTimeHrs}}">
            </div>
            <div class="form-group form-group-day">
              <label for="appt-time-mins"></label>
              <input type="text" class="form-control" id="appt-time-mins" name="appt-time-mins" value="{{data.appointmentForUpdate.apptTimeMins}}">
            </div>

          </div>

          <div class="form-group">
            <fieldset class="inline">
              <legend class="form-label-bold">Appointment description</legend>

              <select class="select form-control" name="appt-description" id="appt-description">
                <option value="">Select</option>
                <option value="Provision referral" {{ 'selected' if  data.appointmentForUpdate.apptDescription === 'Provision referral' else ''}}>Provision referral</option>
                <option value="Provision discussion" {{ 'selected' if  data.appointmentForUpdate.apptDescription === 'Provision discussion' else ''}}>Provision discussion</option>
                <option value="Provision sanction" {{ 'selected' if  data.appointmentForUpdate.apptDescription === 'Provision sanction' else ''}}>Provision sanction</option>
                <option value="Work focussed interview" {{ 'selected' if  data.appointmentForUpdate.apptDescription === 'Work focussed interview' else ''}}>Work focussed interview</option>
                <option value="Advisor discretionary fund (ADF)" {{ 'selected' if  data.appointmentForUpdate.apptDescription === 'Advisor discretionary fund (ADF)' else ''}}>Advisor discretionary fund (ADF)</option>
                <option value="Group information discussion" {{ 'selected' if  data.appointmentForUpdate.apptDescription === 'Group information discussion' else ''}}>Group information discussion</option>
              </select>
            </fieldset>
          </div>

          <div class="form-group">
            <fieldset class="inline">
              <legend class="form-label-bold">Immediate ?</legend>

              <select class="select form-control" name="appt-immediate" id="appt-immediate">
                <option value="">Select</option>
                <option value="No" {{ 'selected' if  data.appointmentForUpdate.apptImmediateMarker === 'No' else ''}}>No</option>
                <option value="Yes" {{ 'selected' if  data.appointmentForUpdate.apptImmediateMarker=== 'Yes' else ''}}>Yes</option>
              </select>
            </fieldset>
          </div>

          <div class="form-group" id="appt-status-group">
            <fieldset class="inline">

              {% if data.appointmentForUpdate.apptStatus === 'Booked' or data.appointmentForUpdate.apptStatus === 'Re-booked' %}
              <legend class="form-label-bold">Status</legend>
              {% endif %}

              {% if data.appointmentForUpdate.apptStatus === 'Booked' %}
              <label class="block-label selection-button-radio" for="rebooked" >
                <input id="rebooked" type="radio" name="appt-status" value="Re-booked" {{ 'checked' if  data.appointmentForUpdate.apptStatus === 'Re-booked' else ''}}>
                Re-booked
              </label>
              {% endif %}

              {% if data.appointmentForUpdate.apptStatus === 'Booked' or data.appointmentForUpdate.apptStatus === 'Re-booked' %}
              <label class="block-label selection-button-radio" for="attended" >
                <input id="attended" type="radio" name="appt-status" value="Attended" {{ 'checked' if  data.appointmentForUpdate.apptStatus === 'Attended' else ''}}>
                Attended
              </label>
              <label class="block-label selection-button-radio" for="fta">
                <input id="fta" type="radio" name="appt-status" value="Failed to attend" {{ 'checked' if  data.appointmentForUpdate.apptStatus === 'Failed to attend' else ''}}>
                Failed to attend
              </label>
              {% endif %}

            </fieldset>
          </div>

          <div class="form-group">
              <input type="submit" class="button" value="Save">
          </div>
        </form>
      </div>     
    </div>    
  </div>
</main>
{% endblock %}
