{{<layout}}

{{$pageTitle}}
  GOV.UK prototyping kit
{{/pageTitle}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$content}}


<main id="content" role="main">

 <div class="grid-row">        

           <div class="column-quarter grid-col" style="padding-bottom:90px; padding-top:30px; margin-left:-40px">
              <ul class="main-nav">
                <li id="nav-job"><a href="job">Jobcentre</a></li>
                <li id="nav-benefit" class="selected"><a href="benefit">Benefit centre</a></li>
                <li id="nav-admin"><a href="#">Admin</a></li>
                <li id="nav-stats"><a href="#">Stats</a></li>
              </ul>
      </div>

  <!-- Start three quarters container for main content columns -->
  <div class="column-three-quarters">


        <p class="font-xsmall bread"><a href="login">Home</a>&nbsp;>&nbsp;<a href="benefit">Benefit centre</a>&nbsp;>&nbsp;Maintenance</p> 

         <h1 class="heading-large">&nbsp;&nbsp;Maintain claim #310 - John Smith</h1>
         <!-- <h2 class="bold-medium">If you have not done so already, below is a list of things we would like you to do before your jobseeker interview to improve your chances of finding work quickly.</h2> -->

             <ul class="tabs">
                <li><a href="benefit">Start search</a></li>
                <li><a href="benefit_advanced">Advanced search</a></li>
                <li><a href="benefit_new">Create record</a></li>
      <!--          <li><a href="benefit_edit">Edit record</a></li>
                <li><a href="maintenance">Maintenance</a></li>
                <li><a href="payment">Payment</a></li>
                <li><a href="closure">Closure</a></li>   -->    
             </ul> 

               <div class="column">   

        <br>

        <!-- 3rd level nav buttons -->
            <div id="id-claimant-actions" class="grid-wrapper gutter-half-top">

                <div class="grid grid-1-5">
                  <div class="inner-block left">
                    <a id="view_record" href="benefit_record_confirm" class="menu-item">
                      <strong>View record</strong>
                    </a>
                  </div>
                </div>

                <div class="grid grid-1-5">
                  <div class="inner-block left">
                    <a id="edit_record" href="benefit_edit" class="menu-item">
                      <strong>Edit record</strong>
                    </a>
                  </div>
                </div>

                <div class="grid grid-1-5">
                  <div class="inner-block left">
                    <a id="Maintenance" href="maintenance" class="menu-item selected">
                      <strong>Maintenance</strong>
                    </a>
                  </div>
                </div>

               <div class="grid grid-1-5">
                  <div class="inner-block left">
                    <a id="payment" href="payment" class="menu-item">
                      <strong>Payment</strong>
                    </a>
                  </div>
                </div>

                <div class="grid grid-1-5">
                  <div class="inner-block left">
                    <a id="closure" href="closure" class="menu-item">
                      <strong>Claim closure</strong>
                    </a>
                  </div>
                </div>

                

             </div> 

     </div>   


      <div class="column-half">   

             <h3 class="heading-small">Case maintenance</h3>

        <br>

        <div class="form-group">
            <label class="form-label" for="title">Benefit centre</label>
         <!--         <span class="form-hint">Enter claimant postcode, eg LS11 3PH</span>
              <input class="form-control" id="inital" type="text">
              <a href="service_confirm" class="button button-get-started postcode-finder" value="Submit">Find address</a> -->
            <select class="select form-control">
                  <option value="Southampton">Southampton</option>
                  <option value="Bradford">Bradford</option>
                  <option value="Derby">Derby</option>
                  <option value="Liverpool">Liverpool</option>
                  <option value="Manchester">Manchester</option>
                  <option value="Portsmouth">Portsmouth</option>
                  <option value="Southampton">Southampton</option>
                  <option value="Wolverhampton">Wolverhampton</option>           
              </select> 
        </div>    

       <div class="form-group">
            <label class="form-label" for="title">Assigned agent</label>
         <!--         <span class="form-hint">Enter claimant postcode, eg LS11 3PH</span>
              <input class="form-control" id="inital" type="text">
              <a href="service_confirm" class="button button-get-started postcode-finder" value="Submit">Find address</a> -->
              <select class="select form-control">
                  <option value="David Bradshaw">David Bradshaw</option>
                  <option value="Luke Jones">Luke Jones</option>
                  <option value="Rachel Evans">Rachel Evans</option>
                  <option value="Lucy Porter">Lucy Porter</option>
                  <option value="Brian McDermott">Brian McDermott</option>
                  <option value="Kate Briers">Kate Briers</option>
                  <option value="Suzie Smith">Suzie Smith</option>
                  <option value="Paul Shaw">Paul Shaw</option>           
              </select> 
        </div>   

               <div class="form-group">
                 <div class="form-date">
                   <fieldset class="inline">
                        <legend class="form-label">TAM date</legend>
                        <div class="form-group form-group-day">
               <!--     <label class="form-label">Day:</label> -->
                             <select class="select form-control" name="dob_day" id="dob_day">
                                <option value="01" disabled>1</option>
                            </select>
                         </div>   

                        <div class="form-group form-group-month">
                <!--        <label class="form-label">Month:</label> -->
                            <select class="select form-control" name="dob_day" id="dob_day">
                                <option value="09" disabled>Sep</option>                       
                            </select>
                         </div>   

                        <div class="form-group form-group-year">
                  <!--      <label class="form-label">Year:</label> -->
                            <select class="select form-control" name="dob_year" id="dob_year">
                                <option value="2015" disabled>2015</option>                                
                            </select>
                          </div>
                     </fieldset>  
             </div>
        </div>


               <div class="form-group">
                 <div class="form-date">
                   <fieldset class="inline">
                        <legend class="form-label">Received date</legend>
                        <div class="form-group form-group-day">
               <!--     <label class="form-label">Day:</label> -->
                             <select class="select form-control" name="dob_day" id="dob_day">
                                <option selected disabled>Day</option>
                                <option value="01">1</option>
                                <option value="02">2</option>
                                <option value="03">3</option>
                                <option value="04">4</option>
                                <option value="05">5</option>
                                <option value="06">6</option>
                                <option value="07">7</option>
                                <option value="08">8</option>
                                <option value="09">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            </select>
                         </div>   

                        <div class="form-group form-group-month">
                <!--        <label class="form-label">Month:</label> -->
                            <select class="select form-control" name="dob_day" id="dob_day">
                                <option selected disabled>Month</option>
                                <option value="01">Jan</option>
                                <option value="02">Feb</option>
                                <option value="03">Mar</option>
                                <option value="04">Apr</option>
                                <option value="05">May</option>
                                <option value="06">Jun</option>
                                <option value="07">Jul</option>
                                <option value="08">Aug</option>
                                <option value="09">Sep</option>
                                <option value="10">Oct</option>
                                <option value="11">Nov</option>
                                <option value="12">Dec</option>                            
                            </select>
                         </div>   

                        <div class="form-group form-group-year">
                  <!--      <label class="form-label">Year:</label> -->
                            <select class="select form-control" name="dob_year" id="dob_year">
                                <option selected disabled>Year</option>
                                <option value="1999">2015</option>                                
                                <option value="1999">2014</option>                                
                                <option value="1999">2013</option>                                
                                <option value="1999">2012</option>                                
                                <option value="1999">2011</option>                                
                                <option value="1999">2010</option>                                
                            </select>
                          </div>
                     </fieldset>  
             </div>
        </div>

          <div class="form-group">
                 <div class="form-date">
                   <fieldset class="inline">
                        <legend class="form-label">Processed date</legend>
                        <div class="form-group form-group-day">
               <!--     <label class="form-label">Day:</label> -->
                             <select class="select form-control" name="dob_day" id="dob_day">
                                <option selected disabled>Day</option>
                                <option value="01">1</option>
                                <option value="02">2</option>
                                <option value="03">3</option>
                                <option value="04">4</option>
                                <option value="05">5</option>
                                <option value="06">6</option>
                                <option value="07">7</option>
                                <option value="08">8</option>
                                <option value="09">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            </select>
                         </div>   

                        <div class="form-group form-group-month">
                <!--        <label class="form-label">Month:</label> -->
                            <select class="select form-control" name="dob_day" id="dob_day">
                                <option selected disabled>Month</option>
                                <option value="01">Jan</option>
                                <option value="02">Feb</option>
                                <option value="03">Mar</option>
                                <option value="04">Apr</option>
                                <option value="05">May</option>
                                <option value="06">Jun</option>
                                <option value="07">Jul</option>
                                <option value="08">Aug</option>
                                <option value="09">Sep</option>
                                <option value="10">Oct</option>
                                <option value="11">Nov</option>
                                <option value="12">Dec</option>                            
                            </select>
                         </div>   

                        <div class="form-group form-group-year">
                  <!--      <label class="form-label">Year:</label> -->
                            <select class="select form-control" name="dob_year" id="dob_year">
                                <option selected disabled>Year</option>
                                <option value="1999">2015</option>                                
                                <option value="1999">2014</option>                                
                                <option value="1999">2013</option>                                
                                <option value="1999">2012</option>                                
                                <option value="1999">2011</option>                                
                                <option value="1999">2010</option>                                
                            </select>
                          </div>
                     </fieldset>  
                 <br>
                 <br>
                 <br>
                 <br>
                  <a href="maintenance_confirm" class="button button-get-started" value="Submit">Submit</a>
             </div>
        </div>



         
      </div>
      <!-- End col -->

      <div class="column-half">
        <br>
        <br>
        <br>

            <div class="form-group">
                <label class="form-label" for="title">Change of circumstances received</label>
             <!--         <span class="form-hint">Enter claimant postcode, eg LS11 3PH</span>
                  <input class="form-control" id="inital" type="text">
                  <a href="service_confirm" class="button button-get-started postcode-finder" value="Submit">Find address</a> -->
                <select class="select form-control">
                      <option value="Address change">Address change</option>
                      <option value="Partner moved in">Partner moving in</option>
                      <option value="Income change">Income change</option> 
                      <option value="Taking in lodger">Taking in lodger</option> 

                  </select> 
                    <br>
                    <br>
                      <a href="maintenance_confirm" class="button button-get-started" value="Submit">Save and send text</a>
              </div>

   <!--         <div class="form-group">
                <label class="form-label" for="title">Evidence required</label>
                <select class="select form-control">
                      <option value="2 x forms of ID">2 x forms of ID</option>
                      <option value="P45">P45</option>
                      <option value="Home office letters">Home office letters</option>
                      <option value="Wage slips">Wage slips</option>
                      <option value="Bank details">Bank details</option>  
                       <option value="Please arrive 10 mins early">Please arrive 10 mins early</option>
                      <option value="You both need to attend">You both need to attend</option>
                      <option value="Verification of student loan/grant">Verification of student loan/grant</option>                         
                  </select> 
                    <br>
                    <br>
                      <a href="maintenance_confirm" class="button button-get-started" value="Submit">Save and send text</a>
              </div> -->

              <fieldset class="inline">
                  <div class="form-group">
                    <label class="form-label" for="title">Evidence required</label>
                    <input id="id" type="checkbox" class="inline">
                    <label class="form-label" for="id">&nbsp;&nbsp;2 x forms of ID</label>
                    <input id="P45" type="checkbox" class="inline">
                    <label class="form-label" for="P45">&nbsp;&nbsp;P45</label>
                    <input id="Home" type="checkbox" class="inline">
                    <label class="form-label" for="Home">&nbsp;&nbsp;Home office letters</label> 
                    <input id="Wage" type="checkbox" class="inline">
                    <label class="form-label" for="Wage">&nbsp;&nbsp;Wage slips</label>                   
                    <input id="Bank" type="checkbox" class="inline">
                    <label class="form-label" for="Bank">&nbsp;&nbsp;Bank statements</label>
                    
                    <a href="maintenance_confirm" class="button button-get-started" value="Save and send text">Save and send text</a>
                  </div>
              </fieldset> 

              <div class="form-group">
                <label class="form-label" for="title">Evidence received</label>
             <!--         <span class="form-hint">Enter claimant postcode, eg LS11 3PH</span>
                  <input class="form-control" id="inital" type="text">
                  <a href="service_confirm" class="button button-get-started postcode-finder" value="Submit">Find address</a> -->
            <!--    <select class="select form-control">
                      <option value="2 x forms of ID">2 x forms of ID</option>
                      <option value="P45">P45</option>
                      <option value="Home office letters">Home office letters</option>
                      <option value="Wage slips">Wage slips </option>
                      <option value="Bank details">Bank details</option>  
                       <option value="Please arrive 10 mins early">Please arrive 10 mins early</option>
                      <option value="You both need to attend">You both need to attend</option>
                      <option value="Verification of student loan/grant">Verification of student loan/grant</option>                         
                  </select>  -->
          
                      <a href="maintenance_confirm" class="button button-get-started" value="Submit">Send text</a>
              </div>

      </div>

 

    <!-- End row-->       
      </div>


</main>
{{/content}}

{{/layout}}

