{{<layout}}

{{$pageTitle}}Admin screen{{/pageTitle}}

{{$content}}
<main id="content" role="main">


    	<div class="phase-banner">
        <p>
          <strong class="phase-tag">ALPHA</strong>
          <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
      </div>

    	   <h1 class="heading-large">Claimant messaging and information system</h1>
    	   <!-- <h2 class="bold-medium">If you have not done so already, below is a list of things we would like you to do before your jobseeker interview to improve your chances of finding work quickly.</h2> -->


 <div class="grid-row">

    <!--************** Start 1 column **************-->

    <div class="column-third">

          <h3 class="heading-small">EJS Administration</h3>
          <ul>
            <li><a href="#">Create user</a></li>
            <li><a href="#">Data analysis/download</a></li>
            <li><a href="#">Data search/download</a></li>
          </ul>  

        <h3 class="heading-small">Records management</h3>
          <ul>
            <li><a href="#">Enter data</a></li>
            <li><a href="#">View/edit data</a></li>
          </ul>  

    </div>

    <!--************** End 1 column **************-->


    <!--************** Start 2 columns  **************-->

    <h2 class="heading-large">Day one conditionality</h2>

    <div class="column-two-thirds">        

            <div class="form_group">

                <fieldset>
                  <legend class="form-label-bold">First job centre appointment</legend>
                  <br>
                  <p>Select all that apply</p>
                  <label class="block-label" for="checkbox-1">
                    <input id="checkbox-1" type="checkbox" value="email">
                    Email
                  </label>
                  <label class="block-label" for="checkbox-2">
                    <input id="checkbox-2" type="checkbox" value="CV">
                    CV
                  </label>
                  <label class="block-label" for="checkbox-3">
                    <input id="checkbox-3" type="checkbox" value="UJ Account">
                    UJ Account
                  </label>
                  <label class="block-label" for="checkbox-4">
                    <input id="checkbox-4" type="checkbox" value="none">
                    None
                  </label> 
                </fieldset>

            </div> 

            <div class="form-group" id="get-started">
                <br>
                  <a href="#" class="button button-get-started" value="Submit">Submit</a>
             </div>
            
    </div>
    <!--************** End 2 columns  **************-->



  </div>
     <!--************** End 2 grid row  **************-->


</main>
{{/content}}

{{/layout}}

