{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$propositionHeader}}
  {{>includes/propositional_navigation_index}}
{{/propositionHeader}}

{{$content}}

<!-- <style>
    .exciting {
        border: 5px solid #df3034;
        color: #df3034;
        padding: 1em;
        font-size: 2em;
        display: inline-block;
        animation: yay 4s infinite;
        -webkit-animation: yay 4s infinite;
        transition: ease-in 
    }
    
    .exciting h2 {
        font-weight: 800;
    }
    
    .exciting li {
        font-size: 0.75em;
        display: inline-block;
        margin-right: 1em;
    }
    
    @keyframes yay {
        0%  { border-color: #df3034; color: #df3034; }
        33% { border-color: #d53880; color: #d53880; }
        66% { border-color: #f47738; color: #f47738; }
    }
    
    @-webkit-keyframes yay {
        0%  { border-color: #df3034; color: #df3034; }
        33% { border-color: #d53880; color: #d53880; }
        66% { border-color: #f47738; color: #f47738; }
    }
</style> -->

<main id="content" role="main">

	<h1 class="heading-xlarge">EJS prototype</h1>

 


    <div class="grid-row">
        <div class="column-third">
            <h2 class="heading-large">Sprint 1</h2>
            <ul class="bullets">
                <li><a href="/sprint-6/start">Start</a></li>
                <li><a href="/sprint-6/public-sector-links">Public sector pensions</a></li>
                <li>
                    <a href="/sprint-6/pension-types">Pension types</a>
                    <h3 class="heading-small">Work journey</h3>
                    <ul>
                        <li><a href="/sprint-6/work-pension-search">Workplace pension search</a></li>
                        <li><a href="/sprint-6/employer-search-results">Employer results</a></li>
                        <li><a href="/sprint-6/pension-scheme-results">Pension scheme results</a></li>
                        <li><a href="/sprint-6/pension-contact">Pension contact</a></li>
                        <li><a href="/sprint-6/pt2">PT2 Form</a></li>
                    </ul>
                    <h3 class="heading-small">Personal journey</h3>
                    <ul>
                        <li><a href="/sprint-6/personal-pension-search">Personal pension search</a></li>
                        <li><a href="/sprint-6/pension-provider-results">Pension provider results</a></li>
                        <li><a href="/sprint-6/pension-contact">Pension contact</a></li>
                        <li><a href="/sprint-6/pt2">PT2 Form</a></li>
                    </ul>
                    <h3 class="heading-small">'Fail' pages</h3>
                    <ul>
                        <li><a href="/sprint-6/results_fail">Results fail</a></li>
                        <li><a href="/sprint-6/service_fail">Service fail</a></li>
                        <li><a href="/sprint-6/wound_up">Wound-up scheme</a></li>
                        <li><a href="/sprint-6/fail_form">'No results' fail form</a></li>
                        <li><a href="/sprint-6/fail_form_confirm">Fail form confirmation</a></li>
                    </ul>
                      <h3 class="heading-small">Feedback</h3>
                    <ul>
                        <li><a href="/sprint-6/feedback">Feedback</a></li>
                    </ul>
                </li>
            </ul>
        </div>
       
</main>

{{/content}}

{{/layout}}
