{% extends "layout.html" %}

{% block page_title %}Jobseeker Services{% endblock %}

{% block content %}
<main id="content" role="main">

	<div class="phase-banner">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

	   <h1 class="heading-xlarge">Increase your chances of finding work</h1>
	   <!-- <h2 class="bold-medium">If you have not done so already, below is a list of things we would like you to do before your jobseeker interview to improve your chances of finding work quickly.</h2> -->
      <h2>If you have not done so already, below is a list of things we would like you to do before your jobseeker interview to improve your chances of finding work quickly.</h2>
	   <br>
	   <br>


    	<h2 class="bold-medium">1. Have an e-mail account.</h2>
      <div class="text">
        <p>This takes you to a 
          <a rel="external" target="_new" href="https://www.google.co.uk/search?q=creating+e-mail&ie=utf-8&oe=utf-8&aq=t&rls=org.mozilla:en-US:official&client=firefox-a&channel=fflb&gfe_rd=cr&ei=aMflVPzMMciq8wfbrIDABg#rls=org.mozilla:en-US:official&channel=fflb&q=creating+e-mail+account" title="title text" alt="alt text">list of popular free email providers.</a>
        </p>
      </div>


    	<h2 class="bold-medium">2. Create a Universal Jobmatch account.</h2>
      <div class="text">
         <p>This takes you to a 
          <a rel="external" target="_new" href="https://myaccount.gateway.gov.uk/RegisterOrLogon.aspx?gwv=1.0&gwrealm=urn:TransformingLabourMarketServices&gwlang=en-GB&gwtheme=directgov&gwcategory=IND&gwaction=REGISTER_UID&gwreply=https%3a%2f%2fjobsearch.direct.gov.uk%2fFedHandler.ashx&gwreplytext=Universal+Jobmatch" title="title text" alt="alt text">Universal Jobmatch registration page.</a>
        </p>
      </div>


    	<h2 class="bold-medium">3. Create a CV.</h2>
      <div class="text">
         <p>This takes you to a 
          <a rel="external" target="_new" href="https://nationalcareersservice.direct.gov.uk/tools/cv/Pages/default.aspx" title="title text" alt="alt text">CV service.</a>
        </p>
      </div>



</main>
{% endblock %}



