{{<layout}}

{{$pageTitle}}Admin screen{{/pageTitle}}

{{$content}}
<main id="content" role="main">

<!--    <div class="phase-banner">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div> -->

<!-- <style>
    .exciting {
        border: 5px solid #df3034;
        color: #df3034;
        padding: 1em;
        font-size: 2em;
        display: inline-block;
        animation: yay 4s infinite;
        -webkit-animation: yay 4s infinite;
        transition: ease-in 
    }
    
    .exciting h2 {
        font-weight: 800;
    }
    
    .exciting li {
        font-size: 0.75em;
        display: inline-block;
        margin-right: 1em;
    }
    
    @keyframes yay {
        0%  { border-color: #df3034; color: #df3034; }
        33% { border-color: #d53880; color: #d53880; }
        66% { border-color: #f47738; color: #f47738; }
    }
    
    @-webkit-keyframes yay {
        0%  { border-color: #df3034; color: #df3034; }
        33% { border-color: #d53880; color: #d53880; }
        66% { border-color: #f47738; color: #f47738; }
    }
</style> -->


	<h1 class="heading-large" style:margin-botton:10px;>Enhanced Jobseeker Services - Alpha prototype</h1>

    <div class="grid-row">
        <div class="column-third">
           <h2 class="heading-medium"><em class="highlight">Sprint 1</em></h2>
            <ul class="bullets">
                <li>
                    <h3 class="heading-small">Login screens</h3>
                    <ul>
                        <li><a href="sprint_1/login">Login</a></li>
                        <li><a href="sprint_1/first_login">First login</a></li>
                        <li><a href="sprint_1/reset">Reset</a></li>
                        <li><a href="sprint_1/reset_confirm">Reset confirmation</a></li>
                        <li><a href="sprint_1/logged_in">Logged in - options</a></li>
                    </ul>
                    <h3 class="heading-small">Service Centre</h3>
                    <ul>
                        <li><a href="sprint_1/service_search">Record search</a></li>
                        <li><a href="sprint_1/service_centre_left">Service Centre</a></li>
                        <li><a href="sprint_1/service_confirm">Confirmation</a></li>
                    </ul>
                    <h3 class="heading-small">Job Centre</h3>
                    <ul>
                        <li><a href="#">Link</a></li>
                    </ul>
                    <h3 class="heading-small">Benefit Centre</h3>
                    <ul>
                        <li><a href="sprint_1/benefit">Record search</a></li>
                        <li><a href="sprint_1/benefit_record">Record display</a></li>
                        <li><a href="sprint_1/closure">Closure</a></li>
                        <li><a href="sprint_1/payment">Payment</a></li>
                        <li><a href="sprint_1/maintenance">Maintenance</a></li>
                    </ul>
                      <h3 class="heading-small">Admin</h3>
                    <ul>
                        <li><a href="/sprint-1/feedback">Link</a></li>
                    </ul>
                    <h3 class="heading-small">Management Info</h3>
                    <ul>
                        <li><a href="/sprint-1/feedback">Link</a></li>
                    </ul>
                     <h3 class="heading-small">SMS Template</h3>
                    <ul>
                        <li><a href="/sprint-1/">Link</a></li>
                    </ul>
                </li>
            </ul>
        </div>
       
</main>

{{/content}}

{{/layout}}
