{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototyping kit
{% endblock %}

{% block propositionHeader %}
  {% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block content %}


<main id="content" role="main">

 <div class="grid-row">        

            <div class="column-quarter grid-col" style="padding-bottom:90px; padding-top:30px; margin-left:-40px">
              <ul class="main-nav">
                <li id="nav-home"><a href="login">Home</a></li>
                <li id="nav-job" class="selected"><a href="job">Jobcentre</a></li>
                <li id="nav-benefit"><a href="benefit">Benefit centre</a></li>
                <li id="nav-admin"><a href="#">Admin</a></li>
                <li id="nav-stats"><a href="#">Stats</a></li>
              </ul>
            </div>

  <!-- Start three quarters container for main content columns -->
  <div class="column-three-quarters">


        <p class="font-xsmall bread"><a href="login">Home</a>&nbsp;>&nbsp;<a href="job">Jobcentre</a>&nbsp;>&nbsp;
          <a href="job_new">New record</a>&nbsp;>&nbsp;Record submitted</p> 

         <h1 class="heading-large">&nbsp;&nbsp;Jobcentre - record submitted</h1>

           <ul class="tabs">
                <li><a href="job">Basic search</a></li>
                <li><a href="job_advanced">Advanced search</a></li>
                <li class="selected"><a href="job_new">New record</a></li>
                <li><a href="job_edit">Edit record</a></li>
                <li><a href="job_interview">NJI capture</a></li>
                <li><a href="job_next">Appointments</a></li>               
                <li><a href="job_closure">Closure</a></li>          
             </ul> 


      <div class="column-half">   

        <br>

          <h3 class="heading-small">Claimant details</h3>

           <div>
                <table>
                    <tr>
                        <td>Benefit type:</td>
                        <td>JSA</td>
                    </tr>
                   <tr>
                    <td>Initial date of contact:</td>
                        <td>07/08/2015</td>
                    </tr>
                    <tr>
                        <td>Gender:</td>
                        <td>Female</td>
                    </tr>
                     <tr>
                        <td>Age:</td>
                        <td>07/1970</td>
                    </tr>
                    <tr>
                        <td>Jobcentre:</td>
                        <td>Manchester</td>
                    </tr> 
                    <tr>
                        <td>Nationality:</td>
                        <td>United Kingdom</td>
                    </tr>
                    <tr>
                        <td>Title:</td>
                        <td>Miss</td>
                    </tr>
                    <tr>
                        <td>NINO:</td>
                        <td>XY 45 67 89 A</td>
                    </tr>
                    <tr>
                        <td>Initial:</td>
                        <td>A</td>
                    </tr>
                    <tr>
                        <td>Surname:</td>
                        <td>Harmon</td>
                    </tr>
                    <tr>
                        <td>Mobile number:</td>
                        <td>07884 566 982</td>
                    </tr>
                </table>
           </div> 

          <br>
          <br>
     
            <div class="form-group" id="get-started">
               <a href="job_edit" class="button button" value="Edit">Edit</a>
                  <a href="job_interview" class="button button" value="Interview">NJI capture</a>
                  <a href="job_next" class="button button" value="Appointments">Appointments</a>
                  <a href="job_closure" class="button button" value="Closure">Closure</a>
             </div>

            <nav class="back-nav" role="navigation">
               <a id="backButton" onclick="window.history.go(-1); return false;">Back</a> 
            </nav>

            <br>            
         
      </div>
      <!-- End col -->

      <!-- Start col -->      
      <div class="column-half">    
       


       <!-- End column-->       
       </div>

    <!-- End row-->       
      </div>


</main>
{% endblock %}



