{% extends "layout.html" %}

{% block pageTitle %}Admin screen{% endblock %}

{% block propositionHeader %}
  {{>includes/propositional_navigation_sprint_6}}
{% endblock %}

{% block content %}

<main id="content" role="main">


    	<div class="phase-banner">
        <p>
          <strong class="phase-tag">ALPHA</strong>
          <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
      </div>

  <nav class="back-nav" role="navigation">
     <a id="backButton" onclick="window.history.go(-1); return false;">Back</a> 
  </nav>

           <h1 class="heading-large">Service centre - confirm data submission</h1>
    	   <!-- <h2 class="bold-medium">If you have not done so already, below is a list of things we would like you to do before your jobseeker interview to improve your chances of finding work quickly.</h2> -->

 <div class="grid-row">

    <!--************** Start 1 column **************

    <div class="column-third">

          <h3 class="heading-small">EJS Administration</h3>
         <ul>
            <li><a href="#">Create user</a></li>
            <li><a href="#">Data analysis/search</a></li>
          </ul> 

        <h3 class="heading-small">Records management</h3>
          <ul>
            <li><a href="#">Enter data</a></li>
            <li><a href="#">View/edit data</a></li>
          </ul>  

    </div>

    ************** End 1 column ************** -->

    <!--************** Start 2 columns  **************-->

    <div class="column-two-thirds">    

          <h3 class="heading-small">Submission information</h3>

            <div>
                <table>
                    <tr>
                        <td>Form:</td>
                        <td>Claimant messaging and information system</td>
                    </tr>
                    <tr>
                        <td>Submitted by:</td>
                        <td>Louis Pitchford</td>
                    </tr>
                    <tr>
                        <td>Time:</td>
                        <td>Friday 20th March 2015 - 4:39pm</td>
                    </tr>
                    <tr>
                        <td>ID:</td>
                        <td>62.134.56.4</td>
                    </tr>
                </table>


         <!--       <p>Form: </p>
                <p>Submitted by: </p>
                <p></p>
                <p></p>    -->

            </div>

           <br>


          <h3 class="heading-small">Contact details</h3>

           <div>
                <table>
                    <tr>
                        <td>NINO:</td>
                        <td>JC 45 85 96 X</td>
                    </tr>
                    <tr>
                        <td>Nationality:</td>
                        <td>United Kingdom</td>
                    </tr>
                    <tr>
                        <td>Contact number:</td>
                        <td>04585 747 358</td>
                    </tr>
                    <tr>
                        <td>Job Centre:</td>
                        <td>Bambury</td>
                    </tr>
                    <tr>
                        <td>Age group:</td>
                        <td>18-25</td>
                    </tr>
                     <tr>
                        <td>Benefit type:</td>
                        <td>JSA</td>
                    </tr>
                    <tr>
                    <td>Initial date of contact:</td>
                        <td>14/04/2015</td>
                    </tr>
                     <tr>
                        <td>Job Centre</td>
                        <td>Bambury</td>
                    </tr>
                </table>
           </div> 

<br>
<br>
     
            <div class="form-group" id="get-started">
                  <a href="#" class="button button-get-started" value="Payment">Confirm entry</a>
             </div>

  <nav class="back-nav" role="navigation">
     <a id="backButton" onclick="window.history.go(-1); return false;">Back</a> 
  </nav>


        </div>
    </div>


    <!--************** End 2 columns  **************-->
  </div>


</main>
{% endblock %}



