{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototyping kit
{% endblock %}

{% block propositionHeader %}
  {% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block content %}


<main id="content" role="main">

 <div class="grid-row">        

        <div class="column-quarter grid-col" style="padding-bottom:90px; padding-top:30px; margin-left:-40px">
              <ul class="main-nav">
                <li id="nav-home"><a href="job">Search</a></li>
                <li id="nav-job"><a href="job_new">Create record</a></li>
                <li id="nav-perf"><a href="performance">Performance</a></li>
              </ul>
          </div> 

  <!-- Start three quarters container for main content columns -->
  <div class="column-three-quarters">

         <h1 class="heading-large">&nbsp;&nbsp;Claim closure</h1>

      <div class="column">   


        <!-- 3rd level nav buttons -->
            <div id="id-claimant-actions" class="grid-wrapper gutter-half-top">

                <div class="grid grid-1-5">
                  <div class="inner-block left">
                    <a id="view_record" href="job_record_confirm" class="menu-item">
                      <strong>View record</strong>
                    </a>
                  </div>
                </div>

                <div class="grid grid-1-5">
                  <div class="inner-block left">
                    <a id="edit_record" href="job_edit" class="menu-item">
                      <strong>Edit record</strong>
                    </a>
                  </div>
                </div>

               <div class="grid grid-1-5">
                  <div class="inner-block left">
                    <a id="appointments" href="job_next" class="menu-item">
                      <strong>Appointment</strong>
                    </a>
                  </div>
                </div>

                <div class="grid grid-1-5">
                  <div class="inner-block left">
                    <a id="closure" href="job_closure" class="menu-item selected">
                      <strong>Claim closure</strong>
                    </a>
                  </div>
                </div>

             </div> 

     </div>   



      <div class="column-half">   

              <div class="form-group">
                  <fieldset>
                    <legend>
                      <span class="form-label">
                        Last effective date
                      </span>
                    </legend>
                    <div class="form-date">

                      <p class="form-hint">For example, 01 09 2015</p>

                     <div class="form-group form-group-day">
                        <label for="dob-day">Day</label>
                        <input class="form-control" id="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
                      </div> 

                      <div class="form-group form-group-month">
                        <label for="dob-month">Month</label>
                        <input class="form-control" id="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
                      </div>

                      <div class="form-group form-group-year">
                        <label for="dob-year">Year</label>
                        <input class="form-control" id="dob-year" type="number" pattern="[0-9]*" min="0" max="2014">
                      </div>
                    </div>

                  </fieldset>
              </div>  

            <div class="form-group">
              <label class="form-label" for="circs">Claim closure reasons</label>
              <select class="select form-control" id="circs">
                  <option value="Select">Select</option>
                  <option value="Found work">Found work</option>
                  <option value="Self employed">Self employed</option>
                  <option value="Failed to attend">Failed to attend</option>
                  <option value="Gone abroad">Gone abroad</option>
                  <option value="Other">Other</option>
                  <option value="To JSA">To JSA</option>
                  <option value="To ESA">To ESA</option>
                  <option value="To IS">To IS</option>
                  <option value="To Pension">To Pension</option>
              </select>
            </div>
       
            <div class="form-group" id="get-started">
                  <a href="job_record_confirm" class="button" value="Save">Save</a>
             </div>

      </div>
      <!-- End col -->

 

    <!-- End row-->       
      </div>


</main>
{% endblock %}



