.stat-over-first {
    min-height: 300px;
    margin-left: -15px;
    border-top: 3px solid #000;
    margin-top: 30px;
    margin-bottom: 10px;
}

.stat {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 0;
}