.dataTables_wrapper {
    position: relative;
    clear: both;
    zoom: 1;
}

table {
  &.dataTable {
    //word-break: break-word;
    
    thead {
      th, td {
        padding: 10px 18px 10px 0;
        border-bottom: 1px solid $black;
      }

      .sorting span,
      .sorting_asc span,
      .sorting_desc span,{
        background-repeat: no-repeat;
        background-position: center right;
        padding-right: 20px;
      }
      .sorting span {
        background-image: url("/public/images/sort_both.png");
      }
      .sorting_asc span {
        background-image: url("/public/images/sort_asc.png");
      }
      .sorting_desc span{
        background-image: url("/public/images/sort_desc.png");
      }

      .sorting, .sorting_asc, .sorting_desc, 
      .sorting_asc_disabled, .sorting_desc_disabled {
        cursor: pointer;
      }
    }
  }

  &.fixedHeader-floating {
    position: fixed !important;
    background-color: white;

    &.no-footer {
      border-bottom-width: 0;
    }
  }

  &.fixedHeader-locked {
    position: absolute !important;
    background-color: white;
  }

}

@media print {
  table.fixedHeader-floating {
    display: none;
  }
}